.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* Design by GKS Web Studio*/
/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2015-10-20 14:36:26 */

input.qty, .form-wrap h2, #form-validate h2, .col-main .page-title h2, .sub-title, .data-table .product-name a, .cart-table .link-wishlist, .cart-table .link-wishlist:hover, .btn-remove, .btn-remove:hover, .header-container .links, .mini-cart .qty-price, .mini-cart .totals, .header-container.type4 .mybag-link i, .header-container.type5 .mybag-link i, .header-container.type6 .mybag-link i, .header-container.type6 .menu-icon, .header-container.type7 .mybag-link i, .header-container.type9 .top-links a, .header-container.type9 .mybag-link i, .header-container.type10 .top-links a, .fixed-header ul.menu > li > a, .main-nav ul.menu > li > a, .fixed-header .mybag-link i, .mobile-nav.side-block .sw-mobile-menu li .open-child, .menu.side-menu > li.menu-static-width > a:after, .menu.side-menu > li.menu-item-has-children > a:after, .menu.side-menu > li.menu-full-width > a:after, .mini-products-list li .product-name a:hover, .block-category-nav .category-list a.plus, .block-category-nav .category-list span.plus, .col-main.filter-products li.item:hover .price-box .price, .review-area .review-by b, .add-to-cart .qty, .cart-table td.td-total .cart-price, .sp-methods .price, .opc .step-title .number, .opc .step-title h2, #opc-review tr td.last .cart-price .price, #wishlist-table .product-name a, #totop, .block.block-related .owl-theme .owl-controls .owl-buttons div, .order-products-table .price, .block-account ul li strong, .block-account ul li a:hover, .block.block-blog-categories a:hover, p .alternative-font, .entry-content h3, .history h4, .block.block-blog-recent ul li a, .postWrapper .post-date .day, .postDetails > span a:hover, .postBookmarks a:hover, .post-share h3, .postComments .postTitle h2, #postComment h4.legend, .cms-index-index .tp-caption.very_large_text, .cms-index-index .tp-caption.large_thin, .cms-index-index .tp-caption.title1, .cms-index-index .tp-caption a.btn-white, .cms-index-index .tp-caption a.btn-white:hover, .slide .product .price, h3.filter-title, .filterproducts-tab .filter-title ul li.active a, .feature-box.secundary .feature-box-icon, .owl-top-narrow .owl-controls .owl-buttons div, .owl-bottom-narrow .owl-controls .owl-buttons div, .recent-posts .post-date .day, .true-color, ul.list.icons li i.icon, .owl-middle-narrow .owl-controls .owl-buttons div, .featured-post h4, .post-a-day, .post-a-year, .owl-theme.banner-carousel .owl-controls .owl-buttons div, .product-options .product-swatches-container .has-swatches a.active, .col-main .page-title h1, .col-main .page-title h2, .product-view .product-options .swatch-attr .select-label, .availability-only strong, .opc-wrapper-opc a:hover, .opc-wrapper-opc .opc-review-actions .view-agreement:hover, .header-container.type9 .main-nav ul.menu > li.act > a, .header-container.type9 .main-nav ul.menu > li:hover > a, .header-container.type10 .main-nav ul.menu > li.act > a, .header-container.type10 .main-nav ul.menu > li:hover > a, .price-excluding-tax .price, .price-including-tax .price, .checkout-progress li.active, .multiple-checkout .place-order .grand-total .price {
	color: #343838;
}
/*
@-moz-keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
@-webkit-keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
@keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
*/
.theme-color {
	color: #000000 !important
}
.theme-hover-color:hover {
	color: #000000 !important
}
.theme-bg-color {
	background-color: #000000 !important
}
.theme-border-color {
	border-color: #ccc !important
}
.theme-hover-bg-color:hover {
	background-color: #000000
}
.sorter .view-mode strong i, .data-table button.button:hover > span, .link-cart:hover, .header-container.type2 .mybag-link, .header-container.type5 .top-links-container, .header-container.type6 .top-links-container, .header-container.type7 .top-links-container, .header-container.type8 .top-links-container, .fixed-header ul.menu > li .nav-sublist-dropdown, .main-nav ul.menu > li .nav-sublist-dropdown, .fixed-header ul.menu > li:hover, .main-nav ul.menu > li:hover, .fixed-header ul.menu > li.act, .main-nav ul.menu > li.act, .fixed-header .menu > li.menu-item .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist, .main-nav .menu > li.menu-item .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist, .mobile-nav.side-block .sw-mobile-menu li:hover > a, .menu.side-menu > li:hover, .menu.side-menu > li.menu-item-has-children .nav-sublist-dropdown, .menu.side-menu > li.menu-item-has-children .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist, .block-category-nav .block-title:hover:before, .price-filter-slider .text-box input.go, .item:hover .details-area .actions a.addtocart, .col-main .category-products .products-list li.item .details-area .actions a.addtocart, .cart .crosssell button.button:hover > span, .cart .discount h2:hover:before, .cart .shipping h2:hover:before, .block.block-facebook-like .block-title a.btn-like, .btn-primary, .contacts-index-index .col-main .contact-info i, .block.block-blog-tags ul li a:hover, .postWrapper .post-date .month, .feature-box .feature-box-icon, .full-screen-slider .item > div.content .sale-bar a .icon-angle-down, .recent-posts .post-date .month, .post-a-month, .owl-theme .owl-controls .owl-page.active span, .footer-ribbon, .owl-theme .owl-controls.clickable .owl-page:hover span, .btn-default, .btn-default:hover, a.quickview-icon, .product-options .product-swatches-container .has-swatches a.active.selected, .cms-index-index blockquote.testimonial, .expand_plus, .review-menu-block a.review-total {
	background-color: #343838
}
.sorter .view-mode a:hover i {
	color: #0ca5b0;
	background-color: inherit;
}
.sorter .view-mode strong i, .data-table button.button:hover > span, .link-cart:hover, .col-main .category-products .products-list li.item .details-area .actions a.addtocart, .cart .crosssell button.button:hover > span, .cart .discount h2:hover:before, .cart .shipping h2:hover:before, .btn-primary, i.ajax-loader, #narrow-by-list dd .swatch-link:hover .swatch-label, .configurable-swatch-list .hover .swatch-link, .configurable-swatch-list .selected .swatch-link, .swatch-link:hover, .block-layered-nav #narrow-by-list ol.swatches li a:hover .layered-navigation-swatch, .opc-wrapper-opc #opc-review-block, #newsletter_popup {
	border-color: #000000
}
.form-wrap, #form-validate, .option-detail .item-options, .header-container.type2, .header-container.type4, .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown, .main-nav .menu > li.menu-full-width .nav-sublist-dropdown, .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown, .main-nav .menu > li.menu-static-width .nav-sublist-dropdown, .block.block-subscribe.home-sidebar-block, .history .featured-box .box-content, .homepage-grid-banner .ribbon:before, .owl-banner-carousel .content.type2 h2, .featured-box .box-content, .cms-index-index .testimonial-arrow-down, #success-message-container, .checkout-progress li.active, .form-wrap, #form-validate, #login-form {
	border-top-color: #0CA5B0
}
.availability-only span, .availability-only a, .prev-next-products .product-nav .product-pop:before {
	border-bottom-color: #000000
}
.opc-wrapper-opc #opc-review-block:before {
	border-bottom-color: #000000 !important
}
.menu.side-menu > li .nav-sublist-dropdown {
	border-left-color: #000000
}
@media (max-width: 1199px) {
	.owl-banner-carousel .content.type2 h2 {
		border-top-color: #000000
	}
}
@media (max-width: 991px) {
	.header-container.type5 .top-links-icon, .header-container.type5 .top-links-icon a {
		color: #000000
	}
	.owl-banner-carousel .content.type2 h2 {
		border-top-color: #000000
	}
}
@media (max-width: 767px) {
	.owl-banner-carousel .content.type2 h2 {
		border-top-color: #000000
	}
}
.header-container .top-links-container {
	background-color: transparent;
}
.header-container {
	background-color: transparent;
}
.header-container.type2 .main-nav .menu-wrapper,
.header-container.type3 .main-nav,
.header-container.type4 .main-nav .menu-wrapper,
.header-container.type9 .main-nav .menu-wrapper,
.header-container.type10 .header-wrapper {
	background-color: #343838;
}
.header-container .main-nav ul.menu > li > a {
	color: #ffffff;
}
.header-container .main-nav ul.menu > li:hover,
.header-container .main-nav ul.menu > li.act,
.header-container .main-nav ul.menu > li.open-drop{
	background-color: #c91842 !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #ffffff !important;
}
.main-nav .menu > li.menu-full-width .nav-sublist-dropdown, .main-nav .menu > li.menu-static-width .nav-sublist-dropdown, .fixed-header .menu > li.menu-full-width .nav-sublist-dropdown, .fixed-header .menu > li.menu-static-width .nav-sublist-dropdown {
}
.fixed-header .menu > li,
.main-nav .menu > li {
	font-size: 14px;
	line-height: 17px;
	vertical-align: middle;
}
.main-nav .menu {
	border-bottom: none;
	height: auto;
}
.header-container.type4 .main-nav ul.menu>li>a {
	padding-top: 0;
	padding-bottom: 0;
	height: 49px;
}
.main-nav .menu a {
	color: #fff;
}
.main-nav ul.menu > li > a > span {
	display: table-cell;
	height: 47px;
	vertical-align: middle;
}
.fixed-header .menu > li.menu-item-has-children .nav-sublist-dropdown .container ul > li:hover > a,
.main-nav .menu > li.menu-item-has-children .nav-sublist-dropdown .container ul > li:hover > a, .menu.side-menu li.menu-item-has-children .nav-sublist-dropdown .container ul > li:hover > a {
	background-color: #292d2d;
	color: #c91842;
}
.footer-middle {
	background-color: #f5f5f5;
}
.footer-middle, .footer-middle p, .footer-middle .contact-info i {

}
.footer-middle a {
	color: #0ca5b0;
}
.footer-middle a:hover {
	color: #0ca5b0;
	text-decoration: underline;
}
.footer-middle .block .block-title strong {
	color: #343838;
}
.footer-middle .links i.theme-color, .footer-middle .features i.theme-color {
	color: #bbbbbb !important;
}
.margin-right-35 {
	margin-right: 35px;
}
.margin-right--35 {
	margin-right: -35px;
}
.footer-middle-2 {
	background-color: #f5f5f5;
	padding: 12px 0 0 0;
}
.footer-middle-2, .footer-middle-2 p, .footer-middle-2 .contact-info i {
	color: #343838;
}
.footer-middle-2 a {
	color: #0ca5b0;
}
.footer-middle-2 a:hover {
	color: #0ca5b0;
	text-decoration: underline;
}
.footer-middle-2 .block .block-title strong {
	color: #343838;
}
.footer-middle-2 .links i.theme-color, .footer-middle-2 .features i.theme-color {
	color: #bbbbbb !important;
}
/* Footer 2nd links - left block */
.footer-middle-2 .links-block {
	display: inline-block;
	margin-right: 15px;
	text-align: left;
	float: left;
	line-height: 14px;
}
.footer-middle-2 .links-block li a {
	color: #343838;
}
.footer-middle-2 .links-block li.header {
	margin-bottom: 5px;
}
.footer-middle-2 .links-block li.header a {
	color: #0ca5b0;
}
.footer-middle-2 .home-links {

}
.footer-middle-2 .store-links {
	width: 110px;
}
.footer-middle-2 .about-links {
	width: 120px;
}
.footer-middle-2 .delivery-links {

}
.footer-middle-2 .info-links {
	width: 152px;
}
.footer-middle-2 .action-links {

}
.footer-middle-2 .contact-links {
	width: 84px;
}
.footer-middle-2 .newsletter {
	width: 380px;
	margin-left: -75px;
	/*background-color: #eeeeee;*/
	padding: 5px;
}
.footer-middle-2 .newsletter .newsletter-content {
	margin-bottom: 12px;
	margin-top: -12px;
}
.footer-middle-2 .form-language {
	margin-right: 6px;
}
.footer-middle-2 .form-language a {
	font-size: 14px;
	color: #343838;
	float: right;
	opacity: 0.6;
	padding: 10px 4px;
	text-decoration: none;
	text-transform: none;
	margin: 8px 10px;
}
.footer-middle-2 .form-language a.selected, .footer-middle-2 .form-language a:hover {
	opacity: 1;
	background-color: #fff;
}
.footer-middle-2 .form-language a img {
	width: 23px;
	height: 15px;
	margin-right: 5px;

}
.footer-bottom {
	background-color: #f5f5f5;
}
.footer-bottom, .footer-bottom p {
	color: #343838;
}
.footer-bottom a {
	color: #bbbbbb;
}
.footer-bottom a:hover {
	color: #bbbbbb;
}
#totop {
}
#totop:hover {
}
.page {
	background-color: #ffffff;

	background-position: top center;
	background-repeat: repeat-x;;
}
.product-view .box-up-sell > h2 span {
	background-color: #ffffff;
}
.bubble {
	position: absolute;
	top: 40px;
	left: 50%;
	width: 482px;
	padding: 10px;
	margin: 0 0 0 -241px;
	background: #f5f5f5;
	border: #cccccc solid 1px;
	text-align: left;
	font-size: 14px;
	opacity: 0.9;
	-webkit-box-shadow: 7px 7px 3px -3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 7px 7px 3px -3px rgba(0, 0, 0, 0.2);
	box-shadow: 7px 7px 3px -3px rgba(0, 0, 0, 0.2);
	display: none;
}
.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 17px;
	border-color: #f5f5f5 transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -17px;
	left: 225px;
}
.bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 17px;
	border-color: #cccccc transparent;
	display: block;
	width: 0;
	z-index: 0;
	top: -18px;
	left: 225px;
}
.pointer {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 17px;
	border-color: #f6f6f6 transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -17px;
	left: 225px;
}
.pointerBorder {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 17px;
	border-color: #cccccc transparent;
	display: block;
	width: 0;
	z-index: 0;
	top: -18px;
	left: 225px;
}
.bubble .block {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 10px;
	line-height: 16px;
	margin: 0;
}
.bubble .block .block-title {
	font-size: 14px;
	font-weight: 400;
}
.bubble .block .block-content {
	font-size: 14px;
	font-weight: 700;
}
.cart .page-title h3 {
	color: #c91842;
	font-size: 18px;
	font-weight: 700;
	text-transform: none;
}
.footer-middle p.phone {
	float: right;
	font-weight: 700;
	position: relative;
	left: -22px;
}
.block .block-title strong span {
	font-size: 12px;
	text-transform: uppercase;
}
.footer-middle p:last-child {
	margin-bottom: 16px;
}
.footer-middle p.address {
	float: left;
}
/*.margin-right-35 {
	margin-right: 35px;
}*/
.footer-middle {
	padding: 21px 0 0 0;
	font-size: 12px
}
html, body {
	background-color: #fff;
	font: 16px/1 'Open Sans', sans-serif;
	color: #343838;
	text-align: center
}
.footer-middle p {
	color: #343838;
}
.footer-middle .block .block-content span {
	float: left;
	margin-top: -4px;
	margin-left: -4px;
	font-size: 26px;
}
.header > .logo {
	margin: -37px 0 0;
	display: inline-block;
	vertical-align: middle;
	width: 150px;
}
.header .logo img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
.header-container .header-wrapper {
	margin-bottom: 0;
	background: #343838 !important;
	min-height: 49px;
}
.main-nav {
	background-color: transparent;
	border: 0;
	padding: 0;
	text-align: left;
	position: relative;
	margin: 0;
}
.main-nav.container {
	width: 100%;
	padding: 0;
}
.fixed-header .menu, .main-nav .menu {
	font-size: 0;
}
.header .form-search {
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	position: relative;
	width: 100%;
	padding: 0 0 0 40px;
	background: #fff;
}
.header .form-search label {
	float: left;
	width: 24px;
	height: 21px;
	text-align: left;
	text-indent: -999em;
	overflow: hidden;
	display: none;
}
.header .form-search #search {
	border: 0;
	height: 38px;
	background: none;
	padding: 10px 15px 10px 0;
	color: #b6b6b6;
	font: italic 14px/20px 'Open Sans', sans-serif;
	width: 100%;
	margin: 0;
	border-radius: 0;
}
.header .form-search button.button {
	width: 40px;
	height: 40px;
	color: #777;
	background: none;
	font-size: 14px;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 0;
}
.cart-area {
	float: right;
}
.top-links-item {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding: 0 11px 0 19px;
}
.top-links-item:before {
	background: #1b1e1e;
	border-radius: 50%;
	content: "";
	height: 6px;
	width: 6px;
	left: 0;
	margin-top: -3px;
	position: absolute;
	top: 50%;
}
.top-links-item:first-child:before {
	display: none;
	padding-left: 0;
}
.header_calls {
	margin-right: 11px;
	display: inline-block;
	position: relative;
}
.button-call {
	font-size: 20px;
	line-height: 23px;
	font-weight: 700;
	cursor: pointer;
}
.header_partner_link {
	display: inline-block;
	font-family: 'Noto Serif', serif;
	src: url(/skin/frontend/smartwave/porto/arti/font/NotoSerif-Regular-webfont.ttf);
	font-size: 14px;
	font-weight: 400;
	vertical-align: middle;
}
.header_partner_link a{
	font-size: 14px !important;
	position: static !important;
	top: 0 !important;
	margin: 0 !important;
}
.header-container .header {padding-top: 37px;}
#footer-newsletter-validate-detail input.input-text {
	width: 175px;
	height: 42px;
	background-color: white;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	box-shadow: inset 0 0 2px white;
	margin-right: 6px;
}
button.button span {
	background: #0CA5B0;
}
input.input-text, textarea {
	padding: 8px;
}
input.input-text, select, textarea {
	background: #fff;
	border: 1px solid #ccc;
	padding: 2px 8px;
	height: 26px;
	color: #777;
	font-size: 13px;
	border-radius: 3px;
}
.footer-middle-2 button.button {
	width: 149px;
	height: 39px;
	margin-top: 14px;

	float: right;
	margin-right: 12px;
}
button.button span span {
	border: 0;
	padding: 0;
	color: inherit;
	border-width: 0;
	background: transparent;
	line-height: inherit;
}
.footer-bottom address {
	float: left;
	line-height: 40px;
	font-size: 12px;
}
.icon-up-open {
	font-size: 15px !important;
	color: #0ca5b0;
}
.block-category-nav .category-list span.plus,
.block-category-nav .category-list a.plus {
	position: absolute;
	top: 9px;
	right: 10px;
	font-size: 16px;
	line-height: 19px;
	height: 19px;
	width: 20px;
	color: inherit;
}
.icon-minus-squared, .icon-plus-squared {
	display: block;
	visibility: visible;
}
.block-layered-nav dd, .block-category-nav .block-content {
	border: none;
}
.home-side-menu-type2 .block-category-nav .block-title {
	display: none;
	/*background-color: #343838;*/
}
.block-category-nav .block-title strong span {
	color: white;
	font-size: 16px;
	font-weight: 400;
	text-transform: none;
}
.block-category-nav .block-content {
	padding: 12px 15px;
}
.home-side-menu-type2 .block-category-nav .block-content {
	padding: 0px;

}
.home-side-menu-type2 .side-block ul.category-list > li:hover > a, .home-side-menu-type2 .side-block ul.category-list > li.opened > a{
	background-color: #0ca5b0;
}
.home-side-menu-type2 > .side-block ul.category-list > li {
	border-bottom: 1px solid #fff;
	padding: 0;
}
.home-side-menu-type2 > .side-block ul.category-list li:hover a, .home-side-menu-type2 > .side-block ul.category-list li:hover a.open-child i, .home-side-menu-type2 > .side-block ul.category-list li.opened a, .home-side-menu-type2 > .side-block ul.category-list li.opened a.open-child i {
	color: #fff;
	text-decoration: none;

}
.home-side-menu-type2 > .side-block {
	border-top: 1px solid #0CA5B0;
	background-color: #f5f5f5;
	border-right: 1px solid #f5f5f5;
}
.home-side-menu-type2 > .side-block ul.category-list > li > a {
	font-size: 16px;
	line-height: 19px;
	color: #383838;
	font-weight: 400;
	display: block;
	padding: 11px 35px 15px 10px;
	border-bottom: 1px solid #edecec;
	position: relative;
}
.home-side-menu-type2 {
	margin-bottom: 12px;
}
.home-side-menu-type2. .block-category-nav .block-content {
	padding: 0px;
}
.home-side-menu-type2 .side-menu-header {
	min-height: 61px;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	background-color: #0ca5b0;
	margin-bottom: 0px;
	border-bottom: 1px solid #FFFFFF;
}
.home-side-menu-type2 .side-menu-header > h2 {
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	padding-top: 15px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 20px;
}
.home-side-menu-type2 > .side-block ul.category-list ul {
	background: #343838;
}
.home-side-menu-type2 > .side-block ul.category-list ul li {
	border-bottom: 1px solid #474a4a;
}
.home-side-menu-type2 > .side-block ul.category-list ul > li:first-child {
	border-top: 0;
}
.home-side-menu-type2 > .side-block ul.category-list li ul li a {
	display: block;
	padding: 14px 10px 13px;
	font-size: 16px;
	line-height: 19px;
	border-bottom: 1px solid #2b2e2e;
}
.side-block ul.category-list li ul li a.has-no-children:hover {
	color: #0ca5b0;
}
.home-side-menu-type2 > .side-block ul.category-list li ul li:hover a {
	color: #0ca5b0;
}
.top-container .category-banner {
	display: none;
}
.popular-block-title {
	text-align: center;
	margin: 0 auto;
	width: 32%;
}
 .category-grid .products-grid li.item .item-area .product-image-area .details-area .product-name a {
	width: 100%;
	text-align: left;
	height: 70px;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	display: block;
	padding-left: 9px;
	padding-top: 11px;
}
 .category-grid .products-grid li.item .details-area {
	margin: 0px;
	min-height: 70px;
	width: 100%;
	text-align: center;
	opacity: 0.8;
	position: absolute;
	background-color: #343838;
	padding: 0px;
	bottom: 0px;
}
.product-name {
	font-size: 16px;
	font-weight: 700;
}
.product-name img {
	width: 80px;
	float: left;
	padding-right: 8px;
}
.products-list .short-desc {
	max-width: 300px;
}
.products-grid .product-stocks {
	position: absolute;
	bottom: 72px;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	left: 20px;
	right: 20px;
}
.category-products li.item .item-area:hover .product-image img {
	border: 1px solid #0ca5b0;
}
#tab_news_contents .category-products li.item .item-area:hover .product-image img  {
    box-shadow:none;
    border:none;
    /*height: 100%;*/
    /*min-height: 144px;*/
}
 .category-products li.item .product-image img {
	width: 100%;
	transition: all 0.3s;
}
.col-main .category-grid .products-grid li.item .item-area .details-area .category-grid-link-more {

	display: none;
}
 .category-grid .products-grid li.item .item-area .details-area .category-grid-link-more:hover {
	display: block;
}
.col-main .category-grid .products-grid li.item .item-area:hover .details-area {
	min-height: 129px;
}
 .category-grid .products-grid li.item .details-area {
	margin: 0px;
	min-height: 70px;
	width: 100%;
	text-align: center;
	opacity: 0.8;
	position: absolute;
	background-color: #343838;
	padding: 0px;
	bottom: 0px;
}
a, .btn-link {
	color: #0ca5b0;
	text-decoration: none;
	transition: all 0.3s;
}
.col-main .category-grid .products-grid li.item .item-area:hover .details-area .category-grid-link-more img {
	margin-top: -6px;
}
 .category-grid .products-grid li.item .item-area:hover .details-area .category-grid-link-more {
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
}
.category-grid .item {
	background: #fff;
}
.category-grid .img-h-top,
.category-grid .img-h-bottom{
	padding: 0 0 30px;
	width: 100%;
}
.category-grid .img-h-bottom {
	padding: 30px 0 0;
}
.category-grid .img-h-top img,
.category-grid .img-h-bottom img {
	display: block;
	width: 100%;
	height: auto;
}
.category-grid .item .ttl {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -30px;
	width: 100%;
	display: table;
	background: #0ca5b0;
	color: #fff;
	text-align: center;
	transition: all .2s;
}
.category-grid .item:hover .ttl {
	color: #343838;
}
.category-grid .item .ttl strong {
	display: table-cell;
	vertical-align: middle;
	height: 60px;
	width: 100%;
	vertical-align: middle;
}
.category-grid .item .lnk-more-holder {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: calc( 50% - 30px);
	background: rgba(52, 56, 56, .9);
	text-align: center;
	transition: all .2s;
	opacity: 0;
}
.category-grid .item:hover .lnk-more-holder {
	opacity: 1;
}
.category-grid .item .lnk-more-holder .category-grid-link-more {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}
a:hover, .btn-link:hover {
	color: #0ca5b0;
	text-decoration: underline;
}
.popular-block-title h1 {
	font-size: 23px;
	color: #131212;
}
/*products */
.product-image-area .actions .actions-container {
	position: relative;
	top: 22%;
	height: 107px;
}
.product-image-area .actions a.productview {
	/*width: 35px;
	height: 35px;*/
	position: relative;
	line-height: 8px;
	width: 89px;
	left: 4%;
	float: left;
	top: 38%;
	font-size: 16px;
	font-weight: 700;
	padding: 0;
	text-align: center;
	color: #fff;
}
.product-image-area .actions a.addtocart {
	position: relative;
	line-height: 8px;
	width: 89px;
	left: 10%;
	float: left;
	top: 39%;
	font-size: 16px;
	font-weight: 700;

	text-align: center;
	color: #fff;
	height: 100px;
}
.product-image-area .actions a span {
	color: #fff;
	/*font-size: 16px;*/
    font-size: 14px;
    line-height: 14px;
	font-weight: 700;
	margin-left: -2px;
	/* display: none;*/
}
.product-image-area .actions {
	text-align: center;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	visibility: hidden;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: rgba(52, 56, 56, 0.8);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.product-image-area .actions .splitter {
	background: url("/skin/frontend/smartwave/porto/images/splitter-white.png") 50% 50%;
	background-repeat: no-repeat;
	background-position: top;
	height: 107px;
	left: 100px;
	margin-left: 2px;
	position: absolute;
	width: 2px;
	font-size: 53px;
	display: inline;
}
.product-image-area .actions .actions-container a.productview:hover i {
	color: #2facb6;
}
.product-image-area .actions a.productview:hover i {
	color: #2facb6;
}
/*.product-image-area .actions a.addtocart {
	/*width: 35px;
	height: 36px;
	line-height: 6px;
 padding-left: 1px;
	font-size: 16px;
	font-weight: 700;
	float: right;
	top: 43px;
	position: relative;
	right: 5%;
	text-align: center;
	color: #fff;
}*/

.product-image-area .actions a {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #fff;
	/* overflow: hidden; */
	text-decoration: none;
	display: inline;
}
.product-image-area .actions .actions-container a.addtocart:hover i, .product-image-area .actions .actions-container a.productview:hover i, .product-image-area .actions .actions-container a.addtocart:hover span, .product-image-area .actions .actions-container a.productview:hover span {
	color: #2facb6;
}
.product-image-area .actions a i {
	color: #fff;
	margin-left: -4px;
	font-style: normal;
}
.price-box {
	position: absolute;
	width: 100%;
	height: 60px;
	left: 0px;
	/*bottom: 96px;*/
    bottom: 61px;
    background-color: #343838;
	padding-top: 10px;
	margin: 0;
}
.price-box .icon-tag {
	color: #c91842;
	position: absolute;
	left: 10%;
	top: 14px;
	font-weight: 400;
	font-style: normal;
}
.regular-price {
	color: #444;
}
.regular-price .price {
	font-weight: 400;
	font-size: 18px;
	color: #fd295b;
	display: inline-block;
	vertical-align: middle;
	line-height: 2;
    margin-left: 10px;
}
 .category-products .products-grid li.item .details-area {
	margin: 0px;
	text-align: center;
	/*background-color: #f5f5f5;*/
	padding: 0px;
}
 .category-products .products-grid li.item .details-area .product-name a {
	width: 100%;
	text-align: left;
	/*height: 98px;*/
    min-height: 60px;
	font-size: 16px;
	color: #383838;
	font-weight: bold;
	display: block;
	padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}
#tab_news_contents .category-products .products-grid li.item .details-area .product-name a {
    height: auto;
}
.product-image-area .actions .actions-container {
	position: relative;
	top: 22%;
	height: 107px;
}
.item-area:hover a.quickview-icon {
	opacity: 1;
	visibility: hidden;
}
.product-image-area .actions a {
	background: none;
}
 .category-products .products-grid li.item:hover .item-area {
	-webkit-box-shadow: 0px 0 0px 1px #0ca5b0;
	-moz-box-shadow: 0px 0 0px 1px #0ca5b0;
	box-shadow: 0px 0 0px 1px #0ca5b0;
	border-color: #0ca5b0;
}
.main .cms-home .icon-users-bg {
	background: url('/skin/frontend/smartwave/porto/images/users.png') no-repeat;
	width: 55px;
	height: 55px;
	text-align: center;
	margin: 0 auto;
}
.main .cms-home h1 {
	text-align: center;
	max-width: 170px;
	margin: 0 auto;
	padding-bottom: 7px;

}
.cms-home {
	padding-top: 40px;
}
.cms-home p {
	font-size: 14px;
	color: #0B0B0B;
}
.cms-home h1 {
	font-size: 23px;
	color: #131212;
}
.toolbar {
	background: #f5f5f5;
	min-height: 64px;
	padding-top: 12px;

	/*ackground: #f5f5f5;
	min-height: 55px;
	padding-top: 12px;
	margin-left: -10px;
	margin-bottom: 11px;
	max-width: 909px;*/
}
.sorter .view-mode {
	float: right;
	margin: 0;
	margin-right: 15px;
	line-height: 37px;
}

.sorter .view-mode i {
	font-size: 28px;
	margin-left: 15px;

}
label {
	color: #0A0909;
}
.product-view .product-shop .price-box .regular-price .price {
	color: #c91842;
	font-weight: 700;
	font-size: 20px;
}
.product-view-price-box .price-box .icon-tag {
	color: #343838;
	position: relative;
	left: -3px;
	top: 2px;
	font-weight: 400;
}
.product-view-price-box .price-box {
	background-color: transparent;
	position: relative;
	width: 99.8%;
	height: 60px;
	left: 0px;
	bottom: 28%;
	padding-top: 10px;
}
.product-view .add-to-links {
	margin: 3px 0;
	padding: 0;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	float: left;
}
.product-view .add-to-links li, .product-view .add-to-links li .separator {
	display: block;
	margin-top: 20px;
}
.product-view .add-to-links a {
	display: inline-block;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	font-weight: 400;
}
.f-left, .left {
	float: left !important;
}
.f-right, .right {
	float: right !important;
}
.product-view .product-additional .items .item p, .product-view .product-additional .items .item ul li {
	color: #343838;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 9px;
}
.product-view .product-additional .items .item ul {
	list-style: inherit;
	margin-left: 25px;
}
.product-view .product-additional .items .item > .info {
	padding: 6px;
}
h4 {
	font-size: 18px;
	font-weight: 700;
	font-family: 'Noto Serif', serif;
	src: url(/skin/frontend/smartwave/porto/arti/font/NotoSerif-Regular-webfont.ttf);
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 5px;
	line-height: 1.35;
	color: #343838;
}
p {
	margin: 0 0 20px;
}
.prev-next-products {
	display: none;
}
.product-view .product-name h1 {
	margin: 20px 0;
	margin-top: 0px;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	line-height: 1;
	color: #343838;
}
.email-friend {
	display: none;
}
.product-view .product-shop .availability span {
	font-size: 14px;
	font-weight: 400;
	margin-left: 0px;
	background: url("/skin/frontend/smartwave/porto/images/availability_bg.png") no-repeat;
	/* background-color: #f3f3f3; */
	padding: 3px 19px;
	width: 140px;
	height: 25px;
}
.availability.in-stock span {
	color: #0ca5b0;
}
.no-rating {
	margin-bottom: 20px;
}
.ratings .rating-links > a, .no-rating a {
	line-height: 28px;
	font-size: 16px;
	font-weight: 400;
	color: #0ca5b0;
}
a, .btn-link {
	color: #0ca5b0;
	text-decoration: none;
	transition: all 0.3s;
	/*font-size:16px;*/
}
.icon-walet, .icon-delivery, .icon-change {
	margin-right: -10px;
}
.tab-container.product-tabs > ul {
    display: table;
    width: 100%;
    position: static;
}
.product-tabs > ul li.active {
    border: 1px solid #343838;
    border-bottom: none;
	/*background-color: #fff;*/
	/*border: 1px solid #343838;*/
	/*border-radius: 1px;*/
	/*border-width: 1px 1px 0px 1px;*/
}
.product-tabs > ul li {
	padding: 18px 38px;
	float: left;
	margin-right: 1px;
    height: 75px !important;
    border: 1px solid transparent;
    border-bottom: none;
    float: left !important;
    display: table !important;
    position: relative !important;
}
.product-tabs > ul li#tab_bestsellers a {
    position: absolute !important;
    top: 30px;
}

.product-tabs > ul li#tab_bestsellers a span {
    top: 0px;
}
.product-tabs > ul li#tab_bestprices a {
    position: absolute !important;
    top: 30px;
}
.product-tabs > ul li#tab_bestprices a span {
    top: 0px;
}
.product-tabs > ul li.active a {
	color: #343838;
	font-family: 'Noto Serif', serif;
	src: url(/skin/frontend/smartwave/porto/arti/font/NotoSerif-Regular-webfont.ttf);
}
.product-tabs > ul li a {
	color: #969696;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Noto Serif', serif;
	src: url(/skin/frontend/smartwave/porto/arti/font/NotoSerif-Regular-webfont.ttf);
	line-height: 1;
	text-decoration: none;
    padding: 0 !important;
    margin: 0 !important;
    position: relative !important;
    padding-left: 50px !important;
}
.product-tabs > ul li a span {
    position: absolute;
    left: 0;
    top: 12px;
    padding: 0 !important;
}

.product-tabs > ul li a span i {
    width: 44px;
    text-align: center;
    margin-top: 6px;
}
.product-tabs .tab-content {
	padding: 37px 15px;
	border: 1px solid #343838;
	min-height: 200px;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 1px 2px #eee;
	font-size: 16px;
	font-weight: 400;
	color: #343838;
}
.top-container > .breadcrumbs {
	margin-top: 5px;
	margin-bottom: -15px;
}
.breadcrumbs li a {
	vertical-align: middle;
	font-weight: 400;
	color: #0ca5b0;
}
.breadcrumbs span.breadcrumbs-split {
	vertical-align: middle;
	margin: 0 2px;
	font-size: 12px;
}
.breadcrumbs li strong {
	font-weight: 400;
	vertical-align: middle;
}
.top-container > .breadcrumbs {
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 12px;
	line-height: 1;
	color: #343838;
}
@media (min-width: 768px) {
	.col2-left-layout .col-left.sidebar {
		padding-right: 12px;
		width: 200px;
	}
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!@media (min-width: 768px)
{
.col2-left-layout .col-main {
	padding-left: 12px;
	width: 78%;
	}
}*/

@media (max-width: 991px) {
	.footer .col-sm-2, .footer .col-sm-9 {
		display: none;
	}
	.footer-middle-2 button.button {
		float: inherit;
	}
	.footer-middle-2 .newsletter {
		margin-left: 0px;
	}
	.col-sm-12 {
		border-bottom: inherit !important;
	}
}
h2 {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
	font-family: 'Noto Serif', serif;
	src: url(/skin/frontend/smartwave/porto/arti/font/NotoSerif-Regular-webfont.ttf);
}
.std ul {
	list-style: disc outside;
	margin-bottom: 1.5em;
}
.std {
	line-height: 1.4;
}
.cms-page-view .std ul li {
	margin-left: 2em;
}
.cms-page-view .std li, .cms-no-route .std li {
	color: #343838;
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	line-height: 24px;
	list-style-image: url("/skin/frontend/smartwave/porto/images/li-bullet.png");
	list-style: none;
}
.cms-page-view .std p, .cms-no-route .std p {
	color: #343838;
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	line-height: 18px;
	text-align: justify;
	font-weight: 400;
}
.cms-page-view .std .well-block, .cms-no-route .std .well-block {
	background-color: whitesmoke;
	padding: 20px 15px 22px 19px;
	margin: 0 0 1.5em;
	display: inline-block;
}
.cms-page-view .std .well-block p, .cms-no-route .std .well-block p {
	margin: 0;
	margin-bottom: 0.5em;
	font-family: "Noto Serif";
	font-size: 21px;
	font-style: normal;
	line-height: 30px;
	text-rendering: optimizeLegibility;
	color: #c91842;
	text-align: left;
	line-height: 20px;
	margin-top: 15px;
}
h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
	font-family: 'Noto Serif', serif;
	src: url(/skin/frontend/smartwave/porto/arti/font/NotoSerif-Regular-webfont.ttf);
}
.std ul.t-strong {
	font-weight: 700;
}
.std ul.inline-list {
	display: inline-block;
	min-width: 210px;
}
.cms-page-view .std .cms-header .icon-service-bg {
	background: url('/skin/frontend/smartwave/porto/images/icon-service-bg.png');
	background-repeat: no-repeat;
	width: 55px;
	height: 55px;
	text-align: center;
	margin: 0 auto;
}
.cms-page-view .std .cms-header.red h1 {
	text-align: center;
	color: #c91842;
	border-bottom: 1px solid #c91842;
	max-width: 65%;
	margin: 0 auto;
	padding-bottom: 3px;
	margin-bottom: 39px;
}
.cms-page-view .std .cms-header .icon-whatwe-bg {
	background: url('/skin/frontend/smartwave/porto/images/icon-whatwe-bg.png');
	background-repeat: no-repeat;
	width: 55px;
	height: 55px;
	text-align: center;
	margin: 0 auto;
}
.cms-page-view .std .cms-header h1 {
	text-align: center;
	color: #343838;
	border-bottom: 1px solid #343838;
	max-width: 65%;
	margin: 0 auto;
	padding-bottom: 7px;
	margin-bottom: 39px;
	font-size: 25px;
}
.icon-whatwe-bg {
	background: url('/skin/frontend/smartwave/porto/images/icon-whatwe-bg.png');
	background-repeat: no-repeat;
	width: 43px;
	height: 43px;
	text-align: center;
	background-size: 43px 43px;
	float: left;

}
.icon-nashli {
	background: url('/skin/frontend/smartwave/porto/images/icon-nar3.jpg');
	background-repeat: no-repeat;
	width: 61px;
	height: 55px;
	text-align: center;

}
.mybag-link span.basket-title {
	font-size: 14px;
	font-weight: 400;
	text-transform: none;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
}
.header-container.type4 .mini-cart .basket-title .icon-basket {
	color: #0ca5b0;
	font-size: 35px;
}
.mybag-link i {

	display: inline-block;
	vertical-align: middle;
}
.mybag-link .cart-info span.cart-qty {
	display: inline-block;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
	color: #343838;
	border-radius: 50%;
	background-color: #f5f5f5;
	width: 17px;
	height: 17px;
}
.header-container.type4 .mybag-link .cart-info span {
	display: none;
}
.mini-cart .mini-products-list {
	padding: 0 20px;
}
.mini-cart .mini-products-list li {
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}
.mini-cart .mini-products-list li .product-image {
	border-width: 0;
	padding: 0;
	border-radius: 0;
}
.mini-cart .mini-products-list .product-details {
	margin-left: 90px;
}
.product-name {
	font-size: 16px;
	font-weight: 700;
}
.mini-cart .totals {
	padding: 10px 20px;
	text-align: center;
	font-size: 18px;
	color: #08c;
	font-weight: 700;
}
.mini-cart .totals .label {
	color: #777;
}
.price {
	white-space: nowrap !important;
	color: #343838;
}
.mini-cart .actions {
	color: #fff;
	line-height: 47px;
	padding: 0 20px;
	border-radius: 0 0 5px 5px;
	margin-bottom: 15px;
	text-align: center;
}
.mini-cart .actions a {
	width: 257px;
	color: #fff;
	margin-bottom: 10px;
}
.btn:hover {
	text-decoration: none;
}
.btn-blue:hover, .btn-blue {
	background-color: #343838;
	background-image: linear-gradient(180deg, #07959f 0%, #0ca5b0 100%);
	border: 1px solid #047981;
	border-radius: 3px;
	box-shadow: 0 3px 0 #03646b, inset 0 0 0 rgba(245, 245, 245, 0.14);
}
.btn-black {
	background-color: #343838;
	background-image: linear-gradient(to top, #343838 0%, #474b4b 100%);
	border: 1px solid #343838;
	border-radius: 3px;
	box-shadow: 0 3px 0 #232525, inset 0 0 0 rgba(245, 245, 245, 0.04);
}
.theme-border-color {
	border-color: #ccc !important;
}
.menu-all-pages-container {
	float: left;
}
.header-container.type4 .top-links-icon {
	color: #777;
}
.header-container .top-links-icon {
	display: none;
	vertical-align: middle;
	font-size: 11px;
	padding: 7px 20px 7px 10px;
	position: relative;
}
.header-container .top-links-area {
	float: right;
	font-size: 14px;
	line-height: 17px;
	padding: 12px 0 0;
	margin: 0 -4px 0 0;
}
.header-container .top-links-area .links li a {
	text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}
.header_calls:hover .bubble {
	display: block;
	z-index: 9999;
}
input.nickname {
	background: url('/skin/frontend/smartwave/porto/images/nickname.png') no-repeat #fff 9px 16px;
}
input.comp, input.headername {
	background: url('/skin/frontend/smartwave/porto/images/name.png') no-repeat #fff 9px 16px;
}
input.phone {
	background: url('/skin/frontend/smartwave/porto/images/phone.png') no-repeat #fff 9px 16px;
}
input.streeta {
	background: url('/skin/frontend/smartwave/porto/images/address.png') no-repeat #fff 9px 16px;
}
input.citya {
	background: url('/skin/frontend/smartwave/porto/images/address.png') no-repeat #fff 9px 16px;
}
input.emaila {
	background: url('/skin/frontend/smartwave/porto/images/email.png') no-repeat #fff 9px 16px;
}
input.keya {
	background: url('/skin/frontend/smartwave/porto/images/key2.png') no-repeat #fff 9px 16px;
}
textarea.comment {
	background: url('/skin/frontend/smartwave/porto/images/comment.png') no-repeat #fff 9px 16px;
	padding-left: 40px;
}
.top-links-area .links li {
	display: none;
}
.top-links-area .links li.last {
	display: block
}
/*

.my-account:hover .top-links-area .links  li.first2
{
visibility: visible;
}*/

 .page-title h1 {
	color: #c91842;
	font-weight: bold;
}
.opc .active .step-title .number, .opc .active .step-title h2 {
	color: #fff;
}
.opc .allow .step-title {
	background: #0CA5B0;
	color: #FFF;
}


.home-side-menu-type2 > .side-block ul.category-list ul > li.has-children > ul {
	position: absolute;
	left: 100%;
	top: 0;
	width: 220px;
	padding: 6px 0;
	margin: 0 0 0 8px;
	text-transform: uppercase;
	background: rgba(52, 56, 56,.9);
	border: none;
	text-align: left;
	font-size: 16px;
	z-index: 100000000;
	/*display:none;*/
}
.home-side-menu-type2 > .side-block ul.category-list ul > li.has-children > ul:after {
	content: '';
	position: absolute;
	left: -16px;
	top: 15px;
	height: 10px;
	border: 8px solid transparent;
	border-right: 8px solid #343838;
	opacity: 0.9;
}
.home-side-menu-type2 > .side-block ul.category-list ul > li.has-children > ul li a {
	color: #fff;
}
.home-side-menu-type2 > .side-block ul.category-list ul > li.has-children > ul li a:hover {
	color: #0ca5b0;
}
.home-side-menu-type2 > .side-block ul.category-list ul > li.has-children > ul li {
	border: 0;
}
.home-side-menu-type2 > .side-block ul.category-list ul > li.has-children > ul li a {
	border: 0;
	padding: 8px 20px 7px;
}
.home-side-menu-type2 > .side-block ul.category-list li.opened ul li .icon-plus-squared {
	display: none;
}
.home-side-menu-type2 > .side-block ul.category-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*.home-side-menu-type2 > .side-block ul.category-list li.opened:hover .has-children > ul
{
	display: block !important;
}*/

/*.home-side-menu-type2 > .side-block ul.category-list li.opened a:hover .has-children > ul
{
	display: block !important;
}*/

.home-side-menu-type2 > .side-block ul.category-list ul, .home-side-menu-type2 > .side-block ul.category-list li.opened ul li, .home-side-menu-type2 > .side-block ul.category-list ul > li.has-children, .home-side-menu-type2 > .side-block {
	position: relative;
}
.home-side-menu-type2 > .side-block ul.category-list ul > li.has-no-children > ul li {
	border: none;
	border-top: none;
	margin-left: 0px;
	margin-right: 0;
	margin-top: 4px;
	padding-left: 30px;
	min-height: 48px;
}
/*.home-side-menu-type2 > .side-block ul.category-list ul > li.has-no-children > ul li, .home-side-menu-type2 > .side-block ul.category-list li.opened ul li {
	position: inherit !important;
}*/

/*.home-side-menu-type2 > .side-block ul.category-list li {
	position: relative;
}*/

/*.home-side-menu-type2 > .side-block ul.category-list li
{
position:relative;
}*/

.category-products .products-list tbody tr td .price-box {
	position: inherit;
	background-color: inherit;
	padding-top: 0;
}
.category-products .products-list tbody tr td .price-box .price {
	color: #343838;
	font-size: 16px;
	font-weight: 700;
}
.category-products .products-list tbody tr td .price-box .icon-tag, .category-products .products-list tbody tr td .icon-cart {
	display: none;
}
select.qty {
	width: 62px;
	height: 34px;
	background-color: white;
	border: 1px solid #d5d5d5;
	border-radius: 2px;
	box-shadow: inset 0 0 2px white;
}
.qty-holder {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 57px;
}
.category-products .products-list > tbody > tr > td.actions {
	width: 20%;
	text-align: left;
}
.category-products .products-list tbody tr td.actions .addtocart {
	border: none;
	font-size: 15px;
	font-weight: 400;
	color: #0ca5b0;
}
.category-products .products-list tbody tr td a.addtocart {
	padding: 0px;
	background-color: inherit;
}
.table-bordered {
	margin: 10px 0px !important;
}
.table > thead:first-child > tr:first-child > th {
	border-top: 1px solid #343838;
	vertical-align: middle;
}
.table > thead:first-child > tr {
	height: 50px;
}
.category-products .products-list thead tr th {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	background-color: #343838;
	text-align: center;
	margin: 21px 33px 17px 33px;
	border-top: 1px solid #343838;
	border-right: 1px solid #252828;
	border-bottom: 1px solid #343838;
	border-left: 1px solid #343838;
}
.table-bordered > thead > tr > th {
	border: 1px solid #252828;
	padding: 6.5px;
}
.category-products .products-list tbody tr td.product-name a {
	color: #343838;
	text-transform: uppercase;
	font-size: 15px;
}
/* Pager */
.pager {
}
.pager .amount {
	float: left;
	margin: 0;
	line-height: 30px;
	margin-right: 10px;
	display: none
}
.pager .limiter {
	float: right
}
.pager .limiter label {
	vertical-align: middle
}
.pager .limiter select {
	padding: 0;
	margin: 0 0 1px;
	vertical-align: middle
}
.pager .pages {
	float: right;
	margin-left: 0px
}
.pager .pages ol {
	display: inline
}
.pager .pages li.first-text {
	margin-right: 70px;
}
.pager .pages li.first-text:hover, .pager .pages li.last-text:hover {
	border-radius: 0;
	color: inherit;
	background-color: transparent;
	/*width: inherit;
	height: inherit;*/
}
.pager .pages li.last-text {
    margin-left: 28px;
}
.pager .pages li {
	/* Base text style */
	width: 20px;
	height: 20px;
	font-size: 14px;
	font-weight: 400;
	color: #343838;
	display: inline-block;
	line-height: 22px;
	margin: 0;
	margin-left: 2px;
	text-align: center;
	border-radius: 50%;
}
.pager .pages li:hover {
	border-radius: 50%;
	color: #fff;
	background-color: #0ca5b0;
	width: 20px;
	height: 20px;
}
.pager li > a, .pager li > span {
	color: #0ca5b0;
	background-color: transparent;
	border: none;
	padding: inherit;
}
.pager li > a.next, .pager li > a.previous {
	color: #999
}
.pager li.first-text a:hover {
	color: #0ca5b0;
}
.pager li > a.next:hover, .pager li > a.next:focus, .pager li > a.previous:hover, .pager li > a.previous:focus, .pager .pages li:hover a {
	color: #fff;
	text-decoration: none;
}
.pager .pages li.last-text:hover a {
	color: inherit;
}
.pager .pages li.first-text:hover a, .pager .pages li.last-text:hover a {
	color: #0ca5b0;
}
.pager li > a:hover, .pager li > a:focus {
	background-color: transparent;
	padding: 0px;
}
.pager .pages .current {
	padding: 0;
	background-color: #0ca5b0;
	color: #fff;
	border-radius: 50%;
}
.toolbar.t-bottom {
	background: none;
}
/* Sorter */
.sorter {
}
.sorter .view-mode {
	float: right;
	margin: 0;
	margin-right: 15px;
	line-height: 37px;
}
.sorter .view-mode a {
	text-decoration: none;
}
.sorter .view-mode i {
	font-size: 28px;
	margin-left: 15px;
	/*font-size: 14px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #ccc;
	width: 26px;
	height: 26px;
	line-height: 24px;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	vertical-align: top*/
}
.sorter .view-mode strong i, .sorter .view-mode a:hover i {
	/*border-color: #08c;
	background-color: #08c;*/
	border-radius: 3px
}
.sorter .sort-by {
	float: left;
	margin-right: 15px;
	margin-bottom: 4px
}
.sorter label {
	margin-right: 5px;
    margin-left: 15px;
}
.sorter .sort-by select {
}
.sorter .link-feed {
}
.sorter .limiter {
	float: right;
	margin-right: 26px;
}
.sorter .limiter select {
	height: 40px;
	font-size: 14px;
	width: 58px;
	color: #383838;
}
.sorter .view-mode i, .sorter .view-mode strong i {
	border: none;
	border-radius: 0;
}
/* Toolbar */
.toolbar {
	background: #f5f5f5;
	min-height: 64px;
	padding-top: 12px;
	margin-bottom: 10px;
}
.toolbar.t-bottom {
	background: none;
}
.toolbar .pager {
	float: right;
	margin: 0;
	margin-bottom: 4px
}
.toolbar .sorter {
}
.toolbar-bottom {
	text-align: center;
	margin-top: 20px
}
.toolbar-bottom .toolbar {
	display: inline-block;
	border: 0
}
.toolbar-bottom .toolbar .sorter .sort-by, .toolbar-bottom .toolbar .sorter .view-mode {
	display: none
}
.add-review .btn-black {
	color: #fff;
}
.form-list input.input-text {
	width: 377px;
	height: 50px;
	background-color: white;
	border: 1px solid #d5d5d5;
	border-radius: 5px;
	box-shadow: inset 0 0 2px white;
	padding-left: 40px;
}
.registered-users .buttons-set,
.registered-users p.required  {
	max-width: 377px;
}
.add-review .form-add .block-content {
	background-color: #f7f8f9;
	border: 1px solid #f3f3f3;
	padding: 35px 17px 29px 17px;
	margin-bottom: 33px;
}
.add-review {
	padding: 0px;
}
.add-to-cart .qty-changer {
	position: relative;
	left: 45px;
	top: -37px;
}
.add-to-cart .btn-cart {
	position: relative;
	top: -22px;

}
.add-to-cart .icon-triangle-up:before {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
	-o-transform: rotate(-180deg);
}
.ratings-table {
	position: absolute;
	top: 115px;
	right: 22px;
	margin: 0;
	border: initial;
}
.ratings-table-item {
	display: inline-table;
	margin: 15px 11px;
	vertical-align: bottom;
}
.ratings-table-item {
	display: inline-table;
	margin: 15px 7px;
	vertical-align: bottom;
}
.ratings-table-item .a-center.title {
	font-size: 16px;
	line-height: 40px;
}
.ratings-table-item li {
	padding: 8px 0px;
}
.rating-box .rating {
	float: left;
	height: 14px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.rating-box {
	width: 86px;
	height: 19px;
	font-size: 0;
	line-height: 0;
	text-indent: -999em;
	overflow: hidden;
	position: relative;
}
.rating-box:before {

	width: 86px;
	height: 14px;
	color: #c3c5c9;
	display: block;
	font-size: 14px;
	line-height: 16px;
}
.rating-box .rating:before {

	width: 86px;
	height: 14px;
	color: #e5c514;
	display: block;
	font-size: 14px;
	line-height: 16px;
}
input.radio {
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #d5d5d5;
	box-shadow: inset 0 0 2px #fff;
	padding: 8px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}
input.radio:checked {
	background-color: #fff;
	color: #000;
	border: 1px solid #d5d5d5;

}
input.radio:checked:after {
	content: ' ';
	width: 8px;
	height: 8px;
	border-radius: 2px;
	position: absolute;
	top: 4px;
	background: #343838;
	text-shadow: 0px;
	left: 4px;
	font-size: 32px;
}
.tab.active {
	/*border: solid 1px #999;*/
	/*border-bottom: none;*/
	/*-moz-border-radius: 4px 4px 0 0;*/
	/*-webkit-border-radius: 4px 4px 0 0;*/
	/*background: #fff;*/
	/*padding-top: 1px;*/
	/*height: 74px;*/
	/*position: relative;*/
	/*top: 1px;*/
	/*border-color: #666;*/
}
.tab {
	width: 215px !important;
	height: 72px;
	display: inline-block;
	zoom: 1;
}
.tab a {
	color: #969696;
	font-family: "Noto Serif";
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	margin: 10px -1px 0px 8px;
	display: inline-flex;
	text-decoration: none;
	text-align: center;
	padding: 22px 10px;
}
.etabs .tab a span {
	padding: 5px;
	margin-right: 13px;
	font-size: 13px;
	margin-top: -12px;
	width: 49px;
	height: 44px;
	background-color: #969696;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.note-msg, .notice-msg {
	border-color: #faebcc;
	background-color: #fcf8e3;
	color: #8a6d3b;
}
.product-image-area {
	min-height: 212px;
}
.tab a.active {
	font-weight: 400;
	color: #343838;
}
.etabs .tab.active a.active span {
	background-color: #343838;
}
.home-side-menu-type3 {

	width: 220px;
}
.home-side-menu-type3 .block-category-nav .block-title {
	background-color: #343838;
}
.home-side-menu-type3 .block-category-nav .block-title strong span {
	color: white;
	font-size: 16px;
	font-weight: 400;
	text-transform: none;
}
.home-side-menu-type2, .home-side-menu-type3 {
    width: 220px;
}
#messages_product_view {
	float: right;
	width: 75%;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header-container .main-nav ul.menu > li > a {
		padding: 0 8px;
	}
	.header-container .main-nav ul.menu > li.menu-item-has-children > a {
		padding-right: 25px
	}
	.main-nav ul.menu > li.menu-item-has-children > a:after {
		right : 8px;
	}
	.top-links-item {
		padding: 0 3px 0 13px;
	}

	.header-container.type4 .search-area {
		width: 300px;
	}
	.header-container.type4 .mini-cart {
		right: 9.5%;
	}
	.footer-middle-2 .newsletter {
		width: 172px;
		margin-left: 0px;
	}
	.button-call {
		color: #343838;
		font-size: 20px !important;
	}
	i.icon-handshake_22 {
		position: relative;
		top: -13px !important;
		right: 48px !important;
		color: #fff;
		border: 0px;
	}
	.product-view {
		width: 72% !important;
	}
	#messages_product_view {
		width: 72%;
	}
	.product-additional {
		width: 218px !important;
	}
	.product-tabs > ul li {
		padding: 18px 24px;
	}
	.home-side-menu-type2 > .side-block ul.category-list li.opened ul li {
		width: 205px;
	}
	.footer-middle p.phone {
		left: 8px;
		top: -34px;
	}
	.footer-middle p.address {
		width: 144px;
	}
	.footer-middle-2 .links-block {
		display: inline-block;
		margin-right: 5px;
		text-align: left;
		float: left;
		line-height: 14px;
	}
	.product-tabs > ul li {
		padding: 0px !important;
	}
	.product-tabs > ul li a {
		margin: 0px !important;
		padding: 22px 10px !important;
	}
	.tab {
		width: 169px !important;
	}
	.etabs .tab a i {
		left: 0px !important;
	}
}
@media (min-width: 640px) and (max-width: 991px) {
	.header-container .top-links-area .links li a, .mybag-link span.basket-title {
		color: #0ca5b0;
	}
	.margin-right-35 {
		margin-right: 35px;
		width: 27.666667%;
	}
	.footer-middle-2 .newsletter {
		width: initial;
	}
	.product-view {
		position: relative;
		width: 64% !important;
		height: 547px;
	}
	#messages_product_view {
		width: 64%;
	}
	.product-additional {
		display: none;
	}
	.product-tabs > ul li {
		padding: 18px 3px;
	}
	.form-list input.input-text {
		width: 328px;
	}
	.home-side-menu-type2 > .side-block ul.category-list li.opened ul li {
		
	}
	.product-image-area {
		min-height: 265px;
	}
	.panel-container {
		margin-top: 50px;
	}
	.product-tabs > ul li.active {
		border: inherit;
	}
	.etabs .tab a i {
		left: 0px !important;
	}
	.product-tabs > ul li {
		padding: 0px !important;
	}
	.product-tabs > ul li a {
		margin: 0px !important;
		padding: 22px 10px !important;
	}
	.ratings-table {
		position: inherit;
	}
	.d768 {
		display: none;
	}
	.cms-page-view .std ul li {
		margin-left: -14px;
	}
	h2 {
		font-size: 18px;
	}
	.cms-page-view .std .cms-header h1 {
		font-size: 20px;
	}
	.img768 {
		width: 100%;
	}
	.std ul.inline-list {
		margin-left: 11px;
		margin-top: 10px;
	}
}
@media (min-width: 450px) and (max-width: 639px) {
	.header-container .top-links-area .links li a, .mybag-link span.basket-title {
		color: #0ca5b0;
	}
	.header-container.type4 .header #search_mini_form {
		width: inherit;
	}
	.header-container.type4 .header .custom-block {
		display: block !important;
	}
	.header_calls:hover .bubble, .icon-triangle-down:before {
		display: none;
	}
	.top-links-area .links li.last {
		display: block !important;
	}
	.header-container .top-links-area {
		right: 0;
	}
	.header-container.type4 .cart-area {
		margin: 5px 3px 0px 0px;
	}
	.footer-middle-2 .newsletter {
		width: initial;
	}
}
@media (max-width: 449px) {
	.header-container .top-links-area .links li a {
		color: #343838;
	}
	.home-side-menu-type2 {

	}
	.home-side-menu-type2 > .side-block ul.category-list li.opened ul li {

	}
	.popular-block-title, .owl-top-narrow, .cms-home {
		display: none;
	}
	.d320 {
		display: block !important;
	}
	.price-box {
		margin-bottom: -24px;
	}
	.header-container.type4 .search-area {
		margin: 0;
		width: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: auto;
		bottom: 30px;
	}
	.header-container.type4 .search-area .search-icon {
		float: right;
		margin: 0 15px 0 0;
	}
	.comparearti {

	}
	.header_calls {
		display: none;
	}
	.header-container.type4 .header .form-search {
		top: 53px;
		left: 0;
		right: 0;
		width: auto;
		border-radius: 0;
		padding: 10px 15px;
		background: rgba(52,56,56,.8);
		border: 0;
	}
	.header .form-search button.button {
		height:38px;
		left: auto;
		right: 15px;
		top: 10px;
	}
	.header-container.type4 .header #search_mini_form {
		width: inherit;
	}
	.header-container.type4 .header .custom-block {
		display: block !important;
	}
	.header_calls:hover .bubble {
		display: none;
	}
	.top-links-area .links li.last {
		display: block !important;
	}
	.header-container.type4 .cart-area {
		margin: 5px 3px 0px 0px;
	}
	.footer-middle-2 .newsletter {
		width: 200px;
	}
	.header_partner_link, .icon-triangle-down:before, .header-container.type4 .header .form-search:before {
		display: none;
	}
	.header .form-search .input-text-wrap {
		overflow: hidden;
	}
	.header .form-search #search {
		width: 100%;
		background: #fff;
		padding: 10px 50px 10px 15px;
	}
	.footer-middle-2 button.button {
		width: 150px;
	}
	.footer-middle p.address {
		margin-right: 17px;
	}
	.footer-middle p.phone {
		left: 0px;
	}
	.home-side-menu-type2 > .side-block ul.category-list ul > li.has-children > ul li, .home-side-menu-type2 > .side-block ul.category-list ul > li.has-children > ul:after {
		display: none;
	}
	.footer-middle-2 .newsletter {
		margin-left: 0px;
	}
	.popular-block-title h1 {
		margin-left: -15px;
	}
}
@media (min-width: 290px) and (max-width: 350px) {

}
.how-order {
	padding: 40px 0 40px 6px;
	text-align: center;
}
.lnk-how-order {
	position: relative;
	padding: 2px 0 0 50px;
	font-size: 16px;
	line-height: 19px;
	color: #0ca5b0;
	text-decoration: none;
	min-height: 39px;
	display: inline-block;
	vertical-align: middle;
}
.lnk-how-order:hover {text-decoration: underline;}
.lnk-how-order:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: url('/skin/frontend/smartwave/porto/images/icon-whatwe-bg.png');
	background-repeat: no-repeat;
	width: 39px;
	height: 39px;
	background-size: 39px 39px;
	text-align: center;
}
.block-order {
	background: #343838;
	padding: 14px 10px 20px;
}
.block-order .ttl-order {
	display: block;
	color: #fff;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #fff;
	margin: 0 0 20px;
	padding: 43px 0 10px;
	position: relative;
}
.block-order .ttl-order:before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -30px;
	background: rgba(0, 0, 0, 0) url("/skin/frontend/smartwave/porto/images/icon-nar3.jpg") no-repeat scroll 0 0;
	height: 55px;
	width: 61px;
}
.btn-order-new {
	display: block;
	background-color: #343838;
	background-image: linear-gradient(to top, #07959f 0%, #0ca5b0 100%);
	border: 1px solid #047981;
	border-radius: 4px;
	box-shadow: 0 3px 0 #03646b, inset 0 0 0 rgba(245, 245, 245, 0.14);
	color: #fff;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	padding: 14px 10px 12px;
}
.btn-order-new:hover {
	text-decoration: none;
	color: #fff;
	background-image: linear-gradient(to top, #0ca5b0 0%, #07959f 100%);
}
/*
.zak {
	padding: 20px 0;
}
.kak_zak {
	font-size: 14px;
	vertical-align: middle;
	padding: 0 0 0 10px;
	overflow: hidden;
}
*/
.block_nov {
	background-color: #343838;
}
.ne_nashli {
	position: relative;
	top: 10px;
	left: 74px;
}
.iskal {
	color: #fff;
	margin-left: 18px;
	font-weight: bold;
}
.hr_isk {
	width: 190px;
	margin-top: 2px;
}
.nov_tovar {
	color: #fff;
	background-color: #0CA5B0;
	padding: 13px;
	border-radius: 5px;
	top: -12px;
	position: relative;
	left: 15px;
	font-size: 16px;
	font-weight: bold;
	display: block;
	text-transform: uppercase;
	width: 192px;
	text-align: center;
}
@media (max-width: 1199px) {
	.kak_zak {
		width: 144px;
	}
	.text_nas {
		text-align: center;
	}
	.nov_tovar {
		width: 178px;
	}
}
i.icon.icon-bag {
    left: 2px !important;
}
i.icon-clock2 {
    left: -1px !important;
}
i.icon.icon-news {
    left: -3px !important;
    top: 1px !important;
}
i.icon.icon-fire {
	left: 0px !important;
}
i.icon-handshake_22 {
	position: relative;
	top: -2px;
	right: 37px;
	color: #fff;
}
.spechr {
	margin-top: 7px;
	margin-bottom: 36px;
}
.subkont {

	color: #fff !important;
	background-color: #0CA5B0 !important;
	padding: 7px 25px !important;
	border-radius: 5px !important;
	position: relative !important;
	display: block !important;
	text-transform: uppercase !important;
	text-align: center !important;
	border-bottom: 3px solid #076B72 !important;
	margin-left: 119px !important;
}
.subkont2 {
	font-size: 16px !important;
	font-weight: bold !important;
}
.mapkont {
	position: relative;
	left: 38%;
	top: -694px !important;
	height: 0px;
}
.meskont {
	position: relative;
	left: -50%;
	top: 462px !important;
}
.temakont {
	position: relative;
	top: -69px !important;
}
.telkont {
	position: relative;
	left: 74px;
	top: -60px !important;
}
.telw {
	width: 304px !important;
}
.telw2 {
	width: 62px !important;
}
.textcont {
	width: 377px !important;
	border-radius: 5px !important;
}
.phonekont, .addresskont {
	margin-top: -31px;
	margin-left: 33px !important;
}
.phonekont {
	font-weight: bold;
	margin-bottom: 10px !important;;
}
.icon-adresskont:before {
	background-image: url('/skin/frontend/smartwave/porto/images/addressb2.png');
	background-size: 14px 25px;
	display: inline-block;
	width: 14px;
	height: 25px;
	content: "";
}
.gorkont {
	color: #0DA5B0;
	font-size: 16px !important;
}
.blockkont, .blockkont2, .blockkont3, .blockkont4 {
	width: 200px;
	display: inline-block;
	margin-top: 5px;
}
.blockkont2 {
	position: relative;
	left: 50px;
	top: -22px;
}
.blockkont3 {
	position: relative;
	left: 50px;
	top: -2px;
}
.blockkont4 {
	position: relative;
	left: 50px;
	top: 35px;
}
.tel1 {
	position: relative;
	top: 36px;
}
.tel2 {
	position: relative;
	top: 24px;
}
.tell {
	position: relative;
	top: 16px;
}
.tel4 {
	position: relative;
	top: 10px;
}
@media (max-width: 1199px) and (min-width: 401px) {
	.mapkont {
		/*position: relative;*/
		/*top: -881px !important;*/
		/*height: 757px;*/
		/*left: 30% !important;*/
	}
	.cont24 {
		position: relative;
		top: -1102px;
		left: 30%;
	}
}
@media (max-width: 400px) {
	.popular-block-title h1 {
		font-size: 16px;
		margin-left: 20px;
	}
	.popular-block-title {
		width: 100%;
	}
	#banner-slider-arti {
		display: none !important;
	}
	.form-list input.input-text {
		width: 267px;
	}
	.telw {
		width: 194px !important;
	}
	.textcont {
		width: 267px !important;
	}
	.meskont {
		position: relative;
		top: -43px !important;
		left: 0px !important;
	}
	.subkont {
		margin-left: 6px !important;
	}
	.mapkont {
		position: relative;
		top: 0px !important;
		left: 0px !important;
		height: 1500px;

	}
	.cont24 {
		position: relative;
		top: 0px !important;
		left: 0px !important;
	}
	.mapkont img {
		width: 287px;
	}
}
.postDetails {
	display: none;
}
.postTitle h2 {
	font-size: 18px;
}
.postTitle h2 a {
	color: #333333;
}
.category-grid-link-more {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 40px;
	/*background: url('/skin/frontend/smartwave/porto/images/icon-arrow-more.png') no-repeat 0 0;*/
	line-height: 34px;
}
.category-grid-link-more img{
    margin-left: 10px;
}
.titleak {
	background-color: #F1F1F1;
	padding: 5px 5px 10px 8px;
	margin: 0 0 10px;
}
.main-nav ul.menu > li {
	margin: 0 -2px 0 0;
	padding: 0 0 0 2px;
}
.main-nav ul.menu > li:hover {
	z-index: 2;
}
.main-nav ul.menu {
	float: left;
	position: relative;
	padding: 0 2px 0 0;
}
.main-nav ul.menu:before,
.main-nav ul.menu > li:before {
	display: block;
	content: "";
	background: transparent url('/skin/frontend/smartwave/porto/images/sep_line_inner.png') no-repeat;
	width: 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
/********/
@media (max-width: 991px){
	.menu-all-pages-container {
		float: none;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: hidden;
		z-index: 100;
	}
	.main-nav ul.menu {
		float: none;
	}
	.main-nav ul.menu > li {
		display: block;
		border-top: 1px solid #2b2e2e;
		border-bottom: 1px solid #474a4a;
		margin: 0;
		padding: 0;
	}
	.main-nav ul.menu::before,
	.main-nav ul.menu > li::before {
		display: none;
	}
	.menu-icon {
		float: left;
		padding: 9px 0 0;
	}
	.menu-all-pages-container {
		pointer-events: none;
	}
	.menu--visible {
		pointer-events: auto;
	}
	.main-nav ul.menu {
		background: #343839;
		position: relative;
		max-width: 400px;
		width: 90%;
		height: 100%;
		overflow: auto;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
		-webkit-transform: translateX(-103%);
		transform: translateX(-103%);
		will-change: transform;
		z-index: 160;
		pointer-events: auto;
	}
	.main-nav .menu--visible ul.menu {
		-webkit-transform: none;
		transform: none;
	}
	.main-nav .menu--animatable ul.menu {
		transition: all 0.13s ease-in;
	}

	.main-nav .menu--visible.menu--animatable ul.menu {
		transition: all 0.3s ease-out;
	}
	.menu-all-pages-container:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.4);
		opacity: 0;
		will-change: opacity;
		pointer-events: none;
		transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
	}
	.menu-all-pages-container.menu--visible:after{
		opacity: 1;
		pointer-events: auto;
	}
	.fixed-header .menu > li .nav-sublist-dropdown, .main-nav .menu > li .nav-sublist-dropdown {
		position: static;
		display: block;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
	}
	.fixed-header .menu > li.open-drop .nav-sublist-dropdown,
	.main-nav .menu > li.open-drop .nav-sublist-dropdown {
		max-height: 9999px;
		transition: max-height 0.3s ease-in;
	}
	.main-nav ul.menu > li.menu-item-has-children.open-drop > a:after {
		transform-origin: 50% 50%;
		transform: rotate(180deg);
	}
	.fixed-header .menu > li .nav-sublist-dropdown .container ul > li a,
	.main-nav .menu > li .nav-sublist-dropdown .container ul > li a {
		padding-left: 30px;
	}
}
.fixed-header .menu > li:hover .nav-sublist-dropdown,
.main-nav .menu > li:hover .nav-sublist-dropdown {
	display: block;
}

.main-nav ul.menu:before {
	left: auto;
	right: 0;
}
.header-container .main-nav ul.menu > li.act {
	position: relative;
	z-index: 3;
}
.block-layered-nav dd span.check-box input[type=checkbox] {
	margin-top: -4px;
}
input.checkbox:checked {
	background-color: #fff;
	border: 1px solid #d5d5d5;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 0 2px rgba(0, 0, 0, 0.05);
	color: #000;
}
input.checkbox {
	display: inline-block;
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #d5d5d5;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 0 2px rgba(0, 0, 0, 0.05);
	padding-right: 14px;
	padding-bottom: 7px;
	position: relative;
	min-height: 16px;
}
input.checkbox:checked:after {
	content: '\2714';
	/* content: '\2022'; */
	font-weight: 700;
	font-size: 14px;
	position: absolute;
	top: -3px;
	left: 2px;
	color: #343838;
}
.basket-ttl-txt,
.compare-txt {
	font-style: normal;
	display: none;
}
.compare1 {
	position: relative;
	top: 33px;
	text-transform: capitalize;
	color: #C91842;
	text-align: center;
	top: 2px;
	left: 28px;
}
.compare2 {
	position: relative;
	top: -3px;
	text-transform: capitalize;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	left: 16px;
}
.och {
	width: 115px;
	left: -19px;
	position: relative;
	top: -4px;

}
.compare3 {
	width: 200px;
}
.icon-comparearti {
	position: relative;
	left: -55px;
}
.butcomp {
	position: relative;
	left: 88px;
	top: -54px;
}
.delcomp {
	position: relative;
	left: 50px;
	top: -34px;
}
.compare-table tbody td.par {
	background-color: #343838;
	text-align: left;
}
.par a {
	color: #fff;
}
.par .plus {
	position: relative;
	top: -12px;
	left: 103px;
}
.icon-minus-squared2 {
	position: relative;
	left: -6px;
	top: 4px;
}
/*.product-image-area .actions .actions-container a.productview:hover i {*/
	/*margin-left: -4px;*/
/*}*/
.block.block-related {
	margin-top: 50px;
}
.stac {
	margin-top: -58px !important;
}
.col2-left-layout .col-main {
	min-height: 900px;
}
.btn-lg span {
	color: #fff;
}
.dost {
	font-family: 'Noto Serif', serif;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 48px;
	display: block;
}
.dost2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
	display: block;
	margin-left: 67px;
}
.dost-ad {
	margin-top: 27px;
}
.dost-icon {
	width: 60px;
	float: left;
}
.dostleft {
	left: 12%;
	position: relative;
}
.dostm {
	margin-bottom: -25px;
}
@media (min-width: 992px) {
	.dostlvov {
		position: relative;
		top: -20px;
	}
	.dostlist1 {
		width: 200px;
		display: inline-block;
		margin-top: 35px;
		margin-left: 34%;
	}
	.dostlist2 {
		width: 200px;
		display: inline-block;
		position: relative;
		top: -50px;
	}
}
.dostvn {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 14px;
	display: block;
	margin-left: 68px;
	margin-top: 43px;
}
.dostvn {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
}
.dostlist1 span, .dostlist2 span {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
}
.dostlist1 li, .dostlist2 li {
	list-style-image: url("/skin/frontend/smartwave/porto/images/li-bullet.png") !important;
	list-style: inherit;
}
.dost16 span {
	font-size: 16px !important;
}
.dost16 a {
	font-size: 14px;
	font-weight: normal;
}
.dosttext {
	margin-left: 71px;
	margin-top: 10px;
	position: relative;
	display: block;
}
.dosttext2 {
	margin-left: 83px;
	margin-top: 10px;
	position: relative;
	display: block;
}
.dost22 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
	display: block;
	margin-left: 82px;
	margin-top: 30px;
}
@media (max-width: 991px) {
	.dostleft {
		left: 0%;
	}
	.dostdn {
		left: 12%;
	}
}
.statbaner {
	float: left;
	margin-right: 22px;
}
.statwap {
	width: inherit;
}
.statmore {
	position: relative;
	left: 126px;
}
.vse, .par {
	display: block ! important;
}
.product-img-row {
	display: table-row !important
}
.telw2 .form-list input.input-text {
	padding-left: 0px !important;
}
.remnislide {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	color: #fff;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
	font-size: 47px;
	font-weight: bold;
}
.remnislides {
	vertical-align: middle;
	line-height: 1;
	color: #fff;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: bold;
}
.textslide {
	font-weight: bold;
	color: #0CA5B0;
	line-height: 1;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 15px;
	text-align: left;
	margin-left: 71px;
}
.slideimg {
	position: relative;
	top: 20px;
	left: -62px
}
.slideimg img {
	width: 241px;
}
.slidepos {
	position: absolute;
	top: 22%;
	right: 10%;
	text-align: center;
}
@media (min-width: 1200px) {
	.container {width: 1180px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.slidepos {
		top: 12%;
		right: 11%;
	}
	.remnislide {
		font-size: 45px;
	}
	.remnislides {
		font-size: 23px;
	}
	.textslide {
		font-size: 17px;
		margin-left: 27px;
	}
	.slideimg {
		position: relative;
		top: 20px;
		left: -54px;
	}
}
@media (min-width: 700px) and (max-width: 991px) {
	.slidepos {
		top: 12%;
		right: 8%;
	}
	.remnislide {
		font-size: 36px;
	}
	.remnislides {
		font-size: 20px;
	}
	.textslide {
		font-size: 15px;
		margin-left: 35px;
	}
	.slideimg {
		position: relative;
		top: 20px;
		left: -31px;
	}
	.owl-banner-carousel.owl-middle-narrow .owl-controls .owl-buttons div.owl-prev, .owl-banner-carousel.owl-middle-narrow .owl-controls .owl-buttons div.owl-next {
		display: none;
	}
}
@media (min-width: 600px) and (max-width: 767px) {
	.slidepos {
		top: 12%;
		right: 1%;
	}
	.slideimg img {
		width: 191px;
	}
	.remnislide {
		font-size: 32px;
	}
	.remnislides {
		font-size: 18px;
	}
	.textslide {
		font-size: 13px;
		margin-left: 25px;
	}
	.slideimg {
		position: relative;
		top: 10px;
		left: -31px;
	}
	.owl-banner-carousel.owl-middle-narrow .owl-controls .owl-buttons div.owl-prev, .owl-banner-carousel.owl-middle-narrow .owl-controls .owl-buttons div.owl-next {
		display: none;
	}
}
@media (max-width: 599px) {
	.slidepos {
		top: 12%;
		right: 1%;
	}
	.slideimg img {
		width: 159px;
	}
	.remnislide {
		font-size: 25px;
	}
	.remnislides {
		font-size: 14px;
	}
	.textslide {
		display: none;
		font-size: 13px;
		margin-left: 25px;
	}
	.slideimg {
		position: relative;
		top: 10px;
		left: -28px;
	}
	.owl-banner-carousel.owl-middle-narrow .owl-controls .owl-buttons div.owl-prev, .owl-banner-carousel.owl-middle-narrow .owl-controls .owl-buttons div.owl-next {
		display: none;
	}
}
@media (min-width: 641px) {
	.header > .logo {
		width: auto;
	}
	.basket-ttl-txt,
	.compare-txt {
		display: inline;
	}
}
@media (min-width: 768px) {

}

/* jt fixes */
.icon-grid, .icon-list {
    color:#12A3A7;
}
.header-currency-switcher-holder {
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: 6px;
}
#narrow-by-list dd.odd{
    max-height: 350px;
    overflow-y: auto;
}
.news-product-image-area.product-image-area {
    max-height: 100px;
    min-height: 146px;
}
.add-to-links .icon-compare {
    margin-right: 20px;
}
.product-additional .item .i-black {
    margin-right:4px;
}
.icon-tag:before {
    font-size: 20px;
}
#tab_productlimited_contents .category-products .products-grid li.item .product-image{
    min-height: 203px;
}
#tab_bestprices_contents .price-box  {
    bottom: 90px;
}
#tab_bestprices_contents .price-box
{
    bottom: 63px;
}
#tab_bestprices_contents .details-area div.product-name {
    display:none;
}
.products-grid .product-image-area .actions a.addtocart{
    position: relative;
    width: auto;
    left: 16px;
    top: 50%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    height: auto;
}
.products-grid .product-image-area .actions a.productview {
    
}
i.icon-basket {
    background: url(/skin/frontend/smartwave/porto/images/basket-w.png);
    width: 21px;
    height: 22px;
    background-size: contain;

}
.products-grid .actions-container i.icon-basket {
    margin: 1px 2px 0 2px;
}
.products-grid .icon-basket:before {
    content: '';
}
.products-grid .addtocart:hover i.icon-basket {
    background: url(/skin/frontend/smartwave/porto/images/basket.png);
}
.product-image-area .actions a.addtocart:hover .icon-basket:before, .products-grid .icon-basket:hover:before {
    content: '' !important;
}
.home-side-block {
    width:206px;
}
#narrow-by-list .check-box{
    display: block;
    float: left;
}
#narrow-by-list .label {
    display: block;
    text-align: left;
    font-size: 14px;
    float: left;
    width: 138px;
    margin-bottom: 10px;
}
.category_name_filter .fa{
    float: right;
}
.category_name_filter.closed .fa-caret-down:before {
    content: "\f0d8";
}
.header-currency-switcher-holder select {
    margin-bottom: 4px;
}
.header-currency-switcher-holder select
{
    background: transparent;
    border: none;
    margin-top: -14px;
    font-size: 12px;
}
.wrapper_without_close {
    display: block;
    height: 10px;
    width: 100%;
    margin-bottom: 0px;
    padding: 1px;
}
.mini-cart .wrapper_without_close {
    height: 100px;
    position: absolute;
    width: 100px;
}
.registered-users .form-list .input-box label {
    line-height: 24px;
}
.registered-users p.required{
    margin: -10px;
}
.registered-users .buttons-set {
    padding-left: 16px;
}

.tab-container .panel-container {
    border-top: 1px solid #343838;
    background: #fff;
    margin-top: -2px;
}
.product-tabs .tab-content {
    border: none !important;
}
#persistent-cart-window p {
    padding:15px;
}
.form-horizontal li.form-group {
    list-style-type: none;
}
#ajaxlogin-login-window .content {
    overflow: hidden;
}
li {
    list-style-type: none;
}
#ajaxlogin-login-form .agrees_text_block {
    display: none;
}
.topCartContent .inner-wrapper p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
}
.category_name_filter {
    background-color: transparent !important;
    position: static !important;
}
.block-layered-nav .currently .value {
    font-size: 13px;
}
.menu li.big span {
    padding: 0 15px;
}
.product-view .product-tabs ul li a{
padding-left: 0 !important;
}
.add-to-cart button.button {
    margin-top: 5px;
}
.product-collateral .product-tabs .tab-content {
    border-top: 1px solid #343838 !important;
}
.postWrapper {
    width: 460px;
    float: left;
}
.postWrapper .postBanner img{
    height:300px;
}
.postWrapper .category-grid-link-more {
    /*float:right;*/
    /*margin-bottom: 30px;*/
}
.postWrapper .postContent {
    padding: 5px;
}
.postWrapper .postContent  .statmore {
    left:0;
}
.cms-page-view .category-products.category-grid li.item .item-area{
height: 255px;
}
.cms-page-view .category-products.category-grid  li.item .product-image-area {
    min-height: 255px;
}
.cms-page-view .old-price .price {
    color: #fff;
    text-decoration: line-through;
    font-size: 16px;
    position: relative;
    left: 60px;
}
.cms-page-view .postWrapper {
    margin-left: 15px !important;
}
.postWrapper.statwap {
    margin-bottom: 15px;
    width: 100%;
}
.top-links-item.user-cabinet-lnks .dropdown-cabinet {
    height: 136px;
}
.registered-users .form-list .input-box label {
    line-height: 24px;
}
.registered-users p.required{
    margin: -10px;
}
.registered-users .buttons-set {
    padding-left: 16px;
}
.posts-wrap .postWrapper .postBanner {
	width: 460px;
}
/* media queries */
@media (max-width: 1199px) and (min-width: 900px) {
.contacts-index-index .mapkont {
    left: 8% !important;
}
.contacts-index-index .breadcrumbs li.home {
    margin-left: 20px;
}
.cms-delivery .col-xs-12.col-lg-9-6,
.cms-shop .col-xs-12.col-lg-9-6,
.cms-index-index .col-xs-12.col-lg-9-6
{
    width: 75% !important;
}
.cms-delivery .col-xs-12.col-lg-2-4, .cms-shop .col-xs-12.col-lg-2-4,
.cms-index-index .col-xs-12.col-lg-2-4
{
    width: 25%;
}
.cms-delivery .dost2 {
    margin-left: 0px;
}
.cms-shop .details-area {
    font-size: 12px;
}
.cms-shop .category-products .products-grid li.item .product-image {
    min-height: 154px
    }
.cms-shop .product-image-area {
        min-height: 178px;
    }
.cms-shop  .category-products .products-grid li.item .details-area .product-name a {
    font-size: 12px !important;
}
.cms-shop .regular-price .price {
    font-size: 16px;
    margin-left: 30px;

}
.blog-index-list .col2-left-layout .col-main{
    width: 75% !important;
}
.cms-index-index .postWrapper
{
    width: 100%;
}
}

.sp-methods label {
    width:80%;
}