/* Design by GKS Web Studio*/
@charset "UTF-8";

/*@font-face {
    font-family: "arti";
    src:url("../fonts/arti.eot");
    src:url("../fonts/arti.eot?#iefix") format("embedded-opentype"),
    url("../fonts/arti.woff") format("woff"),
    url("../fonts/arti.ttf") format("truetype"),
    url("../fonts/arti.svg#arti") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "arti" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "arti" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
    content: "a";
}
.icon-arrow-more:before {
    content: "b";
}
.icon-arrows:before {
    content: "c";
}
.icon-bag:before {
    content: "d";
}
.icon-basket:before {
    content: "e";
}
.icon-call:before {
    content: "f";
}
.icon-change:before {
    content: "g";
}
.icon-checkbox:before {
    content: "h";
}
.icon-clock:before {
    content: "i";
}
.icon-clock-2:before {
    content: "j";
}
.icon-delete:before {
    content: "k";
}
.icon-delivery:before {
    content: "l";
}
.icon-email:before {
    content: "m";
}
.icon-scales:before {
    content: "n";
}
.icon-sale:before {
    content: "o";
}
.icon-question-mark:before {
    content: "p";
}
.icon-popular:before {
    content: "q";
}
.icon-percent:before {
    content: "r";
}
.icon-news:before {
    content: "s";
}
.icon-message:before {
    content: "t";
}
.icon-list:before {
    content: "u";
}
.icon-key:before {
    content: "v";
}
.icon-handshake:before {
    content: "w";
}
.icon-grid:before {
    content: "x";
}
.icon-fire:before {
    content: "y";
}
.icon-eye:before {
    content: "z";
}
.icon-search:before {
    content: "A";
}
.icon-search2:before {
    content: "B";
}
.icon-services:before {
    content: "C";
}
.icon-star:before {
    content: "D";
}
.icon-tag:before {
    content: "E";
}
.icon-triangle:before {
    content: "F";
}
.icon-user:before {
    content: "G";
}
.icon-users:before {
    content: "H";
}
.icon-walet:before {
    content: "I";
}
@font-face {
	font-family: 'arti';
	src: url('../font/arti.eot?dxhc5f');
	src: url('../font/arti.eot?dxhc5f#iefix') format('embedded-opentype'),
	url('../font/arti.ttf?dxhc5f') format('truetype'),
	url('../font/arti.woff?dxhc5f') format('woff'),
	url('../font/arti.svg?dxhc5f#arti') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'arti';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
	color: #0ca5b0;
	font-size: 36px;
}
*/
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	vertical-align: middle;
}
.icon-handshake_21 .path1:before {
	content: "\e92b";
	color: rgb(48, 48, 48);
}
.icon-handshake_21 .path2:before {
	content: "\e92c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-handshake_22:before {
	content: "\e92d";
}
.icon-triangle-up:before {
	content: url('/skin/frontend/smartwave/porto/images/arti/triangle-down.png');
}
.icon-triangle-right:before {
	content: "\e928";
}
.icon-triangle-left:before {
	content: "\e929";
}
.icon-address:before {
	content: "\e900";
}
.icon-arrow_more:before {
	content: "\e901";
}
.icon-arrows .path1:before {
	content: "\e902";
	color: rgb(52, 56, 56);
}
.icon-arrows .path2:before {
	content: "\e903";
	margin-left: -1em;
	color: rgb(38, 217, 221);
}
.icon-arrows .path3:before {
	content: "\e904";
	margin-left: -1em;
	color: rgb(52, 56, 56);
}
.icon-arrows .path4:before {
	content: "\e905";
	margin-left: -1em;
	color: rgb(38, 217, 221);
}
.icon-bag:before {
	content: url(/skin/frontend/smartwave/porto/images/limite.png);
}
.icon-basket:before {
	content: url(/skin/frontend/smartwave/porto/images/basket-w.png);
}
.icon-cancel:before {
	content: url(/skin/frontend/smartwave/porto/images/close.png);
}
.icon-cancel1:before {
	content: url(/skin/frontend/smartwave/porto/images/close1.png);
}
.icon-comparearti:before {
	content: url(/skin/frontend/smartwave/porto/images/compare.png);
}
.product-image-area .actions a.addtocart:hover .icon-basket:before,
.icon-basket:hover:before {
	content: url(/skin/frontend/smartwave/porto/images/basket.png);
}
.icon-change:before {
	content: url(/skin/frontend/smartwave/porto/images/icon-exchange.png);
}
.icon-checkbox:before {
	content: "\e90a";
}
.icon-clock2:before {
	content: url(/skin/frontend/smartwave/porto/images/clock.png);
}
.icon-clock:before {
	content: "\e90c";
}
.icon-delete:before {
	content: "\e90d";
}
.icon-delivery:before {
	content: url(/skin/frontend/smartwave/porto/images/icon-dostavka.png);
}
.icon-email:before {
	content: "\e90f";
}
.icon-eye:before {
	content: url(/skin/frontend/smartwave/porto/images/eye.png);
}
.product-image-area .actions a.productview:hover .icon-eye:before,
.icon-eye:hover:before {
	content: url(/skin/frontend/smartwave/porto/images/eye-hover.png);
}
.icon-fire:before {
	content: url(/skin/frontend/smartwave/porto/images/fire.png);
}
.icon-callkont:before {
	background-image: url('/skin/frontend/smartwave/porto/images/arti/phone.png');
	background-size: 17px 20px;
	display: inline-block;
	width: 17px;
	height: 20px;
	content: "";
}
.icon-grid:before {
	content: "\e80e";
}
.icon-handshake:before {
	content: "\e913";
}
.icon-key:before {
	content: "\e914";
}
.icon-list:before {
	content: "\e80f";
}
.icon-message:before {
	content: "\e916";
}
.icon-news:before {
	content: url(/skin/frontend/smartwave/porto/images/news.png);
}
.icon-percent:before {
	content: "\e918";
}
.icon-popular:before {
	content: "\e919";
}
.icon-question_mark:before {
	content: "\e91a";
}
.icon-sale:before {
	content: "\e91b";
}
.icon-scales:before {
	content: "\e91c";
}
.icon-search2:before {
	content: "\e91e";
}
.icon-services:before {
	content: "\e91f";
}
.icon-star:before {
	content: "\e920";
}
.icon-tag:before {
	content: url(/skin/frontend/smartwave/porto/images/tag.png);
}
.icon-tag3:before {
	content: url(/skin/frontend/smartwave/porto/images/icon-cart.jpg);
}
.icon-triangle:before {
	content: "\e922";
}
.icon-user:before {
	content: "\e923";
}
.icon-users:before {
	content: "\e924";
}
.icon-walet:before {
	content: "\e925";
}
.i-black {
	color: #343838;
}
.icon-plus-squared:before {
	content: "\E80B";
}
.icon-minus-squared:before {
	content: "\E80D";
}
.icon-plus-squared2:before {
	background-image: url('/skin/frontend/smartwave/porto/images/arti/triangle-upc.png');
	background-size: 21px 11px;
	display: inline-block;
	width: 21px;
	height: 11px;
	content: "";
}
.icon-minus-squared2:before {
	background-image: url('/skin/frontend/smartwave/porto/images/arti/triangle-upcc.png');
	background-size: 21px 11px;
	display: inline-block;
	width: 21px;
	height: 11px;
	content: "";
}
.icon-plus-squared2 {
	position: relative;
	left: -6px;
	top: 4px;
}
.icon-cart:before {
	content: url(/skin/frontend/smartwave/porto/images/basket.png);
}
.icon-walet:before {
	content: url(/skin/frontend/smartwave/porto/images/icon-oplata.png);
}
.icon-compare:before {
	content: url(/skin/frontend/smartwave/porto/images/icon-sravnenie.jpg);
}
.icon-compare2:before {
	content: "";
	background: url("/skin/frontend/smartwave/porto/images/ico-scales.png") 0 0 no-repeat;
	width: 29px;
	height: 23px;
	margin: 0 5px 0 0;
}
.icon-key:before {
	content: "";
	background: url("/skin/frontend/smartwave/porto/images/key.png") 0 0 no-repeat;
	width: 21px;
	height: 20px;
	margin: 0 5px 0 0;
}
.icon-basket2:before {
	background: url('/skin/frontend/smartwave/porto/images/basket.png') 0 0 no-repeat;
	width: 21px;
	height: 22px;
	content: "";
	margin: 0 5px 0 0;
}
.icon-call:before {
	background: url('/skin/frontend/smartwave/porto/images/arti/phone.png') 0 0 no-repeat;
	width: 23px;
	height: 27px;
	content: "";
	margin: 0 5px 0 0;
}
.icon-triangle-down:before {
	background: url('/skin/frontend/smartwave/porto/images/arti/triangle-down.png') 0 0 no-repeat;
	width: 10px;
	height: 6px;
	content: "";
	margin: 0;
}
.icon-triangle-down {
	position: relative;
	top: 2px;
}
.icon-handshake2:before {
	background: url('/skin/frontend/smartwave/porto/images/arti/partner.png') 0 0 no-repeat;
	width: 41px;
	height: 41px;
	content: "";
	margin: 0 8px 0 0 !important;
}
.icon-handshake2 {margin: 0 !important;}
.icon-search:before {
	background: url('/skin/frontend/smartwave/porto/images/arti/search.png') 0 0 no-repeat;
	width: 18px;
	height: 18px;
	content: "";
	margin: 0;
	vertical-align: middle;
}