<?php
$store = Mage::app()->getStore();
$code = $store->getCode();

$_infoblock = Mage::getStoreConfig('porto_settings/contacts/infoblock', $code);
?>
<div class="page">
    <?php echo $this->getChildHtml('header') ?>
    <?php echo $this->getChildHtml('topContainer') ?>
    <div class="main-container col2-left-layout">
        <div class="main container">
            <div class="row">


                <div class="breadcrumbs">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 a-left">
                                <div class="row">
                                    <div class="col-md-3 col-lg-2-4"></div>
                                    <div class="col-sm-9 col-lg-9-6" style="width:80%;margin-left: 21%;">
                                        <ul>
                                            <li class="home">
                                                <a style="font-size: 12px;" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);?>"
                                                   title="Перейти на главную страницу">Главная</a>
                                                <span class="breadcrumbs-split">-</span>
                                            </li>
                                            <li class="cms_page">
                                                <strong style="font-size: 12px;">Контакты</strong>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="home-side-menu-type2" style="margin-bottom:20px;float: left;">
                    <div class="side-menu-header" style="cursor: pointer;">
                        <h2><?php echo $this->__("CATEGORIES");?></h2>
                    </div>
                    <div class="side-block">


                        <?php
                        $storeId = Mage::app()->getStore()->getId();
                        //Get category model
                        $_category = Mage::getModel('catalog/category')->setStoreId($storeId);
                        $_cat = $_category->load(Mage::app()->getStore()->getRootCategoryId());
                        ?>
                        <?php
                        function getChildrenCategoriesHtmlContent($_category)
                        {
                            $children = explode(",", $_category->getChildren());
                            $content = '';
                            $content .= '<li class="';
                            if (!$children[0])
                                $content .= 'has-no-children';
                            else
                                $content .= 'has-children';
                            $content .= '">';
                            $content .= '<a href="' . $_category->getUrl() . '" ';
                            $content .= '>' . $_category->getName() . '</a>';
                            if ($children[0]) {
                                $content .= '<span class="plus"><i class="icon-plus-squared"></i></span>';
                                $content .= '<ul>';
                                foreach ($children as $child) {
                                    $_subcat = Mage::getModel('catalog/category')->load($child);
                                    $content .= getChildrenCategoriesHtmlContent($_subcat);
                                }
                                $content .= '</ul>';
                            }
                            $content .= '</li>';
                            return $content;
                        }

                        ?>
                        <div class="block block-category-nav">
                            <div class="block-title">
                                <strong><span><?php echo $this->__("Category") ?></span></strong>
                            </div>
                            <div class="block-content">
                                <ul class="category-list">
                                    <?php
                                    $children = explode(",", $_cat->getChildren());
                                    foreach ($children as $child) {
                                        $_category = Mage::getModel('catalog/category')->load($child);
                                        echo getChildrenCategoriesHtmlContent($_category);
                                    }
                                    ?>
                                </ul>
                            </div>
                            <script type="text/javascript">
                                jQuery(function ($) {
                                    $(".block.block-category-nav .block-title strong").click(function () {
                                        if ($(this).hasClass("closed")) {
                                            $(".block.block-category-nav .block-content").slideDown();
                                            $(this).removeClass("closed");
                                        } else {
                                            $(".block.block-category-nav .block-content").slideUp();
                                            $(this).addClass("closed");
                                        }
                                    });
                                    $(".block.block-category-nav .category-list .plus").click(function () {
                                        if ($(this).parent().hasClass("opened")) {
                                            $(this).parent().children("ul").slideUp();
                                            $(this).parent().removeClass("opened");
                                            $(this).children("i.icon-minus-squared").removeClass("icon-minus-squared").addClass("icon-plus-squared");
                                        } else {
                                            $(this).parent().children("ul").slideDown();
                                            $(this).parent().addClass("opened");
                                            $(this).children("i.icon-plus-squared").removeClass("icon-plus-squared").addClass("icon-minus-squared");
                                        }
                                    });
                                });
                            </script>


                        </div>


                    </div>



                    <div class="how-order">
                        <a class="lnk-how-order" href="#">Как оформить <br>заказ онлайн?</a>
                    </div>

                    <div class="block-order">
                        <strong class="ttl-order">Не нашли что искали?</strong>
                        <a class="btn-order-new" id="popupbutton" href="#popupform">Заказать <br>новый товар!</a>
                    </div>


                </div>
                <div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
                <div class="row">
                    <div class="col-sm-6 cont24" style="width: 61%;">
                        <form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
                            <div class="popular-block-title"
                                 style="  position: relative;right: 20%;top: 25px;  width: 61%;">
                                <img src="<?php echo $this->getSkinUrl(); ?>images/icon-email.png" width="50"
                                     height="50">
                                <h1><?php echo Mage::helper('contacts')->__('Свяжитесь с нами') ?></h1>
                                <span>Вся поставляемая нами продукция сертифицирована и соответсвует ГОСТам, международному стандарту качетсва продукции</span>
                                <hr class="spechr">
                            </div>
                            <div class="row">
                                <ul class="form-list col-sm-6">
                                    <li>
                                        <label for="name"
                                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Name:') ?>
                                        </label>
                                        <div class="input-box">
                                            <input name="name" id="name"
                                                   title="<?php echo Mage::helper('contacts')->__('Name') ?>"
                                                   value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>"
                                                   class="input-text username  nickname" type="text"/>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="email"
                                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email:') ?>
                                        </label>
                                        <div class="input-box">
                                            <input name="email" id="email"
                                                   title="<?php echo Mage::helper('contacts')->__('Email') ?>"
                                                   value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>"
                                                   class="input-text emaila  validate-email" type="text"/>
                                        </div>
                                    </li>
                                    <li>
                                        <label
                                            for="telephone"><?php echo Mage::helper('contacts')->__('Мобильный телефон:') ?></label>
                                        <div class="input-box">
                                            <input name="telephone2" id="telephone2"
                                                   title="<?php echo Mage::helper('contacts')->__('Telephone') ?>"
                                                   value="" class="input-text telw2"
                                                   style="padding-left:8px !important;" type="text"/>
                                        </div>
                                        <div class="input-box telkont">
                                            <input name="telephone" id="telephone"
                                                   title="<?php echo Mage::helper('contacts')->__('Telephone') ?>"
                                                   value="" class="input-text phone telw" type="text"/>
                                        </div>
                                    </li>

                                    <li class="stac">
                                        <label
                                            for="telephone"><?php echo Mage::helper('contacts')->__('Стационарный телефон:') ?></label>
                                        <div class="input-box">
                                            <input name="telephone2" id="telephone2"
                                                   title="<?php echo Mage::helper('contacts')->__('Telephone') ?>"
                                                   value="" class="input-text telw2"
                                                   style="padding-left:8px !important;" type="text"/>
                                        </div>
                                        <div class="input-box telkont">
                                            <input name="telephone" id="telephone"
                                                   title="<?php echo Mage::helper('contacts')->__('Telephone') ?>"
                                                   value="" class="input-text phone telw" type="text"/>
                                        </div>
                                    </li>

                                    <li class="temakont">
                                        <label for="tema"><?php echo Mage::helper('contacts')->__('Тема:') ?></label>
                                        <div class="input-box">
                                            <input name="tema" id="tema"
                                                   title="<?php echo Mage::helper('contacts')->__('Тема:') ?>" value=""
                                                   class="input-text comp" type="text"/>
                                        </div>
                                    </li>

                                </ul>
                                <ul class="form-list col-sm-6 meskont">
                                    <li>
                                        <label for="comment"
                                               class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Сообщение:') ?>
                                        </label>
                                        <div class="input-box input-textarea">
                                            <textarea name="comment" id="comment"
                                                      title="<?php echo Mage::helper('contacts')->__('Comment') ?>"
                                                      class="textcont input-text comment" cols="5" rows="3"></textarea>
                                        </div>
                                    </li>
                                    <li>
                                        <input type="text" name="hideit" id="hideit" value=""
                                               style="display:none !important;"/>
                                        <button type="submit"
                                                title="<?php echo Mage::helper('contacts')->__('Submit') ?>"
                                                class="button"><span class="subkont"><span
                                                    class="subkont2"><?php echo Mage::helper('contacts')->__('Отправить сообщение') ?></span></span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                        <script type="text/javascript">
                            //<![CDATA[
                            var contactForm = new VarienForm('contactForm', true);
                            //]]>
                        </script>
                    </div>
                    <div class="col-sm-6 contact-info mapkont">
                        <h2 class="legend"><?php echo Mage::helper('contacts')->__('Наши офисы:') ?> <b></b></h2>
                        <?php
                        echo $_infoblock;
                        ?>
                        <div style="margin-top:27px;">
                            <?php  echo $this->getLayout()->createBlock('cms/block')->setBlockId('contacts_info_phones')->toHtml(); ?>
<!--                            <div class="block blockkont">-->
<!--                                <div class="block-title"><strong><span-->
<!--                                            class="gorkont">Харьков<br>Центральный офис</span></strong></div>-->
<!--                                <div class="block-content">-->
<!--                                    <span class="icon-callkont i-black"></span>-->
<!--                                    <p class="phone phonekont">-->
<!--                                        +38 (057) 757 51 54<br>-->
<!--                                        +38 (057) 757 51 58<br>-->
<!--                                        +38 (057) 719 96 08-->
<!--                                    </p>-->
<!--                                    <span class="icon-adresskont"></span>-->
<!--                                    <p class="address addresskont">-->
<!--                                        Салтовское шоссе, 67-А<br>-->
<!--                                        <a href="maito:marketing@arti.com.ua">marketing@arti.com.ua</a>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!---->
<!--                            <div class="block blockkont2">-->
<!--                                <div class="block-title"><strong><span-->
<!--                                            class="gorkont">АВТОРЫНОК <br>"ЛОСК"</span></strong></div>-->
<!--                                <div class="block-content">-->
<!--                                    <span class="icon-callkont i-black"></span>-->
<!--                                    <p class="phone phonekont">-->
<!--                                        +38 (067) 570 09 52<br>-->
<!--                                    </p>-->
<!--                                    <div class="tel1">-->
<!--                                        <span class="icon-adresskont"></span>-->
<!--                                        <p class="address addresskont">-->
<!--                                            Восточная площадка-->
<!--                                            павильон № 16-->
<!--                                            пгт. Песочин<br>-->
<!---->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!---->
<!---->
<!--                            <div class="block blockkont">-->
<!--                                <div class="block-title"><strong><span class="gorkont">ОДЕССА</span></strong></div>-->
<!--                                <div class="block-content">-->
<!--                                    <span class="icon-callkont i-black"></span>-->
<!--                                    <p class="phone phonekont">-->
<!--                                        +38 (0482) 39 44 96<br>-->
<!--                                        +38 (067) 540 36 16-->
<!--                                    </p>-->
<!--                                    <div class="tel2">-->
<!--                                        <span class="icon-adresskont"></span>-->
<!--                                        <p class="address addresskont">-->
<!--                                            ул. Новомосковская дорога, 23/1<br>-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!---->
<!--                            <div class="block blockkont3">-->
<!--                                <div class="block-title"><strong><span class="gorkont">ДНЕПРОПЕТРОВСК</span></strong>-->
<!--                                </div>-->
<!--                                <div class="block-content">-->
<!--                                    <span class="icon-callkont i-black"></span>-->
<!--                                    <p class="phone phonekont">-->
<!--                                        +38 (032) 245 36 20<br>-->
<!--                                        +38 (067) 485 43 36<br>-->
<!--                                        +38 (067) 485 41 82-->
<!--                                    </p>-->
<!--                                    <span class="icon-adresskont"></span>-->
<!--                                    <p class="address addresskont">-->
<!--                                        пр. Кирова, 97<br>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!---->
<!---->
<!--                            <div class="block blockkont">-->
<!--                                <div class="block-title"><strong><span class="gorkont">ЛЬВОВ</span></strong></div>-->
<!--                                <div class="block-content">-->
<!--                                    <div class="tell">-->
<!--                                        <span class="icon-callkont i-black"></span>-->
<!--                                        <p class="phone phonekont">-->
<!--                                            +38 (056) 749 63 10<br>-->
<!--                                            +38 (056) 749 60 10<br>-->
<!--                                            +38 (056) 749 69 10<br>-->
<!--                                            +38 (067) 540-46-76-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                    <div class="tel4">-->
<!--                                        <span class="icon-adresskont"></span>-->
<!--                                        <p class="address addresskont">-->
<!--                                            ул. Бузкова, 2<br>-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!---->
<!---->
<!--                            <div class="block blockkont4">-->
<!--                                <div class="block-title"><strong><span class="gorkont">Партнер в РФ <br>ТД "РТИ-Поставка"</span></strong>-->
<!--                                </div>-->
<!--                                <div class="block-content">-->
<!--                                    <span class="icon-callkont i-black"></span>-->
<!--                                    <p class="phone phonekont">-->
<!--                                        (4722) 40 21 09<br>-->
<!--                                        (4712) 22 73 44<br>-->
<!--                                        (952) 495 53 57-->
<!--                                    </p>-->
<!--                                    <div class="tel4">-->
<!--                                        <span class="icon-adresskont"></span>-->
<!--                                        <p class="address addresskont">-->
<!--                                            05044, г. Курск,-->
<!--                                            ул. Чайковского,-->
<!--                                            д 49б, офис 6<br>-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>