<?php $_product = $this->getProduct() ?>

<?php if ($_product->isAvailable()): ?>
    <p class="availability in-stock"><span><?php echo $this->__('In stock') ?></span></p>
<?php else: ?>
    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
<?php endif; ?>

<?php if ( count($_product->getInStocks()) > 0 ):
    $stockNames = array();
    foreach ($_product->getInStocks() as $stock) {
        $stockNames[] = $this->__($stock->getStockName());
    }
    echo $this->__('In stocks').': '.implode(', ', $stockNames);
endif; ?>

<div class="product-view-price-box">
    <?php echo $this->getPriceHtml($_product) ?>
</div>

<?php echo $this->getChildHtml('product_type_data_extra') ?>
