<?php
/**
 * Customer "Remember Me" template
 *
 * @var $this Mage_Persistent_Block_Form_Remember
 */
?>

<li class="form-group">
    <div class="col-sm-9">
        <?php $rememberMeId = 'remember_me' . Mage::helper('core')->getRandomString(10); ?>
        <div class="input-box checkbox">
            <label for="<?php echo $rememberMeId; ?>">
                <input type="checkbox" name="persistent_remember_me" class="checkbox" id="<?php echo $rememberMeId; ?>"<?php if ($this->isRememberMeChecked()): ?> checked="checked"<?php endif; ?> title="<?php echo Mage::helper('core')->quoteEscape($this->__('Remember Me')) ?>" /> <?php echo $this->__('Remember Me') ?>
            </label>
        </div>
    </div>
</li>
<li class="form-group agrees_text_block">
    <div class="col-sm-9">
        <div class="input-box checkbox">
            <label for="agrees">
                <input type="checkbox" name="agrees" class="checkbox" id="agrees" checked="checked"
                    /> <?php echo $this->__('Я согласен на условия обслуживания и их соблюдения.') ?>
            </label>
            <a href="/ysloviya-ispolzovaniya-sajta">(<?php echo $this->__('Условия обслуживания') ?>)</a>
        </div>
    </div>
</li>


    <!--<a class="link-tip" href="#"><?php /*echo $this->__('What\'s this?') */?></a>-->
