<?php
/**
 * Customer "Remember Me" template
 *
 * @var $this Mage_Persistent_Block_Form_Remember
 */
?>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
        <?php $rememberMeId = 'remember_me' . Mage::helper('core')->getRandomString(10); ?>
        <div class="input-box checkbox">
            <label for="<?php echo $rememberMeId; ?>">
                <input type="checkbox" name="persistent_remember_me" class="checkbox" id="<?php echo $rememberMeId; ?>"<?php if ($this->isRememberMeChecked()): ?> checked="checked"<?php endif; ?> title="<?php echo Mage::helper('core')->quoteEscape($this->__('Remember Me')) ?>" /> <?php echo $this->__('Remember Me') ?>
            </label>

            <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="f-right ajaxlogin-forgot"><?php echo $this->__('Forgot Your Password?') ?></a>
        </div>
    </div>
</div>


    <!--<a class="link-tip" href="#"><?php /*echo $this->__('What\'s this?') */?></a>-->
