#popupform
{
    display: none;
}

#popupform .error {
    color: #c00000;
}
#popupform h2 {
    color: #353535;
    font: 1.714em/1em 'Trebuchet MS';
    margin-bottom: 8px;
}
#popupform .comment {
    color: #717171;
    font: 0.928em 'Trebuchet MS';
    margin-bottom: 3px;
}
#popupform label {
    display: block;
    padding: 4px 0;
}
#popupform .input_text {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    color: #555;
    display: block;
    font-size: 12pt;
    height: 28px;
    margin: 17px 6px 0 0;
    padding: 5px;
    width: 360px;
}

#popupform .button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #555;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    margin: 10px 0;
    padding: 2px 16px;
    width: 185px;
}
#popupform .button:hover {
    background-color: #4683ea;
    border: 1px solid #4387fd;
    color: #fff;
}

#ajaxlogin-window .page-title, #ajaxlogin-window .page-title span {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: #0ca5b0;
  height: 50px;
  text-transform: uppercase;
  padding: 14px 14px;
  margin-right: 2px;
}

#popupform .page-title {
  color: #fff;
  font-weight: 700;
  background-color: #0ca5b0;
  text-transform: uppercase;
  padding: 14px 14px;
}

#popupform  .page-title span
{
 font-size: 18px;
}

#popupform .small
{
    font-size: 13px !important;
  font-weight: normal;
}

#form-feedback .control-label
{
    display: block;
    float: none;
    padding-left: 15px;
  font-size: 16px;
  font-weight: 400;
}
#form-feedback .control-label.col-sm-2 {
    width: auto;
}


#form-feedback .input-text
{
  height: 52px;
  width: 329px;
  background-color: white;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  box-shadow: inset 0 0 2px white;
  padding-left: 40px;
  }
  
#form-feedback .col-sm-2 {
  width: 34.666667%;
    text-align: left;
}

#form-feedback .col-sm-10 {
  width: 35.333333%;
}

#form-feedback .buttons-set
{
margin: 0;
  text-align: center;
  border-top: 0 solid #e4e4e4;
  padding: 7px 0;
    margin-left: 15px;
  }
  
#form-feedback a.fancybox-close  
{
display:none !important;
}


#form-feedback .input-textarea
{
    height: 71px;
    width: 330px;
    font-size: 15px;
    font-style: italic;
    line-height: 1.2;
 } 

#form-feedback .telw {
  width: 254px !important;
  margin-left: 25px;
} 
 
.ob
{
  margin-bottom: 23px;
  height: 55px;
    position: relative;
} 

#bthrow_error_name, #bthrow_error_phone, #bthrow_error_email
{
    position: absolute;
    top: 61px;
    display: block;
    width: 285px;
    left: auto;
    right: 16px;
    color: red;
    height: 0;
    font-size: 11px;
    text-align: right;
}

  #form-feedback  .telw2
  {
  padding-left: 5px;
  }