<?php
$store = Mage::app()->getStore();
$code = $store->getCode();
$footer = Mage::getStoreConfig('porto_settings/footer', $code);
?>
<div class="newsletter block-subscribe">
    <div class="newsletter-title">
        <?php if ($footer['footer_newsletter_title'] != ''): ?>
            <strong><span><?php echo $footer['footer_newsletter_title']; ?></span></strong>
        <?php else: ?>
            <p class="label"><?php echo $this->__('Хотите получать наши новости?'); ?></p>
        <?php endif; ?>
    </div>
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="footer-newsletter-validate-detail"
          onsubmit="setNewsletterCookie()">
        <div class="newsletter-content">
            <?php if ($footer['footer_newsletter']): ?>
                <p><?php echo $footer['footer_newsletter']; ?></p>
            <?php endif; ?>
            <div class="input-box">
                <input type="text" name="email" id="newsletter_footer"
                       title="<?php echo $this->__('Sign up for our newsletter') ?>"
                       placeholder="<?php echo $this->__('Имя') ?>"
                       class="input-text required-entry validate-email"/>
					   
					   <input type="text" name="email" id="newsletter_footer"
                       title="<?php echo $this->__('Sign up for our newsletter') ?>"
                       placeholder="<?php echo $this->__('Почта') ?>"
                       class="input-text required-entry validate-email"/>
					   
                <button type="submit" title="<?php echo $this->__('Подписаться') ?>" class="button">
                    <span><span><?php echo $this->__('Подписаться') ?></span></span></button>
                <div class="clearer"></div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var footernewsletterSubscriberFormDetail = new VarienForm('footer-newsletter-validate-detail');
        //]]>
    </script>
</div>
