.etabs {
    margin: 0;
    padding: 0;
}
.tab {
    width: 230px;
    height: 72px;
    display: inline-block;
    zoom: 1;
}
.tab a {
    color: #969696;
    font-family: "Noto Serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin: 10px -1px 0px 8px;
    display: inline-flex;
    text-decoration: none;
    text-align: center;
    padding: 22px 10px;
}
.etabs .tab a span {
    padding: 5px;
    margin-right: 13px;
    font-size: 13px;
    margin-top: -12px;
    width: 44px;
    height: 44px;
    background-color: #969696;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.etabs .tab a i {
    color: #fff;
    position: relative;
    font-size: 33px;
    top: 3px;
}
.etabs .tab.active a.active span {
    background-color: #343838;
}
.tab a:hover {
    text-decoration: none;
    font-weight: 400;
}
.tab.active {
    border: solid 1px #999;
    border-bottom: none;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    background: #fff;
    padding-top: 1px;
    height: 74px;
    position: relative;
    top: 1px;
    border-color: #666;
}
.tab a.active {
    font-weight: 400;
    color: #343838;
}
.tab-container .panel-container {
    border-top: solid #343838 1px;
    background: #fff;
}
.panel-container {
    padding-top: 20px;
    margin-bottom: 10px;
}