<STYLE type="text/css">
    .category ul, .attributes ul, .price ul { padding-left: 20px; padding-bottom: 4px; list-style-type: square;}
</STYLE>
<?php if($this->hasFiles()):?>
    <?php foreach ($this->getFileImportList() as $item) :?>
        <h3 style="color: green;"><?php echo $item->getName();?></h3>
        <?php if($item->hasProductSize()):?>
            <h3>Количество товаров: <strong style="color: green;"><?php echo $item->getProductSize();?></strong></h3>
        <?php endif;?>
        <?php if($item->getCategoryHtml() !== null):?>
            <div class="category">
                <h3>Категории</h3>
                <?php echo $item->getCategoryHtml();?>
            </div>
            <br />
        <?php endif;?>
        <?php if($item->getAttribute()):?>
        <div class="attributes">
            <h3>Атрибуты (свойства)</h3>
            <?php foreach ($item->getAttribute() as $attribute):?>
                <ul>
                    <li><strong><?php echo $attribute->getName()?></strong> (<?php echo $attribute->getId();?>). Тип - <?php echo $attribute->getType();?></li>
                    <?php if($attribute->getValues()):?>
                        <ul>
                            <?php foreach ($attribute->getValues() as $value):?>
                                <li><?php echo $value;?></li>
                            <?php endforeach;?>
                        </ul>
                    <?php endif;?>
                </ul>
            <?php endforeach;?>
        </div>
        <?php endif;?>
         <?php if($item->getPrice()):?>
            <div class="price">
                <h3>Цены</h3>
                <ul>
                <?php foreach ($item->getPrice() as $price):?>
                    <li><?php echo $price->getName();?> (<?php echo $price->getCurrency();?>)</li>
                <?php endforeach;?>
                </ul>
            </div>
        <?php endif;?>
         <?php if($item->getRest()):?>
            <div class="price">
                <h3>Склады</h3>
                <ul>
                <?php foreach ($item->getRest() as $option):?>
                    <li><strong><?php echo $option->getName()?></strong> (<?php echo $option->getId();?>).</li>
                <?php endforeach;?>
                </ul>
            </div>
        <?php endif;?>
    <?php endforeach;?>
    <br />
    <br />
    <?php foreach ($this->getFileOffersList() as $item) :?>
        <h3 style="color: green;"><?php echo $item->getName();?></h3>
        <?php if($item->hasProductSize()):?>
            <h3>Количество предложений (информация о ценах, характеристики товара): <strong style="color: green;"><?php echo $item->getProductSize();?></strong></h3>
        <?php endif;?>
        <?php if($item->getPrice()):?>
            <div class="price">
                <h3>Цены</h3>
                <ul>
                <?php foreach ($item->getPrice() as $price):?>
                    <li><?php echo $price->getName();?> (<?php echo $price->getCurrency();?>)</li>
                <?php endforeach;?>
                </ul>
            </div>
        <?php endif;?>
         <?php if($item->getRest()):?>
            <div class="price">
                <h3>Склады</h3>
                <ul>
                <?php foreach ($item->getRest() as $option):?>
                    <li><strong><?php echo $option->getName()?></strong> (<?php echo $option->getId();?>).</li>
                <?php endforeach;?>
                </ul>
            </div>
        <?php endif;?>
        <?php if($item->getOptions()):?>
            <div class="price">
                <h3>Характеристики товара</h3>
                <ul>
                <?php foreach ($item->getOptions() as $option):?>
                    <li><?php echo $option;?></li>
                <?php endforeach;?>
                </ul>
            </div>
        <?php endif;?>
    <?php endforeach;?>
<?php else:?>
    <h3>В папке обмена нет файлов.</h3>
<?php endif;?>