<?php $posts = $this->getPosts(); ?>
<div id="messages_product_view">
    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?> 
    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?> 
</div>
<style>
@media (min-width: 768px)
{
.col2-left-layout .col-main
{
  width: 81%;
  top: -10px;
}
}
</style>

<div class="posts-wrap">
<?php foreach ($posts as $post): ?>
    <div class="postWrapper">
        <?php if($banner_content = $post->getBannerContent()): ?>
        <div class="postBanner">
        <?php
            echo $banner_content;
        ?>
        </div>
        <?php endif; ?>
        
		<div class="titleak">
        <div class="postTitle">
            <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
        </div>
<!--		<div class="post-date">-->
<!--             --><?php //echo $post->getCreatedTime(); ?><!--</span>-->
<!--        </div>-->
				</div>
		
        <div class="postContent"><?php echo $post->getPostContent(); ?></div>

        <div class="postDetails">
            <span><i class="icon-calendar"></i><?php echo $post->getCreatedTime(); ?></span>
            <span><i class="icon-user"></i><?php echo $this->__("By"); ?> <?php echo $post->getUser(); ?></span>
            <span><i class="icon-tag"></i><?php echo $this->getTagsHtml($post) ?></span>
            <?php if ($this->getCommentsEnabled()): ?>
                <span><i class="icon-chat"></i><a href="<?php echo $post->getAddress(); ?>#commentBox" ><?php echo $post->getCommentCount(); ?> Comments</a></span>
            <?php endif; ?>
            <?php $postCats = $post->getCats(); ?>
            <?php if (!empty($postCats)): ?>
                <span><i class="icon-folder-open"></i>
                <?php foreach ($postCats as $data): ?>
                    <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a><span class="last">,</span>
                <?php endforeach; ?>
                </span>
            <?php endif; ?>
        </div>
        <?php echo $this->getBookmarkHtml($post) ?>
		
		
		
		
		
	</div>


	

<?php endforeach; ?>
</div>

