<?php if ($posts = $this->getRecent()): ?>
    <?php foreach ($posts as $post): ?>
        <a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a><br />
    <?php endforeach; ?>
<?php endif; ?>

<style>
@media (min-width: 768px)
{
.col2-left-layout .col-main
{
  width: 81%;
  top: -10px;
}
}
</style>
