<?php if ($posts = $this->getRecent()): ?>
<div class="posts-wrap row">
    <?php foreach ($posts as $post): ?>
        <div class="postWrapper col-xs-12 col-sm-6">
            <div class="postBanner">
                <?php if($post_image = $post->getImage()) : ?>
                    <img alt="" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$post_image; ?>" />
                <?php endif; ?>
            </div>
            <div class="titleak">
                <div class="postTitle">
                    <h2><a href="<?php echo $post->getAddress(); ?>"><?php echo $post->getTitle(); ?></a></h2>
                </div>
                <div class="post-date"><?php echo Mage::helper('core')->formatDate($post->getCreatedTime(), 'long', false); ?></div>
            </div>
            <div class="postContent">
                <p><?php echo $post->getShortContent(); ?></p>
                <div class="lnk-row"><a class="category-grid-link-more" href="<?php echo $post->getAddress(); ?>"><?php echo $this->__('Show more (home promotions)'); ?></a></div>
            </div>
        </div>
    <?php endforeach; ?>
</div>
<?php endif; ?>