/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2016-05-16 13:35:39 */

    input, select, textarea, button,
    input.input-text,
    .btn, button.button span,
    .sorter .view-mode i, .sorter .view-mode strong i, .sorter .view-mode a:hover i,
    .pager li>a, .pager li > span, .pager .pages li,
    .product-label span,
    a.quickview-icon, a.addtocart, a.comparelink, a.addtowishlist,
    .product-view .product-img-box li.etalage_thumb, .product-view .product-img-box li.etalage_small_thumbs li,
    .qty-changer > a, .add-to-cart button.button span,
    .product-view .product-shop .add-to-links a,
    .sharing-tool-area .addthis_32x32_style .at300bs,
    .product-tabs>ul li, .product-tabs .tab-content,
    .form-list input.input-text, .form-list textarea, .form-list select,
    .block.block-related .product .product-image img,
    .cart .cart-table-wrap, .cart .discount h2, .cart .shipping h2, .cart .cart-collaterals h2,
    .cart .discount h2 + *, .cart .shipping h2 + *, .cart .cart-collaterals h2 + *,
    .cart .discount h2:before, .cart .shipping h2:before,
    .featured-box, .featured-box .box-content, .featured-box .block-flickr-photos a.flickr-image,
    .contacts-index-index .col-main .contact-info i,
    .dashboard .welcome-msg,
    .box .box-title, .box .box-content, .address-list li.item, .form-wrap, #form-validate,
    .postBanner, .postWrapper .post-date .day, .postWrapper .post-date .month, .postBanner img, .block.block-blog-recent ul li div.post-image,
    .commentWrapper i.icon-user, .commentWrapper .comment-area,
    .fancybox-opened .fancybox-skin,
    a.single-image,
    .recent-posts .item .post-image, .recent-posts .item .post-image img,
    .menu.side-menu>li.menu-item-has-children .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist,.form-wrap,#form-validate,#login-form,a.at300b .at4-icon, a.at300m .at4-icon
    {border-radius:0}

    .header .form-search #search,
    .header .form-search,
    .header-container .selectbox .dropdown,
    .header-container .links,
    .menu-wrapper,
    ul.menu>li,
    .menu>li .nav-sublist-dropdown,
    .topCartContent,
    .block,
    .block .block-title,
    .block .block-title:before,
    .block .block-content,
    .block-layered-nav dt,
    .block-layered-nav dt:before,
    .block-layered-nav dd,
    .block-layered-nav #narrow-by-list .layered-navigation-swatch,
    .product-image-area, .item .product-image,
    .product-swatches-container li a,
    #success-message-container,
    #after-loading-success-message,
    .opc-wrapper-opc .login-trigger, .review-menu-block a.review-total,
    .opc-wrapper-opc #opc-review-block, .md-content,
    .tooltip-popup,
    .category-boxed-banner .owl-item .item,
    blockquote, .img-thumbnail
    {border-radius:0!important}

    .product-image-area{padding:0;border:0}
    .footer-middle .block.block-subscribe .input-box input.input-text{border:1px solid #ccc;background-color:transparent;border-radius:4px;height:34px}
    .footer-middle .block.block-subscribe .input-box button{border-left:1px solid #ccc}
    .footer-middle .block.block-subscribe .input-box button span{background-color:transparent;color:#777;height:34px;line-height:34px}
.header-container.type4 { border-top: 0; }
.header-container.type4 .main-nav ul.menu>li>a { padding-top: 19px; padding-bottom: 19px; height: 54px; }
.main-nav .menu { border-bottom: 4px solid #3f4048; height: 54px; }
.main-nav ul.menu >li.menu-full-width >a:after, .main-nav ul.menu >li.menu-item-has-children >a:after, .main-nav ul.menu >li.menu-static-width >a:after { margin-top: -9px; }
.footer-middle .block.block-subscribe .input-box input.input-text {border: 0;background-color: #45464e;border-radius: 0;height: 36px;color:#fff;}
.footer-middle .block.block-subscribe .input-box button {border-left: 0;}
.footer-middle .block.block-subscribe .input-box button span {background-color: #0f0f0f;color: #fff;height: 36px;line-height: 36px;border-radius: 0;text-transform: uppercase;}
.footer-bottom a.logo{margin-right:0}
.footer-middle .product-name a,.small-list .price{color:#fff;}
.top-container >.breadcrumbs {margin-top: 5px; margin-bottom: -15px;}
.fixed-header ul.menu >li .nav-sublist-dropdown, .main-nav ul.menu >li .nav-sublist-dropdown, .fixed-header ul.menu >li.menu-full-width .nav-sublist-dropdown, .main-nav ul.menu >li.menu-full-width .nav-sublist-dropdown, .fixed-header ul.menu >li.menu-static-width .nav-sublist-dropdown, .main-nav ul.menu >li.menu-static-width .nav-sublist-dropdown{margin-top:0}
.header-container.type4 .main-nav ul.menu>li.menu-static-width.act:hover>a, .header-container.type4 .main-nav ul.menu>li.menu-full-width.act:hover>a, .header-container.type4 .main-nav ul.menu>li.menu-item-has-children.act:hover>a{height:54px;}
.header-container.type4 .main-nav ul.menu>li.menu-static-width.act>a, .header-container.type4 .main-nav ul.menu>li.menu-full-width.act>a, .header-container.type4 .main-nav ul.menu>li.menu-item-has-children.act>a{height:50px;}
.main-nav ul.menu >li.menu-full-width.act >a:after, .main-nav ul.menu >li.menu-item-has-children.act >a:after, .main-nav ul.menu >li.menu-static-width.act >a:after {
margin-top: -7px;
}
.main-nav ul.menu >li.menu-full-width.act:hover >a:after, .main-nav ul.menu >li.menu-item-has-children.act:hover >a:after, .main-nav ul.menu >li.menu-static-width.act:hover >a:after {
margin-top: -9px;
}
@media (min-width:768px){
    .footer-middle .col-sm-3{width:22.22%}
}