<?php
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$store = Mage::app()->getStore();
$code = $store->getCode();
$aspect_ratio = Mage::getStoreConfig("porto_settings/category/aspect_ratio", $code);
$ratio_width = Mage::getStoreConfig("porto_settings/category/ratio_width", $code);
$ratio_height = Mage::getStoreConfig("porto_settings/category/ratio_height", $code);
?>
<script type="text/javascript">
    //<![CDATA[
    var dailydealTimeCountersCategory = new Array();
    var i = 0;
    //]]>
</script>
<?php
$_coreHelper = $this->helper('core');
?>
<style>
#products-list .product-label
{
display:none;
}
</style>
<?php if (!$_productCollection->count()): ?>
    <div class="category-products">
        <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    </div>
<?php else: ?>
    <div class="category-products">
        <?php
        echo $this->getToolbarBlock()
            ->setToolbarBottom(false)
            ->setHideLimiter(false)
            ->setHidePager(true)
            ->toHtml();
        // List mode
        if ($this->getMode() != 'grid'):
            $_iterator = 0; ?>
            <table class="table table-bordered table-striped products-list">
                <thead>
                <tr>
                    <th><?php echo $this->__('Product Name') ?></th>
                    <th class="d768"><?php echo $this->__('Information') ?></th>
                    <th> <?php echo $this->__('Stock Availability') ?></th>
                    <th class="d768"> <?php echo $this->__('Единицы') ?></th>
                    <th><?php echo $this->__('Price') ?></th>
                    <th><?php echo $this->__('Количество/Заказать') ?></th>
                </tr>
                </thead>
                <tbody class="table-hover" id="products-list">
                <?php foreach ($_productCollection as $_product): ?>
                    <?php /* @var $_product Mage_Catalog_Model_Product */ ?>
                    <tr>
                        <td height="50" class="product-name">
                            <a href="<?php echo $_product->getProductUrl() ?>"
                                                                title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                <?php if (Mage::getStoreConfig("porto_settings/category/alternative_image", $code)):?>
                                    <img class="hoverImage"
                                         src="<?php if ($aspect_ratio): ?><?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250); ?><?php else: ?><?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize($ratio_width, $ratio_height); ?><?php endif; ?>"
                                         alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'thumbnail'), null, true) ?>"/>
                                <?php else: ?>
                                    <img
                                        src="<?php if ($aspect_ratio): ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250); ?><?php else: ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($ratio_width, $ratio_height); ?><?php endif; ?>"
                                        alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                                <?php endif; ?>
                                <span class='product-name-text'><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></span>
                            </a>
                        </td>
                        <td height="50"
                            class="short-desc d768"><?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?></td>
                        <td height="50">
                            <?php
                            	$stockNames = array();
                            	foreach ( $_product->getMultistockInfo() as $stock ) {
                            		if ( $stock->getQty() > 0 ) {
                            			$stockNames[] = $this->__($stock->getStockName());
                            		}
                            	}
                            	echo implode( ', ', $stockNames );
                            ?>
                        </td>
                        <td height="50" style="text-align: center;vertical-align: middle;" class="d768">шт.</td>
                        <td height="50"><?php echo $this->getPriceHtml($_product, true) ?></td>
                        <td height="50" class="actions">
                            <?php if ($_product->isSaleable()): ?>
                                <?php if (!($_product->getTypeInstance(true)->hasOptions($_product)/*$_product->getData('has_options')*/ || $_product->isGrouped())) : ?>
                                <form action="" method="post"
                                      id="product_addtocart_form_<?php echo $_product->getId() ?>"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                                    <?php if (!$_product->isGrouped()): ?>
                                        <div class="qty-holder">
                                            <input class="input-text qty" name="qty" id="qty_<?php echo $_product->getId(); ?>" value="1" title="<?php echo $this->__('Qty') ?>">
<!--                                            <select class="input-text qty" name="qty" id="qty_--><?php //echo $_product->getId(); ?><!--" title="--><?php //echo $this->__('Qty') ?><!--">-->
<!--                                            --><?php //$i = 1 ?>
<!--                                            --><?php //do { ?>
<!--                                                <option value="--><?php //echo $i; ?><!--">-->
<!--                                                    --><?php //echo $i; ?>
<!--                                                    --><?php //$i++; ?>
<!--                                                </option>-->
<!--                                            --><?php //} while ($i <= 100) ?>
<!--                                            </select>-->
                                        </div>
                                    <?php endif; ?>
                                    <a href="javascript:;" id="addtocart_link_<?php echo $_product->getId(); ?>" class="addtocart"
                                       title="<?php echo $this->__('Add to Cart') ?>">
                                        <i class="icon-cart"></i>
                                        <span><?php echo $this->__('Add to Cart') ?></span>
                                    </a>
                                </form>
                                <script type="text/javascript">
                                    jQuery("#addtocart_link_<?php echo $_product->getId(); ?>").click(function () {
                                        // get qty
                                        var qty = jQuery('#qty_<?php echo $_product->getId(); ?>').val();
                                        <?php if (Mage::getStoreConfig("ajaxcart/addtocart/enablecategory", $code)): ?>
                                            setLocationAjax('<?php echo $this->getAddToCartUrl($_product); ?>qty/' + qty + '/');
                                        <?php else: ?>
                                            window.location = '<?php echo $this->getAddToCartUrl($_product) ?>qty/' + qty + '/';
                                        <?php endif; ?>
                                        return false;
                                     });
                                </script>
                            <?php else : ?>
                                <a href="<?php if (Mage::getStoreConfig("ajaxcart/addtocart/enablecategory", $code)): ?>javascript:showOptions('<?php echo $_product->getId() ?>')<?php else: ?><?php echo $this->getAddToCartUrl($_product) ?><?php endif; ?>"
                                   class="addtocart" title="<?php echo $this->__('Add to Cart') ?>"><i
                                        class="icon-cart"></i><span><?php echo $this->__('Add to Cart') ?></span></a>
                                <a href='<?php echo $this->getUrl('ajaxcart/index/options', array('product_id' => $_product->getId())); ?>'
                                   class='fancybox' id='fancybox<?php echo $_product->getId() ?>' style='display:none'>Options</a>
                            <?php endif; ?>
                            <?php else: ?>
                                <a href="javascript:void(0);" class="addtocart outofstock"
                                   title="<?php echo $this->__('Out of stock') ?>"><?php echo $this->__('Out of stock') ?></span></a>
                            <?php endif; ?>
                            <?php // Ajax Wishlist Link ?>
                            <?php /*if ($this->helper('wishlist')->isAllow()) : */ ?><!--
                        <a href="<?php /*if(Mage::getStoreConfig("ajaxcart/addtolinks/enablecategory", $code)):*/ ?>javascript:ajaxWishlist('<?php /*echo $this->helper('wishlist')->getAddUrl($_product) */ ?>','<?php /*echo $_product->getId()*/ ?>');<?php /*else: */ ?><?php /*echo $this->helper('wishlist')->getAddUrl($_product) */ ?><?php /*endif; */ ?>" class="addtowishlist" title="<?php /*echo $this->__('Add to Wishlist') */ ?>"><i class="icon-wishlist"></i></a>
                    --><?php /*endif; */ ?>

                            <?php // Ajax Compare Link ?>
                            <?php /*if(Mage::getStoreConfig("porto_settings/category/compare", $code) && $_compareUrl=$this->getAddToCompareUrl($_product)): */ ?><!--
                        <a href="<?php /*if(Mage::getStoreConfig("ajaxcart/addtolinks/enablecategory", $code)):*/ ?>javascript:ajaxCompare('<?php /*echo $_compareUrl */ ?>','<?php /*echo $_product->getId()*/ ?>');<?php /*else: */ ?><?php /*echo $_compareUrl */ ?><?php /*endif; */ ?>" class="comparelink" title="<?php /*echo $this->__('Add to Compare') */ ?>"><i class="icon-compare"></i></a>
                    --><?php /*endif; */ ?>

                            <?php // Enable QuickView Links ?>
                            <?php
                            /*if( Mage::getStoreConfig("quickview/general/enableview", $code) ){
                                $base_url = $this->getUrl();
                                if(strpos($base_url,'?')!==false)
                                    $base_url = explode("?",$this->getUrl());
                                if(is_array($base_url))
                                    $base_url = $base_url[0];
        //                                if(strpos($base_url,'index.php')!==false){
        //                                    $base_url = str_replace('index.php/','',$base_url);
        //                                    $base_url .= "quickview/index/view/";
        //                                }else{
        //                                    $base_url .= "quickview/index/view/";
        //                                }
                                $base_url .= "quickview/index/view/";
                                $quickview_url = $base_url."id/".$_product->getId();
                                */ ?><!--
                        <a href="<?php /*echo $quickview_url; */ ?>" class="quickviewlink quickview-icon" title="<?php /*echo $this->__("Quick View"); */ ?>"><i class="icon-search"></i></a>
                        --><?php
                            /*                    }
                                                */ ?>
                            <?php
                            // Deal Discount Products Labels Grid Mode
                            if (Mage::getStoreConfig("dailydeal/general/enable", $code)):
                                $deal = Mage::getModel('dailydeal/dailydeal')->getDealByProduct($_product->getId());

                                if ($deal && ($deal->getQuantity() - $deal->getSold() > 0)):
                                    ?>
                                    <?php $now = Mage::getModel('core/date')->timestamp(time()) ?>
                                    <?php $endTime = Mage::getModel('core/date')->timestamp(strtotime($deal->getCloseTime())); ?>
                                    <?php
                                    $diff = $_product->getPrice() - $deal->getDealPrice();
                                    $dealDiscount = ($diff / $deal->getDealPrice()) * 100;
                                    ?>
                                    <div class="product-label" style="right: 16px;"><span
                                            class="sale-product-icon"><?php echo $this->__('Sale');?></span>
                                    </div>
                                    <?php
                                endif;
                            endif;
                            ?>
                            <?php
                            // Products Labels List Mode
                            $sale_label = false;
                            // Get the Special Price
                            $specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice();
                            // Get the Special Price FROM date
                            $specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
                            // Get the Special Price TO date
                            $specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
                            // Get Current date
                            $today = time();

                            if ($specialprice):
                                if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)):
                                    if (Mage::getStoreConfig("porto_settings/product_label/sale", $code)):
                                        $sale_label = true;
                                        ?>
                                        <div class="product-label" style="right: 16px;"><span
                                                class="sale-product-icon"><?php echo $this->__('Sale');?></span>
                                        </div>
                                        <?php
                                    endif;
                                endif;
                            endif;
                            ?>
                            <?php
                            $now = date("Y-m-d");
                            $newsFrom = substr($_product->getData('news_from_date'), 0, 10);
                            $newsTo = substr($_product->getData('news_to_date'), 0, 10);
                            if ($newsTo != '' || $newsFrom != ''):
                                if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)):
                                    if (Mage::getStoreConfig("porto_settings/product_label/new", $code)):
                                        ?>
                                        <div class="product-label"
                                             style="right: 16px; <?php echo ($sale_label) ? "top: 40px;" : ""; ?>"><span
                                                class="new-product-icon"><?php echo Mage::getStoreConfig("porto_settings/product_label/new_label_text", $code); ?></span>
                                        </div>
                                        <?php
                                    endif;
                                endif;
                            endif;
                            ?>
                            <?php
                            $rewardPoints = Mage::getModel('catalog/product')->load($_product->getId())->getRewardPointsPro();
                            if ($rewardPoints): ?>
                            <div class="product-label">
                                    <span class="reward-points-product-icon">
                                        <span class="reward-points-tooltip" data-toggle="tooltip" data-placement="left" data-title="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                                            <?php echo $rewardPoints; ?>
                                            <img src="<?php echo $this->getSkinUrl('images/star.png')?>" alt="">
                                        </span>
                                    </span>
                            </div>
                            <?php endif; ?>
                            <?php $isShares = Mage::getModel('catalog/product')->load($_product->getId())->getIsShares(); ?>
                            <?php
                            if ($isShares): ?>
                                <div class="product-label" style="right: 16px;">
                                    <span class="shares-product-icon"><?php echo $this->__('Акция'); ?></span>
                                </div>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        <?php else:
        // Grid Mode
        $_collectionSize = $_productCollection->count();
        $_columnCount = Mage::getStoreConfig("porto_settings/category_grid/columns", $code); ?>
        <ul class="products-grid columns<?php echo $_columnCount; ?><?php if (!Mage::getStoreConfig("porto_settings/category_grid/show_addtolinks", $code)): ?> hide-addtolinks<?php endif; ?><?php if (!Mage::getStoreConfig("porto_settings/category_grid/show_addtocart", $code)): ?> hide-addtocart<?php endif; ?><?php if (Mage::getStoreConfig("porto_settings/category_grid/move_actions", $code)): ?> move-action<?php endif; ?>">
            <?php
            $i = 0;
            foreach ($_productCollection as $_product):
                ?>
                <?php $isShares = Mage::getModel('catalog/product')->load($_product->getId())->getIsShares(); ?>
                <li class="item col-xs-12 col-sm-6 col-md-4">
                    <div class="item-area <?php echo ($isShares) ? 'shares-item' : ''; ?>">
                        <div class="product-image-area">
                            <a href="<?php echo $_product->getProductUrl() ?>"
                               title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                               class="product-image">
                                <?php
                                if (Mage::getStoreConfig("porto_settings/category/alternative_image", $code)):
                                    ?>
                                    <img class="defaultImage"
                                         src="<?php if ($aspect_ratio): ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250); ?><?php else: ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($ratio_width, $ratio_height); ?><?php endif; ?>"
                                         alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                                    <img class="hoverImage"
                                         src="<?php if ($aspect_ratio): ?><?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250); ?><?php else: ?><?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize($ratio_width, $ratio_height); ?><?php endif; ?>"
                                         alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'thumbnail'), null, true) ?>"/>
                                    <?php
                                else:
                                    ?>
                                    <img
                                        src="<?php if ($aspect_ratio): ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250); ?><?php else: ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($ratio_width, $ratio_height); ?><?php endif; ?>"
                                        alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                                    <?php
                                endif;
                                ?>
                                <?php
                                // Deal Discount Products Labels Grid Mode
                                if (Mage::getStoreConfig("dailydeal/general/enable", $code)):
                                    $deal = Mage::getModel('dailydeal/dailydeal')->getDealByProduct($_product->getId());

                                    if ($deal && ($deal->getQuantity() - $deal->getSold() > 0)):
                                        ?>
                                        <?php $now = Mage::getModel('core/date')->timestamp(time()) ?>
                                        <?php $endTime = Mage::getModel('core/date')->timestamp(strtotime($deal->getCloseTime())); ?>
                                        <?php
                                        $diff = $deal->getDealPrice() / $_product->getPrice();
                                        $dealDiscount = $deal->getSave();
                                        ?>
                                        <div class="product-label">
                                            <span class="discount-percent-icon">
                                                <span>-<?php echo round($dealDiscount, 1); ?>%</span>
                                            </span>
                                        </div>
                                        <div class="bottom-product-dailydeal bottom-home-dailydeal">
                                            <ul class="time-left">
                                                <div class="timeleft timeleft_<?php echo $_product->getId() ?>"></div>
                                            </ul>
                                        </div>
                                        <script type="text/javascript">
                                            //<![CDATA[
                                            if (typeof dailydealTimeCountersCategory[<?php echo $deal->getId() ?>] == 'undefined') {
                                                dailydealTimeCountersCategory[<?php echo $deal->getId() ?>] = new DailydealTimeCounter('<?php echo $now ?>', '<?php echo $endTime ?>', '<?php echo $deal->getId() ?>');
                                                dailydealTimeCountersCategory[<?php echo $deal->getId() ?>].setTimeleft('timeleft_<?php echo $_product->getId() ?>');
                                            }
                                            //]]>
                                        </script>
                                        <?php
                                    endif;
                                endif;
                                ?>
                            </a>
                            <?php
                            // Discount Products Labels Grid Mode
                            $sale_label = false;
                            // Get the Special Price
                            $specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice();
                            // Get the Special Price FROM date
                            $specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
                            // Get the Special Price TO date
                            $specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
                            // Get Current date
                            $today = time();

                            if ($specialprice):
                                // view discount percents
                                if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)):
                                    if (Mage::getStoreConfig("porto_settings/product_label/sale", $code)):
                                        $sale_label = true;
                                        $diff = $_product->getPrice() - $specialprice;
                                        $percent = $_product->getPrice() / 100;
                                        $discount = $diff / $percent;
                                        ?>
                                        <div class="product-label">
                                            <span class="discount-percent-icon">
                                                <span>-<?php echo round($discount, 0); ?>%</span>
                                            </span>
                                        </div>
                                        <?php
                                    endif;
                                endif;
                            endif;
                            ?>
                            <?php
                            $now = date("Y-m-d");
                            $newsFrom = substr($_product->getData('news_from_date'), 0, 10);
                            $newsTo = substr($_product->getData('news_to_date'), 0, 10);
                            if ($newsTo != '' || $newsFrom != ''):
                                if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)):
                                    if (Mage::getStoreConfig("porto_settings/product_label/new", $code)):
                                        ?>
                                        <div class="product-label"
                                             style="<?php echo ($sale_label) ? "top: 40px;" : ""; ?>"><span
                                                class="new-product-icon"><?php echo Mage::getStoreConfig("porto_settings/product_label/new_label_text", $code); ?></span>
                                        </div>
                                        <?php
                                    endif;
                                endif;
                            endif;
                            ?>
                            <?php
                            $productIsSaleCustom = Mage::getModel('catalog/product')->load($_product->getId())->getIsSale();
                            ?>
                            <?php if ($productIsSaleCustom):
                                // IsSale checked to Yes
                                if (Mage::getStoreConfig("porto_settings/product_label/sale", $code)):
                                    $sale_label = true;
                                ?>
                                    <div class="product-label">
                                        <span class="sale-product-icon">Sale</span>
                                    </div>
                                <?php
                                endif;
                            endif; ?>
                            <?php
                            $rewardPoints = Mage::getModel('catalog/product')->load($_product->getId())->getRewardPointsPro();
                            if ($rewardPoints): ?>
                                <div class="product-label">
                                    <span class="reward-points-product-icon">
                                        <span class="reward-points-tooltip" title="<?php echo $this->__('When you purchase this product you receive the <strong>%s of bonuses!</strong>', $rewardPoints); ?></br></br>
                                        <?php echo $this->__('1 bonus = 1 dollar!'); ?>">
                                            <?php echo $rewardPoints; ?>
                                            <img src="<?php echo $this->getSkinUrl('images/star.png')?>" alt="">
                                        </span>
                                    </span>
                                </div>
                            <?php endif; ?>
                            <?php
                            if ($isShares): ?>
                                <div class="product-label">
                                    <span class="shares-product-icon"><?php echo $this->__('Акция'); ?></span>
                                </div>
                            <?php endif; ?>
                        </div>
                        <div class="details-area <?php echo ($isShares) ? 'shares-area' : ''; ?>">
                            <div class="product-name">
                                <?php if ($isShares): ?>
                                    <?php
                                    $sharesURL = Mage::getModel('catalog/product')->load($_product->getId())->getSharesUrl();
                                    if ($sharesURL): ?>
                                        <a href="<?php echo $sharesURL ?>"
                                           title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                            <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                        </a>
                                    <?php else: ?>
                                        <a href="<?php echo $_product->getProductUrl() ?>"
                                           title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                            <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                        </a>
                                    <?php endif; ?>
                                    <p class="description">
                                        <?php echo $_product->getShortDescription(); ?>
                                        <?php if ($sharesURL): ?>
                                        <a href="<?php echo $sharesURL ?>"
                                           title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                            <img src="/skin/frontend/smartwave/porto/images/arti/arrow-learn_more.png" alt="">&nbsp;&nbsp;<?php echo $this->__('Узнать больше'); ?>
                                        </a>
                                        <?php else: ?>
                                            <a href="<?php echo $_product->getProductUrl() ?>"
                                               title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                                <img src="/skin/frontend/smartwave/porto/images/arti/arrow-learn_more.png" alt="">&nbsp;&nbsp;<?php echo $this->__('Узнать больше'); ?>
                                            </a>
                                        <?php endif; ?>
                                    </p>
                                <?php else: ?>
                                    <a href="<?php echo $_product->getProductUrl() ?>"
                                       title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                    </a>
                                <?php endif; ?>
                            </div>
                            <?php /*
                    if (Mage::helper('catalog')->isModuleEnabled('Mage_Review')):
                    if($_product->getRatingSummary()):
                    */
                            ?><!--
                    <?php /*
                        $review_html = $this->getReviewsSummaryHtml($_product, 'short');
                        if($review_html){
                            echo $review_html;
                        }else{
                    */
                            ?>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:0"></div>
                            </div>
                        </div>
                    <?php
                            /*                        }
                                                */
                            ?>
                    <?php /*else: */
                            ?>
                        <div class="ratings">
                            <div class="rating-box">
                                <div class="rating" style="width:0"></div>
                            </div>
                        </div>
                    --><?php /*
                    endif;
                    endif;
                    */
                            ?>
                            <?php if (!$isShares): ?>
                                <?php echo $this->getPriceHtml($_product, true) ?>
                                <div class="actions">
									<div class="actions-container" style="top: 13%;">
										<a href="<?php echo $_product->getProductUrl() ?>" class="productview"
										   title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                            <i class="fa fa-eye"></i>
												<span><?php echo $this->__('Смотреть') ?></span>
										</a>

										<div class="splitter" >&nbsp;</div>

										<?php if ($_product->isSaleable()): ?>
											<?php // In Stock ?>
											<?php if (!($_product->getTypeInstance(true)->hasOptions($_product)/*$_product->getData('has_options')*/ || $_product->isGrouped())) : ?>
												<a  href="<?php if (Mage::getStoreConfig("ajaxcart/addtocart/enablecategory", $code)): ?>javascript:setLocationAjax('<?php echo $this->getAddToCartUrl($_product) ?>')<?php else: ?><?php echo $this->getAddToCartUrl($_product) ?><?php endif; ?>"
												   class="addtocart" title="<?php echo $this->__('Add to Cart') ?>">
                                                    <i class="fa fa-shopping-cart"></i>
													<span><?php echo $this->__('Купить') ?></span>
												</a>
											<?php else : ?>
												<a href="<?php if (Mage::getStoreConfig("ajaxcart/addtocart/enablecategory", $code)): ?>javascript:showOptions('<?php echo $_product->getId() ?>')<?php else: ?><?php echo $this->getAddToCartUrl($_product) ?><?php endif; ?>"
												   class="addtocart" title="<?php echo $this->__('Add to Cart') ?>">
                                                    <i class="fa fa-shopping-cart"></i>
													 <span><?php echo $this->__('Купить') ?></span>
												</a>
												<a href='<?php echo $this->getUrl('ajaxcart/index/options', array('product_id' => $_product->getId())); ?>'
												   class='fancybox' id='fancybox<?php echo $_product->getId() ?>'
												   style='display:none'>Options</a>
											<?php endif;
										else:
											// Out of Stock ?>
											<a href="javascript:void(0);" class="addtocart outofstock"
											   title="<?php echo $this->__('Out of stock') ?>">
												<span><?php echo $this->__('Out of stock') ?></span>
											</a>
										<?php endif;
										if (Mage::getStoreConfig("porto_settings/category/compare", $code) && $_compareUrl = $this->getAddToCompareUrl($_product)): ?>
											<a href="<?php if (Mage::getStoreConfig("ajaxcart/addtolinks/enablecategory", $code)): ?>javascript:ajaxCompare('<?php echo $_compareUrl ?>','<?php echo $_product->getId() ?>');<?php else: ?><?php echo $_compareUrl ?><?php endif; ?>"
											   class="comparelink" title="<?php echo $this->__('Add to Compare') ?>">

											</a>
										<?php endif; ?>
									</div>
									<?php if( count($_product->getInStocks()) > 0 ): ?>
										<div class='product-stocks'>
                                            <?php
                                            echo $this->__('In stocks').': ';
											$inStocks = array();
											foreach ( $_product->getInStocks() as $stock ) {
												$inStocks[] = $this->__($stock->getStockName());
											}
											echo implode(', ', $inStocks);
											?>
										</div>
									<?php endif; ?>
									<div class="clearer"></div>
                            	</div>
                            <?php endif; ?>
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
        <script type="text/javascript">
            jQuery('span[data-toggle="tooltip"]').tooltip();
        </script>
        <?php endif; ?>
        <div class="toolbar-bottom">
            <?php
            echo $this->getToolbarBlock()
                ->setToolbarBottom(true)
                ->setHideLimiter(true)
                ->setHidePager(false)
                ->toHtml();
            ?>
        </div>
    </div>
<?php endif;  ?>