<?php
    $helper = Mage::helper("porto");

?>

<style>

.product-tabs > ul li
{
  padding: 18px 18px;
    float: inherit;
	  margin-right: 0px;
}
.product-tabs>ul {
  position: inherit;
  }
  .product-tabs .tab-content
  {
    border: inherit;
	  box-shadow: inherit;
  }
  
  .product-tabs > ul li a
  {
  color: #969696;
  font-family: "Noto Serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 10px -1px 0px 8px;
  display: inline-flex;
  text-decoration: none;
  text-align: center;
  padding: 16px 0px;
  }
</style>

    <div class='product-tabs tab-container'>
        <ul class="etabs">
            <li id="tab_bestsellers" class="tab active"><a href="#tab_bestsellers" class="active"><span><i class="icon icon-fire"></i></span><?php echo $this->__('Топ продаж') ?></a></li>
            <li id="tab_bestprices" class="tab"><a href="#tab_bestprices" class="active"><span><i class="icon icon-clock2"></i></span> <?php echo $this->__('Лучшие цены!') ?></a></li>
            <li id="tab_productlimited" class="tab"><a href="#tab_productlimited" class="active"><span><i class="icon icon-bag"></i></span> <?php echo $this->__('Запас товара ограничен') ?></a></li>
            <li id="tab_news" class="tab"><a href="#tab_news" class="active"><span><i class="icon icon-news"></i></span> <?php echo $this->__('Новости и статьи') ?></a></li>
        </ul>
       
	   <div class="panel-container">
            <div id="tab_bestsellers_contents" class="tab-content">
                <?php echo $this->getChildHtml('bestsellers_home_list'); ?>
            </div>
            <div id="tab_bestprices_contents" class="tab-content">
                <?php echo $this->getChildHtml('sale_home_list'); ?>
            </div>
            <div id="tab_productlimited_contents" class="tab-content">
                <?php echo $this->getChildHtml('latest_home_list'); ?>
            </div>
            <div id="tab_news_contents" class="tab-content"> 
                <?php echo $this->getChildHtml('news_home_list'); ?>
            </div>

</div>
     
  
			<script type="text/javascript">
    //<![CDATA[
    new Varien.Tabs('.product-tabs .etabs');
    //]]>
    </script>
</div>



