<?php $_helper = $this->helper('catalog/output'); ?>
<?php
$store = Mage::app()->getStore();
$code = $store->getCode();
?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<!--<div class="col-left sidebar f-left col-md-3 col-lg-2-4">
    <div class="col-md-3 col-lg-2-4">
        <div class="home-side-menu-type2" style="margin-bottom:20px;">
<div class="side-menu-header" style="cursor: pointer;">
<h2>КАТАЛОГ ТОВАРОВ</h2>
</div>
<div class="side-block">
           
		  

</div>
        </div>
    </div>
</div>-->

<!--<div class="col-left sidebar f-left col-md-3 col-lg-2-4">-->
<style>
    @media (min-width: 768px) {
        .col-sm-9 {
            width: 100%;
            margin-top: 20px;
        }
        .newsletter {
            position: absolute;
            left: 918px;
            top: -112px;
        }
    }
    @media (max-width: 1100px) and (min-width: 1000px) {
        .home-side-menu-type2, .home-side-menu-type3 {
            width: 198px !important;
        }
        .qty-changer {
            display: none;
        }
        .add-to-cart .btn-cart {
            position: relative;
            top: 0px;
            left: -41px;
        }
        .home-side-menu-type2 > .side-block ul.category-list li.opened ul li {
            width: 197px;
        }
    }
    .link-wishlist, .sharing-tool-area {
        display: none !important;
    }

</style>

<div class="home-side-menu-type2" style="margin-bottom:20px;float: left;">
    <div class="side-menu-header" style="cursor: pointer;">
        <h2><?php echo $this->__("CATEGORIES");?></h2>
    </div>
    <div class="side-block">


        <?php
        $storeId = Mage::app()->getStore()->getId();
        //Get category model
        $_category = Mage::getModel('catalog/category')->setStoreId($storeId);
        $_cat = $_category->load(Mage::app()->getStore()->getRootCategoryId());
        ?>
        <?php
        function getChildrenCategoriesHtmlContent($_category)
        {
            $children = explode(",", $_category->getChildren());
            $content = '';
            $content .= '<li class="';
            if (!$children[0])
                $content .= 'has-no-children';
            else
                $content .= 'has-children';
            $content .= '">';
            $content .= '<a href="' . $_category->getUrl() . '" ';
            $content .= '>' . $_category->getName() . '</a>';
            if ($children[0]) {
                $content .= '<span class="plus"><i class="icon-plus-squared"></i></span>';
                $content .= '<ul>';
                foreach ($children as $child) {
                    $_subcat = Mage::getModel('catalog/category')->load($child);
                    $content .= getChildrenCategoriesHtmlContent($_subcat);
                }
                $content .= '</ul>';
            }
            $content .= '</li>';
            return $content;
        }

        ?>
        <div class="block block-category-nav">
            <div class="block-title">
                <strong><span><?php echo $this->__("Category") ?></span></strong>
            </div>
            <div class="block-content">
                <ul class="category-list">
                    <?php
                    $children = explode(",", $_cat->getChildren());
                    foreach ($children as $child) {
                        $_category = Mage::getModel('catalog/category')->load($child);
                        echo getChildrenCategoriesHtmlContent($_category);
                    }
                    ?>
                </ul>
            </div>
            <script type="text/javascript">
                jQuery(function ($) {
                    $(".block.block-category-nav .block-title strong").click(function () {
                        if ($(this).hasClass("closed")) {
                            $(".block.block-category-nav .block-content").slideDown();
                            $(this).removeClass("closed");
                        } else {
                            $(".block.block-category-nav .block-content").slideUp();
                            $(this).addClass("closed");
                        }
                    });
                    $(".block.block-category-nav .category-list .plus").click(function () {
                        if ($(this).parent().hasClass("opened")) {
                            $(this).parent().children("ul").slideUp();
                            $(this).parent().removeClass("opened");
                            $(this).children("i.icon-minus-squared").removeClass("icon-minus-squared").addClass("icon-plus-squared");
                        } else {
                            $(this).parent().children("ul").slideDown();
                            $(this).parent().addClass("opened");
                            $(this).children("i.icon-plus-squared").removeClass("icon-plus-squared").addClass("icon-minus-squared");
                        }
                    });
                });
            </script>
        </div>

    </div>


    <div class="how-order">
        <a class="lnk-how-order" href="#">Как оформить <br>заказ онлайн?</a>
    </div>

    <div class="block-order">
        <strong class="ttl-order">Не нашли что искали?</strong>
        <a class="btn-order-new" id="popupbutton" href="#popupform">Заказать <br>новый товар!</a>
    </div>


</div>
<!--</div>-->


<!--<div class="col-main col-sm-9 col-lg-9-6 f-right">-->
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view" style="float: right;width:75%;">
    <div class="product-essential">
        <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post"
              id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
                <input type="hidden" name="related_product" id="related-products-field" value=""/>
            </div>
            <div class="row">
                <div class="product-img-box col-sm-4" style="margin-left: -43px;">
                    <?php echo $this->getChildHtml('media') ?>
                </div>
                <div class="product-shop col-sm-5">
                    <?php
                    if (Mage::getStoreConfig("porto_settings/product_view/prev_next", $code)) {
                        ?>
                        <div class="prev-next-products">
                            <?php $_prev = Mage::helper('porto')->getPreviousProduct(); ?>
                            <?php $_next = Mage::helper('porto')->getNextProduct(); ?>

                            <?php if ($_prev): ?><a class="product-prev" href="<?php echo $_prev; ?>"
                                                    title="<?php echo $this->__("Previous Product"); ?>"><?php echo Mage::getStoreConfig("porto_settings/product_view/prev_text", $code); ?></a><?php endif; ?>
                            <?php if ($_next): ?><a class="product-next" href="<?php echo $_next; ?>"
                                                    title="<?php echo $this->__("Next Product"); ?>"><?php echo Mage::getStoreConfig("porto_settings/product_view/next_text", $code); ?></a><?php endif; ?>
                        </div>
                        <?php
                    }
                    ?>
                    <div class="product-name">
                        <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                    </div>

					<div class="product-summary">
						<?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
					</div>

                    <div class="product-info">
                        <?php echo $this->getChildHtml('product_type_data') ?>
                        <?php echo $this->getTierPriceHtml() ?>
                        <?php echo $this->getChildHtml('extrahint') ?>
                        <?php if ($this->canEmailToFriend()): ?>
                            <p class="email-friend"><a
                                    href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email to a Friend') ?></a>
                            </p>
                        <?php endif; ?>
                        <?php echo $this->getChildHtml('alert_urls') ?>
                        <?php echo $this->getChildHtml('other'); ?>
                    </div>
                    <?php if (!$this->hasOptions()): ?>

<!--                        <div class="add-to-links">-->
<!--                            --><?php //if ($this->helper('wishlist')->isAllow()): ?>
<!--                            --><?php //endif; ?>
<!--                            --><?php //echo $this->getChildHtml('addto') ?>
<!--                        </div>-->

<!--                        <div class="clearer"></div>-->
                        <div class="add-to-box">
                            <?php if ($_product->isSaleable()): ?>
                                <?php echo $this->getChildHtml('addtocart') ?>

                            <?php endif; ?>

                        </div>
                        <?php echo $this->getChildHtml('extra_buttons') ?>
                    <?php elseif (!$_product->isSaleable()): ?>
                        <div class="clearer"></div>
                        <div class="add-to-box">
                            <?php echo $this->getChildHtml('addto') ?>
                        </div>
                    <?php endif; ?>




                    <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                        <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                    <?php endif; ?>
                    <?php echo $this->getChildHtml('smartwave_sharetool'); ?>
                    <?php
                    // stars of reviews
                    echo $this->getReviewsSummaryHtml($_product, false, true);
                    ?>

                </div>
                <div class="product-additional col-sm-3" style="width: 243px;">
                    <div class="items">
                        <div class="item">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_view_block_payment')->toHtml(); ?>
                        </div>
                        <div class="item">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_view_block_delivery')->toHtml(); ?>
                        </div>
                        <div class="item">
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_view_block_exchange')->toHtml(); ?>
                        </div>
                    </div>
                </div>

            </div>
            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
            <?php endif; ?>
        </form>
        <?php if (Mage::getStoreConfig('ajaxcart/addtocart/enableproduct') && (Mage::app()->getFrontController()->getRequest()->getModuleName() == "catalog") || (Mage::app()->getFrontController()->getRequest()->getModuleName() == "quickview")): ?>
            <script type="text/javascript">
                //<![CDATA[
                var productAddToCartForm = new VarienForm('product_addtocart_form');
                productAddToCartForm.submit = function (button, url) {
                    if (this.validator.validate()) {
                        var form = this.form;
                        var oldUrl = form.action;

                        if (url) {
                            form.action = url;
                        }
                        var e = null;
                        if (!url) {
                            url = jQuery('#product_addtocart_form').attr('action');
                        }
                        if (url.indexOf("wishlist/index/cart") != -1) {
                            url = url.replace("wishlist/index/cart", "ajaxcart/index/add"); // New Code
                        } else {
                            url = url.replace("checkout/cart", "ajaxcart/index"); // New Code
                        }
                        url = url.replace("http://", "//");
                        url = url.replace("https://", "//");
                        var data = jQuery('#product_addtocart_form').serialize();
                        data += '&isAjax=1';
                        var is_quickview = false;
                        if (jQuery("body").hasClass("quickview-index-view")) {
                            is_quickview = true;
                        }
                        if (is_quickview)
                            window.parent.jQuery("#loading-mask").show();
                        else
                            jQuery('#loading-mask').show();
                        try {
                            jQuery.ajax({
                                url: url,
                                dataType: 'json',
                                type: 'post',
                                data: data,
                                success: function (data) {
                                    if (is_quickview)
                                        window.parent.jQuery('#loading-mask').hide();
                                    else
                                        jQuery('#loading-mask').hide();
                                    if (data.status == 'ERROR') {
                                        if (is_quickview)
                                            window.parent.alert(data.message.replace("<br/>", ""));
                                        else
                                            alert(data.message.replace("<br/>", ""));
                                    } else {
                                        if (is_quickview) {
                                            if (window.parent.jQuery('.header .mini-cart')) {
                                                window.parent.jQuery('.header .mini-cart').replaceWith(data.toplink);
                                            }
                                            if (window.parent.jQuery('.fixed-header .mini-cart')) {
                                                window.parent.jQuery('.fixed-header .mini-cart').replaceWith(data.toplink);
                                            }
                                            if (window.parent.jQuery('.sticky-header .mini-cart')) {
                                                window.parent.jQuery('.sticky-header .mini-cart').replaceWith(data.toplink);
                                            }

                                            window.parent.jQuery('#after-loading-success-message #success-message-container .msg-box').html(data.message);
                                            <?php $autoclose = Mage::getStoreConfig('ajaxcart/addtocart/autoclose', $code);?>
                                            ajaxcart_sec = <?php echo ($autoclose && is_numeric($autoclose)) ? $autoclose : 5; ?>;
                                            timer_sec = ajaxcart_sec;
                                            window.parent.jQuery('#after-loading-success-message').fadeIn(200);
                                            ajaxcart_timer = setInterval(function () {
                                                timer_sec--;
                                                window.parent.jQuery('#after-loading-success-message .timer').html(timer_sec);
                                            }, 1000)
                                            setTimeout(function () {
                                                window.parent.jQuery('#after-loading-success-message').fadeOut(200);
                                                clearTimeout(ajaxcart_timer);
                                                setTimeout(function () {
                                                    window.parent.jQuery('#after-loading-success-message .timer').html(ajaxcart_sec);
                                                }, 1000);
                                            }, ajaxcart_sec * 1000);
                                        }
                                        else {
                                            if (jQuery('.header .mini-cart')) {
                                                jQuery('.header .mini-cart').replaceWith(data.toplink);
                                            }
                                            if (jQuery('.fixed-header .mini-cart')) {
                                                jQuery('.fixed-header .mini-cart').replaceWith(data.toplink);
                                            }
                                            if (jQuery('.sticky-header .mini-cart')) {
                                                jQuery('.sticky-header .mini-cart').replaceWith(data.toplink);
                                            }
                                            if (jQuery('.col-right .block.block-cart')) {
                                                jQuery('.col-right .block.block-cart').replaceWith(data.cart_sidebar);
                                            }
                                            jQuery('#after-loading-success-message #success-message-container .msg-box').html(data.message);
                                            <?php $autoclose = Mage::getStoreConfig('ajaxcart/addtocart/autoclose', $code);?>
                                            ajaxcart_sec = <?php echo ($autoclose && is_numeric($autoclose)) ? $autoclose : 5; ?>;
                                            timer_sec = ajaxcart_sec;
                                            jQuery('#after-loading-success-message').fadeIn(200);
                                            ajaxcart_timer = setInterval(function () {
                                                timer_sec--;
                                                jQuery('#after-loading-success-message .timer').html(timer_sec);
                                            }, 1000)
                                            setTimeout(function () {
                                                jQuery('#after-loading-success-message').fadeOut(200);
                                                clearTimeout(ajaxcart_timer);
                                                setTimeout(function () {
                                                    jQuery('#after-loading-success-message .timer').html(ajaxcart_sec);
                                                }, 1000);
                                            }, ajaxcart_sec * 1000);
                                        }
                                    }
                                }
                            });
                        } catch (e) {
                        }
                        this.form.action = oldUrl;
                        if (e) {
                            throw e;
                        }
                    }
                }.bind(productAddToCartForm);
                //]]>
            </script>
        <?php else : ?>
            <script type="text/javascript">
                //<![CDATA[
                var productAddToCartForm = new VarienForm('product_addtocart_form');
                productAddToCartForm.submit = function (button, url) {
                    if (this.validator.validate()) {
                        var form = this.form;
                        var oldUrl = form.action;

                        if (url) {
                            form.action = url;
                        }
                        var e = null;
                        try {
                            this.form.submit();
                        } catch (e) {
                        }
                        this.form.action = oldUrl;
                        if (e) {
                            throw e;
                        }

                        if (button && button != 'undefined') {
                            button.disabled = true;
                        }
                    }
                }.bind(productAddToCartForm);
                //]]>
            </script>
        <?php endif; ?>
        <script type="text/javascript">
            productAddToCartForm.submitLight = function (button, url) {
                if (this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    // Remove custom datetime validators
                    for (var methodName in Validation.methods) {
                        if (methodName.match(/^validate-datetime-.*/i)) {
                            delete Validation.methods[methodName];
                        }
                    }

                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);
        </script>
    </div>

    <div class="product-collateral">
        <?php echo $this->getChildHtml('product_additional_data'); ?>
    </div>
    <?php echo $this->getChildHtml('upsell_products'); ?>

</div>
<!--</div>-->
<script type="text/javascript">
    jQuery(function ($) {
        $("body.quickview-index-view .product-info a, body.quickview-index-view .no-rating a, body.quickview-index-view .ratings a").off('click').on("click", function (e) {
            window.parent.location.href = $(this).attr("href");
            window.parent.jQuery.fancybox.close();
        })
    });
</script>
<script type="text/javascript">
    jQuery('.product-view .product-shop .price-box .regular-price .price').before('<strong style="font-size: 16px; color: #343838; vertical-align: middle;"><?php echo $this->__('Price:'); ?></strong> ');
</script>