/* window */
.ajaxlogin-window {
    background-color: white;
    border: 1px solid #acacac;
    z-index:999;
    /*padding: 10px;*/
    position:absolute;
    text-align:left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: 5px 8.7px 5px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 5px 8.7px 5px rgba(0, 0, 0, 0.23);
    box-shadow: 5px 8.7px 5px rgba(0, 0, 0, 0.23);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.ajaxlogin-window .ajaxlogin-login-window {
    margin-right: 2px;
}

.ajaxlogin-window .page-title,
.ajaxlogin-window .page-title span {
    color:#fff;
    font-size:18px;
    font-weight: 700;
    background-color: #0ca5b0;
    height: 50px;
    text-transform: uppercase;
    padding: 14px 14px;
    margin-right: 2px;
}

.ajaxlogin-window #ajaxlogin-logout-window .page-title,
.ajaxlogin-window #ajaxlogin-logout-window .page-title span {
    margin-right: 0px;
}
.ajaxlogin-window .content { overflow:auto; overflow-x:hidden; }
#ajaxlogin-login-window .content,
#ajaxlogin-forgot-window .content,
#ajaxlogin-create-window .content,
#ajaxlogin-logout-window .content {
    margin: 27px 20px 24px 27px;
}
/*.ajaxlogin-window label { width:auto; text-align:left; margin-bottom: 0; }*/
.ajaxlogin-window label em { display:none }
.ajaxlogin-window ul li { line-height: normal; }
.ajaxlogin-window ul,
.ajaxlogin-window .form-list { list-style: none; }
.ajaxlogin-window .form-list li { margin-bottom: 10px; float: left; width: 100%; }
.ajaxlogin-window .form-list .input-box { clear:both; }
.ajaxlogin-window .form-list input.input-text,
.ajaxlogin-window .form-list textarea { width:312px; }
.ajaxlogin-window .input-box .input-text {
    height: 52px;
    width: 312px;
    background-color: white;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    box-shadow: inset 0 0 2px white;
    padding-left:40px;
}
.ajaxlogin-window .input-box .validation-advice { line-height: normal; }
.ajaxlogin-window .close {
    position:absolute;
    top: 0px;
    right: 7px;
    width:49px;
    height:49px;
    background:url(../../../images/digitalpianism/ajaxlogin/cancel_round.png) no-repeat 50% 50%; }
.ajaxlogin-window .close:hover {
    background-color: #0a939d;
}

.ajaxlogin-window #ajaxlogin-login-window .checkbox label,
.ajaxlogin-window #ajaxlogin-forgot-window .checkbox label,
.ajaxlogin-window #ajaxlogin-create-window .checkbox label,
.ajaxlogin-window #ajaxlogin-logout-window .checkbox label {
    font-size:12px;
    font-weight: 400;
    display: inline;
}

.ajaxlogin-window #ajaxlogin-login-window .checkbox .ajaxlogin-forgot {
    font-size: 12px;
    font-weight: 400;
    display: inline;
    padding-top:4px;
    margin-right: -8px;
}

.ajaxlogin-window #ajaxlogin-login-window label,
.ajaxlogin-window #ajaxlogin-forgot-window label,
.ajaxlogin-window #ajaxlogin-create-window label,
.ajaxlogin-window #ajaxlogin-logout-window label {
    padding-top: 20px;
    font-size:16px;
    font-weight:400;
}

.ajaxlogin-window #ajaxlogin-create-window label {
    font-size:14px;
}

.ajaxlogin-window #ajaxlogin-login-window .buttons-set button,
.ajaxlogin-window #ajaxlogin-forgot-window .buttons-set button,
.ajaxlogin-window #ajaxlogin-create-window .buttons-set button,
.ajaxlogin-window #ajaxlogin-logout-window .buttons-set button {
    float: right;
    margin-right: -14px;
}

.ajaxlogin-window #ajaxlogin-login-window .form-list #remember-me-box {
    float: left;
    padding-left: 25.5%;
}

.ajaxlogin-window #ajaxlogin-login-window .p-register {
    text-align: left;
    padding-top: 57px;
    margin-bottom: 0px;
    padding-left: 4px;
    vertical-align: baseline;
}

.ajaxlogin-window #ajaxlogin-forgot-window .content p {
    margin: 0px 24px 20px 0px;
}

.ajaxlogin-window #ajaxlogin-login-window form .messages {
    padding-right: 10px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.ajaxlogin-window .progress-indicator { display: block; text-align: center; float:right}
.ajaxlogin-window .please-wait { position:static; padding:0; background:none; border:none; margin:0; left:auto; top:auto; }
.ajaxlogin-window .buttons-set { margin:0; text-align:center; border-top:0 solid #e4e4e4; padding:7px; }
.ajaxlogin-window #ajaxlogin-forgot-window .buttons-set { margin:0; text-align:center; border-top:0 solid #e4e4e4; padding:7px 7px 7px 0px; }
.ajaxlogin-window .buttons-set a { display: block; }
.ajaxlogin-window .form-list .input-box{ width:auto }

.ajaxlogin-window .buttons-set .back-link { display: block; margin: 0; padding: 0; text-align: center; }
.ajaxlogin-window .buttons-set .back-link a {  }
.ajaxlogin-window .buttons-set .please-wait
.ajaxlogin-window .actionbar { padding:10px 10px 0; text-align:right; font-weight:bold; }

#ajaxlogin-mask { background: black; opacity:0.4; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter:alpha(opacity=40);
    position:absolute; top:0; left:0; width:100%; height:100%; z-index:990; }
* html #ajaxlogin-mask { position:absolute; }

.form-control {
    height: 52px;
}