<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <div id="ajaxlogin-login-window" style="display: none;">
        <div class="page-title">
            <span><?php echo $this->__('Войти в систему') ?></span>
        </div>
        <div class="content">
            <form role="form" action="<?php echo $this->getUrl('ajaxlogin/index/login', array('_secure'=>(!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on'))) ?>" method="post" id="ajaxlogin-login-form" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label required"><em>*</em><span><?php echo $this->__('Email Address:') ?></span></label>
                    <div class="input-box col-sm-10">
                        <input type="text" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" class="input-text nickname required-entry validate-email form-control" title="<?php echo $this->__('Email Address') ?>" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="pass" class="col-sm-2 control-label required"><em>*</em><span><?php echo $this->__('Password:') ?></span></label>
                    <div class="input-box col-sm-10">
                        <input type="password" name="login[password]" class="input-text password required-entry validate-password form-control keya" id="pass" title="<?php echo $this->__('Password') ?>" />
                    </div>
                </div>

                <?php echo $this->getChildHtml('form.additional.info'); ?>
                <?php echo $this->getChildHtml('persistent.remember.me'); ?>

                <div class="buttons-set col-sm-11">
                    <button type="submit" class="btn btn-lg btn-black" title="<?php echo $this->__('Login') ?>" name="send" id="send2"><span><span style="color: #fff;"><?php echo $this->__('Login') ?></span></span></button>
                    <div class="progress-indicator">
                        <span class="please-wait" id="login-please-wait" style="display:none;">
                            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt=""/>
                        </span>
                    </div>
                </div>
                <div class="clearer"></div>
                <p class="p-register col-sm-offset-2 col-sm-11">
                    <?php echo $this->__('Новенький?'); ?> <button type="button" class="btn btn-link register-btn" title="<?php echo $this->__('Register') ?>" name="noaccount" id="noaccount"><span><span><?php echo $this->__('Register') ?></span></span></button>
                </p>
            </form>
            <script type="text/javascript">
                //<![CDATA[
                var ajaxLoginForm = new VarienForm('ajaxlogin-login-form', true);
                //]]>
            </script>
        </div> <!-- /.content -->
    </div> <!-- /#ajaxlogin-login-window -->
<?php endif; ?>

<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <div id="ajaxlogin-forgot-window" style="display: none;">
        <div class="page-title">
            <span><?php echo $this->__('Forgot Your Password?') ?></span>
        </div>
        <div class="content">
            <?php
            $customerHelper = Mage::helper('customer');
            if (method_exists($customerHelper, 'generateResetPasswordLinkToken')) : ?>
                <p><?php echo $this->__('Please enter your email address below. You will receive a link to reset your password.') ?></p>
            <?php else: ?>
                <p><?php echo $this->__('Please enter your email below and we will send you a new password.') ?></p>
            <?php endif; ?>
            <form role="form" action="<?php echo $this->getUrl('ajaxlogin/index/forgotpassword', array('_secure'=>(!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on'))) ?>" method="post" id="ajaxlogin-forgot-password-form" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label for="email_address" class="col-sm-2 control-label required"><em>*</em><?php echo $this->__('Email Address:') ?></label>
                    <div class="input-box col-sm-10">
                        <input type="text" name="email" id="email_address" class="input-text nickname required-entry validate-email form-control" value="<?php echo $this->htmlEscape($this->getEmailValue()) ?>" />
                    </div>
                </div>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
                <div class="buttons-set col-sm-11">
                    <button type="submit" title="<?php echo $this->__('Submit') ?>" id="btn-forgot" class="btn btn-lg btn-black"><span><span><?php echo $this->__('Submit') ?></span></span></button>
                    <div class="progress-indicator">
                        <span class="please-wait" id="forgot-please-wait" style="display:none;">
                            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt=""/>
                        </span>
                    </div>
                    <p class="back-link"><a href="<?php echo $this->helper('customer')->getLoginUrl() ?>" class="ajaxlogin-login"><?php echo $this->__('Back to Login') ?></a></p>
                </div>
            </form>
            <script type="text/javascript">
                //<![CDATA[
                var ajaxForgotForm = new VarienForm('ajaxlogin-forgot-password-form', true);
                //]]>
            </script>
        </div> <!-- /.content -->
    </div> <!-- /#ajaxlogin-forgot-window -->
<?php endif; ?>

<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <div id="ajaxlogin-create-window" style="display: none;">
        <div class="page-title">
            <span><?php echo $this->__('Create an Account') ?></span>
        </div>
        <div class="content">
            <form role="form" action="<?php echo $this->getUrl('ajaxlogin/index/create', array('_secure'=>(!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on'))) ?>" method="post" id="ajaxlogin-create-form" class="form-horizontal" autocomplete="off">
                <?php echo $this->getChildHtml(); ?>
            </form>
            <script type="text/javascript">
                //<![CDATA[
                var ajaxCreateForm = new VarienForm('ajaxlogin-create-form', true);
                //]]>
            </script>
        </div><!-- /.content -->
    </div><!-- /#ajaxlogin-create-window -->
<?php endif; ?>

<?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <div id="ajaxlogin-logout-window" style="display: none;">
        <div class="page-title">
            <span><?php echo $this->__('Logout from your Account') ?></span>
        </div>
        <div class="content">
            <p><?php echo $this->__('Are you sure you want to log out ?') ?></p>
            <form action="<?php echo $this->getUrl('ajaxlogin/index/logout', array('_secure'=>(!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on'))) ?>" method="post" id="ajaxlogin-logout-form" class="form-horizontal">
                <div class="buttons-set col-sm-11">
                    <button type="submit" class="btn btn-lg btn-black" title="<?php echo $this->__('Logout') ?>" name="send" id="send2"><span><span style="color: #fff;"><?php echo $this->__('Logout') ?></span></span></button>
                    <div class="progress-indicator">
                        <span class="please-wait" id="login-please-wait" style="display:none;">
                            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt=""/>
                        </span>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
                //<![CDATA[
                var ajaxLogoutForm = new VarienForm('ajaxlogin-logout-form', true);
                //]]>
            </script>
        </div>
    </div>
<?php endif; ?>

<?php if (Mage::getConfig()->getModuleConfig('Mage_Persistent')) : ?>
    <?php
    $isActive = Mage::getConfig()->getNode('modules/Mage_Persistent/active');
    if (!$isActive || !in_array((string)$isActive, array('true', '1'))) {
        return false;
    }
    ?>

    <?php if (Mage::helper('persistent/session')->isPersistent() && !Mage::getSingleton('customer/session')->isLoggedIn()): ?>
        <?php $customer = Mage::helper('persistent/session')->getCustomer(); ?>
        <div id="persistent-cart-window" style="display:none;">
            <div class="page-title">
                <span><?php echo Mage::helper('persistent')->__('Welcome, %s!', Mage::helper('core')->escapeHtml($customer->getName(), null)) ?></span>
            </div>
            <div class="content">
                <p><?php
                    echo Mage::helper('ajaxlogin')->__(
                        'You are browsing our store as %s %s',
                        $customer->getName(),
                        $this->getLayout()->createBlock('persistent/header_additional')->toHtml()
                    );
                    ?></p>
                <p><?php
                    $login    = $this->__('Login');
                    $register = $this->__('Register');
                    echo Mage::helper('ajaxlogin')->__(
                        'Please %s or %s a new account to place order.',
                        "<a href='" . $this->getUrl('customer/account/login') . "' class='ajaxlogin-login'>" . $login . "</a>",
                        "<a href='" . $this->getUrl('persistent/index/saveMethod') . "' class='ajaxlogin-register'>" . $register . "</a>"
                    );
                    ?></p>
            </div>
        </div>

        <script type="text/javascript">
            //<![CDATA[
            document.observe("dom:loaded", function() {
                persistentWindow = new AjaxLogin({
                    triggers: {},
                    size: {
                        maxWidth: 400
                    }
                });
                if (!Mage.Cookies.get('hasPersistentBeenClosed'))
                {
                    persistentWindow.update($('persistent-cart-window'))
                        .setModal(0)
                        .show();
                }
            });

            $('persistent-cart-window') && $('persistent-cart-window').up().up().next('.close') && $('persistent-cart-window').up().up().next('.close').observe('click', function(e) {
                if (!Mage.Cookies.get("hasPersistentBeenClosed"))
                {
                    // Create the expiry date
                    var expiryDate = new Date();
                    expiryDate.setDate(expiryDate.getDate() + <?php echo ( Mage::helper('persistent')->getLifeTime() / 86400 ) ?>);
                    // Call the set method
                    Mage.Cookies.set('hasPersistentBeenClosed', true, expiryDate);
                }
            });
            //]]>
        </script>

    <?php endif; ?>
<?php endif; ?>

<script type="text/javascript">
    document.observe("dom:loaded", function() {
        var triggers = {
            login: {
                el    : $$('.ajaxlogin-login'),
                event : 'click',
                window: $('ajaxlogin-login-window'),
                size: {
                    maxWidth: 460
                }
            },
            create: {
                el    : $$('#noaccount'),
                event : 'click',
                window: $('ajaxlogin-create-window'),
                size: {
                    maxWidth: 460,
                    maxHeight: 'auto'
                }
            },
            forgot: {
                el    : $$('.ajaxlogin-forgot'),
                event : 'click',
                window: $('ajaxlogin-forgot-window'),
                size: {
                    maxWidth: 460
                }
            },
            logout: {
                el    : $$('.ajaxlogin-logout'),
                event : 'click',
                window: $('ajaxlogin-logout-window'),
                size: {
                    maxWidth: 460,
                    maxHeight: 'auto'
                }
            }
        };
        ajaxLoginWindow = new AjaxLogin({
            triggers: triggers
        });
    });
</script>