<?php
/*
 * Popular categories grid view
 */
$store = Mage::app()->getStore();

$rootId = Mage::app()->getWebsite(true)->getDefaultStore()->getRootCategoryId();
$categoryModel = Mage::getModel('catalog/category');
$rootCategory = $categoryModel->load($rootId);
$_ids = $rootCategory->getChildren();
$_categories = explode(',', $_ids);
?>

<div class="popular-block-title">
    <img src="<?php echo $this->getSkinUrl(); ?>/images/popular.png" width="50" height="50"/>
    <h1><?php echo $this->__('Популярные категории'); ?></h1>
    <hr class="spechr" style="border-color: #131212;">
</div>
<?php if ($_categories): ?>
    <div class="category-products category-grid">
        <ul class="products-grid columns4 move-action">
            <?php
			$_categories = array(5, 6, 8, 9);
            foreach ($_categories as $_id):
                $_category = Mage::getModel('catalog/category')->load($_id);
                ?>
               
                <li class="item col-xs-12 col-sm-6 col-md-4">
                    <div class="item-area">
                        <div class="product-image-area">
                            <?php if ($_category->getImageUrl()): ?>
                                <a href="<?php echo $_category->getUrl() ?>" title="<?php echo $_category->getName() ?>"
                                   class="product-image">
                                    <img src="<?php echo $_category->getImageUrl() ?>"
                                         alt="<?php echo $_category->getName() ?>" width="220">
                                </a>
                            <?php endif; ?>
                            <div class="details-area">
                                <div class="product-name">
                                    <a href="<?php echo $_category->getUrl() ?>"
                                       title="<?php echo $this->stripTags($_category->getName(), null, true) ?>">
                                        <?php echo $this->stripTags($_category->getName(), null, true) ?>
                                    </a>
                                </div>
                                <a title="<?php echo $_category->getName(); ?> - <?php echo $this->__('View more'); ?>"
                                   href="<?php echo $_category->getUrl(); ?>" class="category-grid-link-more">
                                    <?php echo $this->__('Узнать больше'); ?>
                                </a>
                            </div>
                        </div>
                    </div>
                </li> <!-- /.item -->
            
            <?php endforeach ?>
        </ul> <!-- /.products-grid -->
    </div> <!-- /.category-products.category-grid -->
<?php endif ?>