<div class="home-side-menu-type2">
    <div class="side-menu-header"><h2><?php echo $this->__('SHOP CATEGORIES') ?><i class="icon-triangle-down"></i></h2></div>
    <?php echo $this->getChildHtml(); ?>
</div>