<?php
    $posts = $this->getPosts();
    $store = Mage::app()->getStore();
    $code  = $store->getCode();
	
	 $aspect_ratio = Mage::getStoreConfig("porto_settings/category/aspect_ratio",$code);
    $ratio_width = Mage::getStoreConfig("porto_settings/category/ratio_width",$code);
    $ratio_height = Mage::getStoreConfig("porto_settings/category/ratio_height",$code);
	
?>
<?php if(!$posts->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
    <?php // Grid Mode ?>

    <?php $_collectionSize = $posts->count();
        $_columnCount = $this->getColumnCount();
        if(!$_columnCount)
            $_columnCount = 4;
    ?>
   <ul class="products-grid columns<?php echo $_columnCount; ?>">
            <?php
            $i = 0;
            foreach ($posts as $_product):
                ?>
            <li class="item col-xs-12 col-sm-6 col-md-4">
                    <div class="item-area">
                        <div class="news-product-image-area product-image-area">
                    <a href="<?php echo $_product->getAddress() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                    <?php
                       if ($banner_content = $_product->getBannerContent()):
                                    ?>
                                    <?php echo $banner_content ?>
                                    <?php
                                else:
                                    ?>
                                    <img class="defaultImage"
                                         src="<?php if ($aspect_ratio): ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250); ?><?php else: ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($ratio_width, $ratio_height); ?><?php endif; ?>"
                                         alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                                    <img class="hoverImage"
                                         src="<?php if ($aspect_ratio): ?><?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250); ?><?php else: ?><?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize($ratio_width, $ratio_height); ?><?php endif; ?>"
                                         alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'thumbnail'), null, true) ?>"/>
                                    <?php
                                endif;
                                ?>
                    </a>
                            </a>

                        </div>

<div class="details-area" style="background-color: #f5f5f5;">
                    <h2 class="product-name"><a href="<?php echo $_product->getAddress() ?>" title="<?php echo $this->stripTags($_product->getTitle(), null, true) ?>"><?php echo $_product->getTitle() ?></a></h2>
                    

					
		        </div>	
  
            </div>
</li>
        <?php endforeach ?>
        </ul>
</div>
<?php endif; ?>
