<?php if($crumbs && is_array($crumbs)): ?>
<div class="col-sm-12 a-left">
    <div class="row">
        <div class="col-md-3 col-lg-2-4"></div>
        <div class="col-sm-9 col-lg-9-6" style="width:80%;margin-left: 21%;">
            <ul>
                <?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
                    <li class="<?php echo $_crumbName ?>">
                        <?php if($_crumbInfo['link']): ?>
                            <a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->escapeHtml($_crumbInfo['title']) ?>"><?php echo $this->escapeHtml($_crumbInfo['label']) ?></a>
                        <?php elseif($_crumbInfo['last']): ?>
                            <strong><?php echo $this->escapeHtml($_crumbInfo['label']) ?></strong>
                        <?php else: ?>
                            <?php echo $this->escapeHtml($_crumbInfo['label']) ?>
                        <?php endif; ?>
                        <?php if(!$_crumbInfo['last']): ?>
                            <span class="breadcrumbs-split">-</span>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
</div>
<?php endif; ?>
