<?php echo $this->getChildHtml('sticky.nav') ?>
<?php
$store = Mage::app()->getStore();
$code = $store->getCode();
$custom_block = Mage::getStoreConfig('porto_settings/header/static_block', $code);
?>
<div class="header-container type4">
    <div class="header-wrapper">
        <div class="main-nav">
            <div class="container">
                <div class="menu-icon"><a href="javascript:void(0)"><i class="fa fa-bars"></i></a></div>
                <div class="top-links-area">
<!--                    <div class="top-links-item comparearti">-->
<!--                        --><?php //$compare_link = $this->getChildHtml('compare_link'); ?>
<!--                        --><?php //echo $compare_link; ?>
<!--                    --><?php //echo $this->getChildHtml('topLinks'); ?>
<!--                    </div>-->
                    <div class="top-links-item">
                        <?php echo $this->getChildHtml('minicart'); ?>
                    </div>
                    <div class="top-links-item user-cabinet-lnks">
<!--                        <div class="top-links-icon">-->
<!--                            <a href="javascript:void(0)">--><?php //echo $this->__("links"); ?><!--</a>-->
<!--                        </div>-->

                        <i class="fa fa-user">
                            <div class="dropdown-cabinet">
                                <?php echo $this->getChildHtml('topLinks'); ?>
                            </div>
                        </i>
<!--                        <span>-->
<!--                            --><?php //echo $this->__("Account"); ?>
<!--                        </span>-->

<!--                        <div class='header-currency-switcher-holder'>-->
<!--                            <a href="/customer/account">My Account</a>-->
<!--                        </div>-->

                    </div>
                </div>
                <?php echo $this->getChildHtml('topMenu') ?>
            </div>
        </div>
    </div>
    <div class="header container">
        <div class="cart-area hidden-xs">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($custom_block)->toHtml(); ?>
            <div class='header-currency-switcher-holder'>
                <?php echo $this->getChildHtml('store_language'); ?>
            </div>
            <div class='header-currency-switcher-holder'>
                <?php echo $this->getChildHtml('store_currency_selector'); ?>
            </div>
        </div>
        <div class="search-area">
            <a href="javascript:void(0);" class="search-icon"><i class="icon-search"></i></a>
            <?php echo $this->getChildHtml('topSearch'); ?>
        </div>
        <?php if ($this->getIsHomePage()): ?>
            <h1 class="logo">
                <strong><?php echo $this->getLogoAlt(); ?></strong>
                <a href="<?php echo $this->getUrl(''); ?>" title="<?php echo $this->getLogoAlt(); ?>" class="logo">
                    <img src="<?php echo $this->getLogoSrc(); ?>" alt="<?php echo $this->getLogoAlt(); ?>"/>
                </a>
            </h1>
        <?php else: ?>
            <a href="<?php echo $this->getUrl(''); ?>" title="<?php echo $this->getLogoAlt(); ?>" class="logo">
                <strong><?php echo $this->getLogoAlt(); ?></strong>
                <img src="<?php echo $this->getLogoSrc(); ?>" alt="<?php echo $this->getLogoAlt(); ?>"/>
            </a>
        <?php endif; ?>
        <?php echo $this->getChildHtml("demo_header_tooltip"); ?>
    </div>
</div>
<?php echo $this->getChildHtml('mobile.nav') ?>
<style>
    .dropdown-cabinet {
        display: none;
        position: fixed;
        height: 100px;
        background: #343838;
        padding: 10px 20px;

    }
    .user-cabinet-lnks .fa-user:hover .dropdown-cabinet{
        display: block;
    }
    .user-cabinet-lnks .fa-user:before {
        content: "\f007";
        color: #12A3A7;
        font-size: 20px;
        cursor: pointer;
    }
   .header-container .top-links-item.user-cabinet-lnks .top-links-icon{
        display: block;
    }
    .header-container .top-links-area .links li {
        display: block;
        margin: 6px;
        list-style: none;
    }
    .header-container .top-links-item:before {
        display: none;
    }
    .form-language.top-select select
    {
        color: #0ca5b0;
        background: #343838 !important;
    }
    </style>
<script type="text/javascript">
    jQuery(function ($) {

        // LEVEL2 Menu hover(mouseenter\mouseleave) handlers
        $(".home-side-menu-type2>.side-block ul.category-list li ul li.has-children > a").on("mouseenter", function () {
            $(".home-side-menu-type2>.side-block ul.category-list li ul li.has-children ul").each(function () {
                $(this).slideUp();
            });
            $(this).parent().children("ul").slideDown();
            $(this).parent().addClass("opened");
        });
        $(".home-side-menu-type2>.side-block ul.category-list li ul li.has-children ul").on("mouseleave", function () {
            $(this).parent().children("ul").slideUp();
            $(this).parent().removeClass("opened");
        });
    });

    function toggleClassSubMenu() {
        if(!dropMenu.classList.contains("menu--visible")) {
            dropMenu.classList.add("menu--visible");
        } else {
            dropMenu.classList.remove('menu--visible');
        }
    }

    function toggleClassMenu(event) {
        var target = event.target;
        while (target != this) {
            if (target.tagName == 'A' && target.parentNode.classList.contains("menu-item-has-children")) {
//                event.preventDefault();
            }
            if (target.classList.contains("menu-item-has-children")) {
                if(!target.classList.contains("open-drop")) {
                    target.classList.add('open-drop');
                } else {
                    target.classList.remove('open-drop');
                }
                return;
            }
            target = target.parentNode;
        }
        myMenu.classList.add("menu--animatable");
        if(!myMenu.classList.contains("menu--visible")) {
            myMenu.classList.add("menu--visible");
        } else {
            myMenu.classList.remove('menu--visible');
        }
    }

    function OnTransitionEnd() {
        myMenu.classList.remove("menu--animatable");
    }

    var myMenu = document.querySelector(".menu-all-pages-container");
    var oppMenu = document.querySelector(".menu-icon");
    var dropMenuItem = document.querySelector(".menu-item-has-children");

    myMenu.addEventListener("transitionend", OnTransitionEnd, false);
    oppMenu.addEventListener("click", toggleClassMenu, false);
    myMenu.addEventListener("click", toggleClassMenu, false);

</script>
