.tooltipster-light {
    opacity: 0.9;
    background-color: white;
    border: 1px solid #cfcfcf;
    border-radius: 1px;
    box-shadow: 2.5px 4.3px 3px rgba(0, 0, 0, 0.1);
}

.tooltipster-light .tooltipster-content {
    font-size: 14px;
    color: #343838;
    font-weight: 400;
    text-align: left;
    line-height: 16px;
    padding: 18px 21px;
}