<?php $menuHelper = Mage::helper('megamenu'); ?>
<?php $menuData = $menuHelper->getMenuData();
extract($menuData); ?>

<div class="menu-all-pages-container">
    <ul class="menu">
        <?php echo $menuHelper->getMenuContent(); ?>
    </ul>
</div>
<script type="text/javascript">
    //<![CDATA[
    var SW_MENU_POPUP_WIDTH = <?php echo $_popupWidth; ?>;
    //]]>
</script>