<?php
$_helper = $this->helper('catalog/output');
$store = Mage::app()->getStore();
$code = $store->getCode();
$aspect_ratio = Mage::getStoreConfig("porto_settings/category/aspect_ratio", $code);
$ratio_width = Mage::getStoreConfig("porto_settings/category/ratio_width", $code);
$ratio_height = Mage::getStoreConfig("porto_settings/category/ratio_height", $code);
?>
<style>
.block.block-related
{
  float: right;
  width: 75%;
}
.price-box
{
  width: 100%;

}
.product-image-area .actions .splitter
{
  left: 93px;
}
.product-image-area .actions a.addtocart
{
  top: 33px;
}
.product-image-area .actions a.productview
{
  top: 27%;
}
.col-main .category-products li.item .product-image img
{
  min-height: 233px;
}
</style>
<?php if($this->getItems()->getSize()): ?>
<div class="block block-related category-products">
    <div class="popular-block-title" style="width: 37%;">
        <img src="/skin/frontend/smartwave/porto/images/icon-plus.png" width="50" height="50">
        <h1><?php echo $this->__('Related Products') ?></h1>
        <hr class="spechr">
    </div>
    <?php
    $i = 0;
    $items = $this->getItems();
    $count = count($items);
    $_columnCount = Mage::getStoreConfig("porto_settings/category_grid/columns", $code);
    ?>
    <ul class="products-grid columns<?php echo $_columnCount; ?><?php if (!Mage::getStoreConfig("porto_settings/category_grid/show_addtolinks", $code)): ?> hide-addtolinks<?php endif; ?><?php if (!Mage::getStoreConfig("porto_settings/category_grid/show_addtocart", $code)): ?> hide-addtocart<?php endif; ?><?php if (Mage::getStoreConfig("porto_settings/category_grid/move_actions", $code)): ?> move-action<?php endif; ?>">
        <?php
        $i = 0;
        foreach ($items as $_product):
            ?>
            <?php $isShares = Mage::getModel('catalog/product')->load($_product->getId())->getIsShares(); ?>
            <li class="item col-xs-12 col-sm-6 col-md-4">
                <div class="item-area <?php echo ($isShares) ? 'shares-item' : ''; ?>">
                    <div class="product-image-area relateds">
                        <a href="<?php echo $_product->getProductUrl() ?>"
                           title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                           class="product-image">
                            <?php
                            if (Mage::getStoreConfig("porto_settings/category/alternative_image", $code)):
                                ?>
                                <img class="defaultImage"
                                     src="<?php if ($aspect_ratio): ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250); ?><?php else: ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($ratio_width, $ratio_height); ?><?php endif; ?>"
                                     alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                                <img class="hoverImage"
                                     src="<?php if ($aspect_ratio): ?><?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250); ?><?php else: ?><?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize($ratio_width, $ratio_height); ?><?php endif; ?>"
                                     alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'thumbnail'), null, true) ?>"/>
                                <?php
                            else:
                                ?>
                                <img
                                    src="<?php if ($aspect_ratio): ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250); ?><?php else: ?><?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($ratio_width, $ratio_height); ?><?php endif; ?>"
                                    alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                                <?php
                            endif;
                            ?>
                            <?php
                            // Deal Discount Products Labels Grid Mode
                            if (Mage::getStoreConfig("dailydeal/general/enable", $code)):
                                $deal = Mage::getModel('dailydeal/dailydeal')->getDealByProduct($_product->getId());

                                if ($deal && ($deal->getQuantity() - $deal->getSold() > 0)):
                                    ?>
                                    <?php $now = Mage::getModel('core/date')->timestamp(time()) ?>
                                    <?php $endTime = Mage::getModel('core/date')->timestamp(strtotime($deal->getCloseTime())); ?>
                                    <?php
                                    $diff = $deal->getDealPrice() / $_product->getPrice();
                                    $dealDiscount = $deal->getSave();
                                    ?>
                                    <div class="product-label">
                                        <span class="discount-percent-icon">
                                            <span>-<?php echo round($dealDiscount, 1); ?>%</span>
                                        </span>
                                    </div>
                                    <div class="bottom-product-dailydeal bottom-home-dailydeal">
                                        <ul class="time-left">
                                            <div class="timeleft timeleft_<?php echo $_product->getId() ?>"></div>
                                        </ul>
                                    </div>
                                    <script type="text/javascript">
                                        //<![CDATA[
                                        if (typeof dailydealTimeCountersCategory[<?php echo $deal->getId() ?>] == 'undefined') {
                                            dailydealTimeCountersCategory[<?php echo $deal->getId() ?>] = new DailydealTimeCounter('<?php echo $now ?>', '<?php echo $endTime ?>', '<?php echo $deal->getId() ?>');
                                            dailydealTimeCountersCategory[<?php echo $deal->getId() ?>].setTimeleft('timeleft_<?php echo $_product->getId() ?>');
                                        }
                                        //]]>
                                    </script>
                                    <?php
                                endif;
                            endif;
                            ?>
                        </a>
                        <?php
                        // Discount Products Labels Grid Mode
                        $sale_label = false;
                        // Get the Special Price
                        $specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice();
                        // Get the Special Price FROM date
                        $specialPriceFromDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialFromDate();
                        // Get the Special Price TO date
                        $specialPriceToDate = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialToDate();
                        // Get Current date
                        $today = time();

                        if ($specialprice):
                            // view discount percents
                            if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)):
                                if (Mage::getStoreConfig("porto_settings/product_label/sale", $code)):
                                    $sale_label = true;
                                    $diff = $_product->getPrice() - $specialprice;
                                    $percent = $_product->getPrice() / 100;
                                    $discount = $diff / $percent;
                                    ?>
                                    <div class="product-label">
                                        <span class="discount-percent-icon">
                                            <span>-<?php echo round($discount, 0); ?>%</span>
                                        </span>
                                    </div>
                                    <?php
                                endif;
                            endif;
                        endif;
                        ?>
                        <?php
                        $now = date("Y-m-d");
                        $newsFrom = substr($_product->getData('news_from_date'), 0, 10);
                        $newsTo = substr($_product->getData('news_to_date'), 0, 10);
                        if ($newsTo != '' || $newsFrom != ''):
                            if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)):
                                if (Mage::getStoreConfig("porto_settings/product_label/new", $code)):
                                    ?>
                                    <div class="product-label"
                                         style="<?php echo ($sale_label) ? "top: 40px;" : ""; ?>"><span
                                            class="new-product-icon"><?php echo Mage::getStoreConfig("porto_settings/product_label/new_label_text", $code); ?></span>
                                    </div>
                                    <?php
                                endif;
                            endif;
                        endif;
                        ?>
                        <?php
                        $productIsSaleCustom = Mage::getModel('catalog/product')->load($_product->getId())->getIsSale();
                        ?>
                        <?php if ($productIsSaleCustom):
                            // IsSale checked to Yes
                            if (Mage::getStoreConfig("porto_settings/product_label/sale", $code)):
                                $sale_label = true;
                                ?>
                                <div class="product-label">
                                   <span class="sale-product-icon">Sale</span>
                                </div>
                                <?php
                            endif;
                        endif; ?>
                        <?php
                        $rewardPoints = Mage::getModel('catalog/product')->load($_product->getId())->getRewardPointsPro();
                        if ($rewardPoints): ?>
                            <div class="product-label">
                                <span class="reward-points-product-icon">
                                    <span class="reward-points-tooltip" title="<?php echo $this->__('When you purchase this product you receive the <strong>%s of bonuses!</strong>', $rewardPoints); ?></br></br>
                                    <?php echo $this->__('1 bonus = 1 dollar!'); ?>">
                                        <?php echo $rewardPoints; ?>
                                        <img src="<?php echo $this->getSkinUrl('images/star.png')?>" alt="">
                                    </span>
                                </span>
                            </div>
                        <?php endif; ?>
                        <?php
                        if ($isShares): ?>
                            <div class="product-label">
                                <span class="shares-product-icon"><?php echo $this->__('Акция'); ?></span>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="details-area <?php echo ($isShares) ? 'shares-area' : ''; ?>">
                        <div class="product-name">
                            <?php if ($isShares): ?>
                                <?php
                                $sharesURL = Mage::getModel('catalog/product')->load($_product->getId())->getSharesUrl();
                                if ($sharesURL): ?>
                                    <a href="<?php echo $sharesURL ?>"
                                       title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                    </a>
                                <?php else: ?>
                                    <a href="<?php echo $_product->getProductUrl() ?>"
                                       title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                    </a>
                                <?php endif; ?>
                                <p class="description">
                                    <?php echo $_product->getShortDescription(); ?>
                                    <?php if ($sharesURL): ?>
                                        <a href="<?php echo $sharesURL ?>"
                                           title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                            <img src="/skin/frontend/smartwave/porto/images/arti/arrow-learn_more.png" alt="">&nbsp;&nbsp;<?php echo $this->__('Узнать больше'); ?>
                                        </a>
                                    <?php else: ?>
                                        <a href="<?php echo $_product->getProductUrl() ?>"
                                           title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                            <img src="/skin/frontend/smartwave/porto/images/arti/arrow-learn_more.png" alt="">&nbsp;&nbsp;<?php echo $this->__('Узнать больше'); ?>
                                        </a>
                                    <?php endif; ?>
                                </p>
                            <?php else: ?>
                                <a href="<?php echo $_product->getProductUrl() ?>"
                                   title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                    <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                </a>
                            <?php endif; ?>
                        </div>
                        <?php /*
                if (Mage::helper('catalog')->isModuleEnabled('Mage_Review')):
                if($_product->getRatingSummary()):
                */
                        ?><!--
                <?php /*
                    $review_html = $this->getReviewsSummaryHtml($_product, 'short');
                    if($review_html){
                        echo $review_html;
                    }else{
                */
                        ?>
                    <div class="ratings">
                        <div class="rating-box">
                            <div class="rating" style="width:0"></div>
                        </div>
                    </div>
                <?php
                        /*                        }
                                            */
                        ?>
                <?php /*else: */
                        ?>
                    <div class="ratings">
                        <div class="rating-box">
                            <div class="rating" style="width:0"></div>
                        </div>
                    </div>
                --><?php /*
                endif;
                endif;
                */
                        ?>
                        <?php if (!$isShares): ?>
                            <?php echo $this->getPriceHtml($_product, true) ?>
                            <div class="actions">
                                <div class="actions-container">
                                    <a href="<?php echo $_product->getProductUrl() ?>" class="productview"
                                       title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                        <i class="icon-eye"></i>
                                        <span
                                            style="margin-left: -18px;"><?php echo $this->__('Product View') ?></span>
                                    </a>

                                    <div class="splitter">&nbsp;</div>

                                    <?php if ($_product->isSaleable()): ?>
                                        <?php // In Stock ?>
                                        <?php if (!($_product->getTypeInstance(true)->hasOptions($_product)/*$_product->getData('has_options')*/ || $_product->isGrouped())) : ?>
                                            <a href="<?php if (Mage::getStoreConfig("ajaxcart/addtocart/enablecategory", $code)): ?>javascript:setLocationAjax('<?php echo $this->getAddToCartUrl($_product) ?>')<?php else: ?><?php echo $this->getAddToCartUrl($_product) ?><?php endif; ?>"
                                               class="addtocart" title="<?php echo $this->__('Add to Cart') ?>">
                                                <i class="icon-basket"></i>
                                                <span><?php echo $this->__('Add to Cart') ?></span>
                                            </a>
                                        <?php else : ?>
                                            <a href="<?php if (Mage::getStoreConfig("ajaxcart/addtocart/enablecategory", $code)): ?>javascript:showOptions('<?php echo $_product->getId() ?>')<?php else: ?><?php echo $this->getAddToCartUrl($_product) ?><?php endif; ?>"
                                               class="addtocart" title="<?php echo $this->__('Add to Cart') ?>">
                                                <i class="icon-basket"></i>
                                                <span><?php echo $this->__('Add to Cart') ?></span>
                                            </a>
                                            <a href='<?php echo $this->getUrl('ajaxcart/index/options', array('product_id' => $_product->getId())); ?>'
                                               class='fancybox' id='fancybox<?php echo $_product->getId() ?>'
                                               style='display:none'>Options</a>
                                        <?php endif;
                                    else:
                                        // Out of Stock ?>
                                        <a href="javascript:void(0);" class="addtocart outofstock"
                                           title="<?php echo $this->__('Out of stock') ?>">
                                            <span><?php echo $this->__('Out of stock') ?></span>
                                        </a>
                                    <?php endif;
                                    if (Mage::getStoreConfig("porto_settings/category/compare", $code) && $_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                        
                                    <?php endif; ?>
                                </div>
                                <div class="clearer"></div>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
    <script type="text/javascript">
        jQuery('span[data-toggle="tooltip"]').tooltip();
    </script>
</div>
<?php endif ?>
